In [1]:
import mysql.connector as conn

In [2]:
mydb = conn.connect(host = "localhost", user = "root" , passwd = "Ns.np#123")

In [3]:
cursor = mydb.cursor()

In [4]:
cursor.execute("show databases")

In [5]:
cursor.fetchall()

[('cardataset1',),
 ('information_schema',),
 ('mysql',),
 ('namdeo',),
 ('performance_schema',)]

In [6]:
cursor.execute("select  * from testsudhineuron.glassdata1")

ProgrammingError: 1049 (42000): Unknown database 'testsudhineuron'

In [ ]:
cursor.fetchall()

In [ ]:
cursor.execute( "select * from testsudhineuron1.ineuron")

In [ ]:
cursor.fetchall()

In [ ]:
cursor.execute("select col1,col5,col10,col4 from testsudhineuron.glassdata1") # order and repeatation of coloumb doesnt matter it can access all things in proper manner

In [ ]:
cursor.fetchall()

In [ ]:
cursor.execute("select * from testsudhineuron.glassdata1 WHERE col1 = 4")

In [ ]:
cursor.fetchall()

In [ ]:
cursor.execute("select * from testsudhineuron.glassdata1 WHERE col1 = 4 and col11 = 0")

In [ ]:
cursor.fetchall()

In [ ]:
cursor.execute("delete from testsudhineuron.glassdata1 where col1 = 4")

In [ ]:
mydb.commit()

In [ ]:
cursor.execute("delete from testsudhineuron.glassdata1 where col1 = 2")

In [ ]:
mydb.commit()

In [ ]:
cursor.execute("select * from testsudhineuron.glassdata1")

In [ ]:
cursor.fetchall()

In [ ]:
cursor.execute("UPDATE testsudhineuron.glassdata1  SET col1 = 6 , col5 = 8 WHERE col1 = 4")   # update operation

In [ ]:
mydb.commit()

In [ ]:
cursor.execute("select * from testsudhineuron.glassdata1")

In [ ]:
cursor.fetchall()

In [ ]:
cursor.execute("select * from testsudhineuron.glassdata1 WHERE col1 = 6")# filter it out from all the big data set

In [ ]:
cursor.fetchall() #check col1 and col2 updated

In [ ]:
 #try to understand group by operation

In [ ]:
cursor.execute("select count(col1), col2 from testsudhineuron.glassdata1 group by col1")

In [ ]:
cursor.fetchall()

In [ ]:
cursor.execute("select count(col1), col2, col3,col4 from testsudhineuron.glassdata1 group by col1")

In [ ]:
cursor.fetchall()

In [ ]:
cursor.execute("select col1, count(col1), col11 from testsudhineuron.glassdata1 ")

In [ ]:
cursor.fetchall()

In [ ]:
cursor.execute("select col1, count(col1), col11 from testsudhineuron.glassdata1 group by col1 ")

In [ ]:
cursor.fetchall()

In [ ]:
#how many times 2 in col1 or 6 in col1 .... find out

In [ ]:
cursor.execute("select  * from testsudhineuron.glassdata1 where col1 = 6")

In [ ]:
cursor.fetchall()

In [ ]:
 #how many times which value appear in col1 try to give it to me

In [ ]:
cursor.execute("select col1, count(col1) from testsudhineuron.glassdata1 group by col1 order by col1") # it will give you the group by its order and how many times it apears

In [ ]:
cursor.fetchall()

In [ ]:
#specific number(25) appear in which rows... find out

In [ ]:
cursor.execute("select  * from testsudhineuron.glassdata1 where col1 = 25")

In [ ]:
cursor.fetchall()

In [ ]:
cursor.execute("select * from testsudhineuron1.ineuron")

In [ ]:
cursor.fetchall()

In [ ]:
 # how many student enroll for FSDS find out = ans is 6

In [ ]:
cursor.execute("select count(classname) from testsudhineuron1.ineuron where classname = 'FSDS'")

In [ ]:
cursor.fetchall()

In [ ]:
cursor.execute("select count(*), classname from testsudhineuron1.ineuron where classname = 'FSDS'")

In [ ]:
cursor.fetchall()

In [ ]:
cursor.execute("select count(*), classname from testsudhineuron1.ineuron group by classname")

In [ ]:
cursor.fetchall()

In [ ]:
cursor.execute("select count(*), studentid from testsudhineuron1.ineuron group by studentid")

In [ ]:
cursor.fetchall()

In [ ]:
cursor.execute("select count(*), studentid from testsudhineuron1.ineuron where studentid = 1234789654") #specific studentid findout

In [ ]:
cursor.fetchall()

In [ ]:
cursor.execute("drop table testsudhineuron1.ineuron") # we have drop this table

mydb.commit(

In [ ]:
cursor.execute("select count(*), studentid from testsudhineuron1.ineuron where studentid = 1234789654") #so already drop the table

In [ ]:
cursor.execute("select * from testsudhineuron.glassdata1")

In [ ]:
cursor.fetchall()

In [ ]:
#try to fit col1 value=11 and col11 value = 2

In [ ]:
cursor.execute("select col1, col2, col11 from testsudhineuron.glassdata1 where col1 = 11 or col11 = 2")

In [ ]:
cursor.fetchall()

In [ ]:
cursor.execute("select col1, col2, col11 from testsudhineuron.glassdata1 where col1 = 11 and col11 = 2")

In [ ]:
cursor.fetchall()          # we dont have col1 value =11 and col11 value is 2 ....  here digital electronics thigs appear like AND and OR operation

In [ ]:
#commit command use incase of deletation, updating and insertion record operation

In [ ]:
cursor.execute("select * from testsudhineuron.glassdata1 where col2 like '1.515%'")# we have fetch all the record having inside col2 1.151

In [ ]:
cursor.fetchall()

In [ ]:
cursor.execute("select * from testsudhineuron.glassdata1 where col2 like '%1.515%'")

In [ ]:
cursor.fetchall()

In [ ]:
cursor.execute("select * from testsudhineuron.glassdata1")

In [ ]:
cursor.fetchall()

In [ ]:
#i would like to order the entire data set in assending order

In [ ]:
cursor.execute("select * from testsudhineuron.glassdata1 order by col2")

In [ ]:
cursor.fetchall()

In [ ]:
#by record we required a dataset oc col2 in decending order

In [ ]:
cursor.execute("select * from testsudhineuron.glassdata1 order by col2 desc")

In [ ]:
cursor.fetchall()

In [ ]:
cursor.execute("select * from testsudhineuron.glassdata1 where col1 =112")

In [ ]:
cursor.fetchall()

In [ ]:
cursor.execute("select * from testsudhineuron.glassdata1 where col1 > 112")

In [ ]:
cursor.fetchall()

In [ ]:
cursor.execute("select * from (select * from testsudhineuron.glassdata1 where col1 > 112 ) as a where col11= 3")# here as = alias we can use as=>as sudh

In [ ]:
cursor.fetchall()

In [ ]:
cursor.execute("select * from testsudhineuron.glassdata1")

In [ ]:
cursor.fetchall()

In [ ]:
#any value apear more times so fetch all of these record whose value more than 1

In [ ]:
cursor.execute("select * from testsudhineuron.glassdata1 where count(col1)>  2")# it will not be able to count bcoz grp is not created

In [ ]:
cursor.execute("select * from testsudhineuron.glassdata1 group by col1")

In [ ]:
cursor.fetchall()

In [ ]:
cursor.execute("select * from testsudhineuron.glassdata1 group by col1 having count(col1)>2")

In [ ]:
cursor.fetchall() # this is correct statement but not working

In [ ]:
cursor.execute("select * from testsudhineuron.glassdata1 where col1 = 6")

In [ ]:
cursor.fetchall()