In [ ]:
a = 10

In [ ]:
type(a)

In [ ]:
if a < 15:
    print("ok")

In [ ]:
a < 15

In [ ]:
if a < 15:
    print("this statement is true")

In [ ]:
if a < 15:
    pass

In [ ]:
if a < 20:
    print('my name is sudh')

In [ ]:
if 21 < 15:
    print("my name is sudh")

In [ ]:
24 < 15

In [ ]:
if 10< 3:
    print("10 is lesser than 3")

In [ ]:
if 10 < 3:
    print("10 is lesser than 3")
else:
    print("this is wrong statement")

In [ ]:
if 5 < 30:
    print("my name is sudh")
else:
    print("this is wrong statement")

In [ ]:
if 10 < 5:
    print("this is correct statement")              #Always maintain the proper indentation
else:
print('this is wrong statemeent')

In [ ]:
income = 100
if income < 50:
    print("i will able to buy a phone")
elif income < 70:
    print("i will able to buy a car")
elif income < 90:
    print("i will able to buy a house")
else :
    print("i wont be buy anything")

In [ ]:
income = int(input())
if income < 10:
    print("do it")
elif income < 20:
    print("yes you can")
elif income < 50:
    print("go ahead")
else:
    print("give up")

In [ ]:
income = int(input())
if income < 10:
    print("do it")
elif income < 20:
    print("yes you can")
elif income < 50:
    print("go ahead")
else:
    print("give up")

In [ ]:
income = int(input())
if income < 10:
    print("do it")
elif income < 20:
    print("yes you can")
elif income < 50:
    print("go ahead")
else:
    print("give up")

In [ ]:
income = int(input())
if income < 10:
    print("do it")
elif income < 20:
    print("yes you can")
elif income < 50:
    print("go ahead")
else:
    print("give up")

In [ ]:
income = int(input())
if income < 10:
    print("do it")
elif income < 20:
    print("yes you can")
elif income < 50:
    print("go ahead")
else:
    print("give up")

In [ ]:
income = int(input())
if income < 50:
    print("i will able to buy a phone")
elif income < 70:
    print("i will able to buy a car")
elif income < 90:
    print("i will able to buy a house")
else :
    print("i wont be buy anything")

In [ ]:
income = int(input())
if income < 50:
    print("i will able to buy a phone")
elif income < 70:
    print("i will able to buy a car")
elif income < 90:
    print("i will able to buy a house")
else :
    print("i wont be buy anything")

In [ ]:
income = int(input())
if income < 50:
    print("i will able to buy a phone")
elif income < 70:
    print("i will able to buy a car")
elif income < 90:
    print("i will able to buy a house")
else :
    print("i wont be buy anything")

In [ ]:
income = int(input())
if income < 50:
    print("i will able to buy a phone")
elif income < 70:
    print("i will able to buy a car")
elif income < 90:
    print("i will able to buy a house")
else :
    print("i wont be buy anything")

In [ ]:
income = int(input())
if income < 50:
    print("i will able to buy a phone")
elif income < 70:
    print("i will able to buy a car")
elif income < 90:
    print("i will able to buy a house")
else :
    print("i wont be buy anything")

In [ ]:
income = int(input())
if income < 50:
    print("i will able to buy a phone")
elif income < 70:
    print("i will able to buy a car")
elif income < 90:
    print("i will able to buy a house")
else :
    print("i wont be buy anything")

In [ ]:
total_price = int(input())
if total_price > 50000:
    discount = total_price*.20
    print("discount will be" , discount)
elif total_price > 20000:
    discount = total_price*.05
    print("discount will be" , discount)
else:
    print("you would not able to get any discount")

In [ ]:
total_price = int(input())
if total_price > 50000:
    discount = total_price*.20
    print("discount will be" , discount)
elif total_price > 20000:
    discount = total_price*.05
    print("discount will be" , discount)
else:
    print("you would not able to get any discount")

In [ ]:
total_price = int(input())
if total_price >= 50000:
    discount = total_price*.20
    print("discount will be" , discount)
elif total_price >= 20000:
    discount = total_price*.05
    print("discount will be" , discount)
else:
    print("you would not able to get any discount")

In [ ]:
total_price = int(input())
if total_price >= 50000:
    discount = total_price*.20
    print("discount will be" , discount)
elif total_price >= 20000:
    discount = total_price*.05
    print("discount will be" , discount)
else:
    print("you would not able to get any discount")

In [ ]:
total_price = float(input())
if total_price >= 50000:
    discount = total_price*.20
    print("discount will be" , discount)
elif total_price >= 20000:
    discount = total_price*.05
    print("discount will be" , discount)
else:
    print("you would not able to get any discount")

In [ ]:
total_price = int(input())
if total_price < 50000:
    discount = total_price*.20
    print("discount will be" , discount)
elif total_price < 20000:
    discount = total_price*.05
    print("discount will be" , discount)
else:
    print("you would not able to get any discount")

In [ ]:
total_price = int(input())
if total_price < 50000:             #inside this program it will always consider as a 20% discount for any amount
    discount = total_price*.20
    print("discount will be" , discount)
elif total_price < 20000:
    discount = total_price*.05
    print("discount will be" , discount)
else:
    print("you would not able to get any discount")

In [ ]:
total_price = int(input())
if total_price > 20000:
    discount = total_price*.20
    print("discount will be" , discount)
elif total_price < 20000:
    discount = total_price*.05
    print("discount will be" , discount)
else:
    print("you would not able to get any discount")

In [ ]:
total_price = int(input())
if total_price > 20000:
    discount = total_price*.50
    print("discount will be", discount)
elif total_price > 7000:
    discount = total_price*.10
    print("discount will be", discount)

In [ ]:
total_price = int(input())
if total_price > 20000:
    discount = total_price*.50
    print("discount will be", discount)
elif total_price > 7000:
    discount = total_price*.10
    print("discount will be", discount)

In [ ]:
total_price = int(input())
if total_price > 20000:
    discount = total_price*.50
    print("discount will be", discount)
elif total_price > 7000:
    discount = total_price*.10
    print("discount will be", discount)

In [ ]:
total_price = int(input())
if total_price > 20000:
    discount = total_price*.50
    print("discount will be", discount)
elif total_price > 7000:
    discount = total_price*.10
    print("no discount")

In [ ]:
total_price = int(input())
if total_price > 20000:
    discount = total_price*.50
    print("discount will be", discount)
elif total_price > 7000:
    discount = total_price*.10
    print("no discount")

In [1]:
coursework1 = input("Input coursework1 name ")
score_theory1 = int(input("input score_theory1 "))
score_practical1 = int(input("input score_practical1 "))
coursework2 = input("Input coursework2 name ")
score_theory2 = int(input("input score_theory2 "))
score_practical2 = int(input("input score_practical2 "))
if(coursework1 == "English" or coursework1 == "english"):
    if(score_theory1 >70):
        print("Invalid input")
    elif(score_practical1>70):
        print("Invalid input")
    else:
        print("Sum of theory and practical in english ",score_theory1+score_practical1)
if(coursework2 == "Science" or coursework2 == "science"):
    if(score_theory2 >70):
        print("Invalid input")
    elif(score_practical2>70):
        print("Invalid input")
    else:
        print("Sum of theory and practical in Science",score_theory2+score_practical2)
else:
    print("coursework not recognized")

Input coursework1 name english
input score_theory1 45
input score_practical1 62
Input coursework2 name science
input score_theory2 78
input score_practical2 98
Sum of theory and practical in english  107
Invalid input

In [ ]:
study_hour = int(input())
if study_hour <= 1:
    print("it may take  8- 9 month of time to make a transition")
elif study_hour <= 4 and  study_hour >= 1:
    print("it may take 6 month for transition")
elif study_hour >=10 :
    print(" it will take 3 month of time for transition ")
else :
    print("it will be difficult ")

In [ ]:
coup = input()
if coup == "SUDHANSHU5":
    print("you will be able to get a discount of 5%")
    paid_amount = 7080 - 7080*.05
    print("you will access the one neuron course with", paid_amount)
else:
    print("kindly used a valid coupen code")

In [ ]:
coupon = input()
if coupon == "SUDHANSHU5":
    print("you are elegible for discount")
    discount = 7080 - 7080*0.20
    print("the discount amount is", discount)
else:
    print("please used the valid coupon code")

In [ ]:
coup = input()
if coup == "SUDHANSHU5":
    print("you will be able to get a discount of 5%")
    paid_amount = 7080 - 7080*.05
    print("you will access the one neuron course with", paid_amount)
else:
    print("kindly used a valid coupen code")

In [1]:
s = input("enter a string to start ")
course = input("enter a course name ")
service = input("enter a service name ")
if s == "oneneuron":
    if course == "DSA":
        print("yes its available under one neruon and in multiple mode for job prepratoin and core concept ")
    elif course == "Blockchain":
        print("this is not aviable as of now , kindly raise your demand and we will fulfil in 60 days ")
    elif course == "FSDS":
        print("yes its availble , you can start learning ")
    else :
        print("this course is not availble kindly raise your demand ")
elif s  == "oneneuronservice":
    if service == "courserequest":
        print("*NOTE: Dear Learner, you can raise demand related to any new course, and we will fulfil your need in the next 60 days.")
    elif service == "module" :
        print("*NOTE: Dear Learner, you can raise demand related to any new course module, and we will fulfil your need in the next 30 days.")
    elif service == "doubt":
        print("*NOTE: Dear Learner, you can raise demand related to any doubt clearing, and we will fulfil your need in the next 24 hours.")
    elif service == "workwithus":
        print("*NOTE: Dear Learner, you can raise the demand to work with our team; our HR will evaluate and get back to you in 24 hours.")
    else :
        print("kindly provide us your feedback and we will fulfil")
else :
    print("kindly connect with our team ")

enter a string to start oneneuron
enter a course name FSDS
enter a service name workwithus
yes its availble , you can start learning

In [ ]:
s = input("Enter a string to start")
course = input("ENter a code")
service = input("enter a service name")
if s == "oneneuron":
    if course == "DSA":
        print("Yes it is available under OneNeuron and in multiple mode for job preparation and core ")
    elif course =="Blockchain":
        print("this is not available now, kindly raise demand")
    elif course == " FSDS":
        print("Available, start learning")
    else:
        print("Kindly raise demand")
elif s = "oneneuronservice":
    if service == 'courserequest':
        print("Note Dear learner you can raise demand to any new course")
    elif service == "module":
        print("Raise demand to any new course")
    elif service == "doubt":
        print("*Note:Dear Learner you can raise demand")
    elif service == "workwithus":
        print("Note: Dear learner you can raise the demand")
    else :
        print("kidnly provide us ur feedback")
        
else:
    print("Kindly connect with our team")

In [ ]:
s = input("enter a string to start")
course = input("eneter a course name")
service = input("enetr a service name")
if s =="oneneuron":
    if course == "DSA":
        ptint("yes it available under one neuron i multiple code ")
    elif course=="blockchain":
        print("raise ur demand")
    elif course=="FSDS":
        print("yes it is available")
    else :
        print("not available")
elif s =="oneneuronservice":
    if service=="courserequest":
        print("raise demand for new course")
    elif service=="module":
        print("raise demand for module")
    elif service=="doubt":
        print("note doubt clearing") 
    else:
        print("feedback")

In [ ]:
s = input("enter a string to start")
course=input("enter a course name")
service= input("enter service name")
if s == "oneneuron":
    if course == "DSA":
        print("yes it is available under oneneron and in multiple mode for job preperation and core concept")
    elif course=="blockchain":
        print("this is not available as of now, kindly raise your demand")
    elif course == "FSDS":
        print("yes it is available, you can start learning")
    else:
        print("this course is not available")
elif s == "oneneuronservices":
        if service == "courserequest":
            print("abcd")
        elif service == "module":
            print("123654")
        elif service =="work with us":
                print("tyru")
        else:
            print("hyst")
else:
     print("ytr")

In [ ]:
s = input('enter a string to start : ')
if s == 'oneneuron':
  course = input('enter a course name : ')
  if course == 'DSA':
    print('yes it is availbale under oneneuron')
  elif course == 'Blockchain':
    print('this is not availble at the moment kindly raise a request.')
  else:
    print('kindly raise  your demand')
elif s == 'oneneuronservice':
  service = input('what kind of service you want : ')
  if service == 'servicerequest':
    print('this is not availble at the moment kindly raise a request.')
  elif service == 'module':
    print('this is not availble at the moment kindly raise a request.')
  else :
    print('kindly provide us your feedback')
else:
  print('kindly contact our team')

In [ ]:
"sudh"=="sudh"

In [1]:
l = [1,2,3,4,5,6,2.5,4.2,"sudh", "KUMAR", 6+5j, [56,45,78, "ffsd"]]

In [2]:
l

[1, 2, 3, 4, 5, 6, 2.5, 4.2, 'sudh', 'KUMAR', (6+5j), [56, 45, 78, 'ffsd']]

In [3]:
for i in l :
    print(type(i) , "type of " , i )

<class 'int'> type of  1
<class 'int'> type of  2
<class 'int'> type of  3
<class 'int'> type of  4
<class 'int'> type of  5
<class 'int'> type of  6
<class 'float'> type of  2.5
<class 'float'> type of  4.2
<class 'str'> type of  sudh
<class 'str'> type of  KUMAR
<class 'complex'> type of  (6+5j)
<class 'list'> type of  [56, 45, 78, 'ffsd']

In [4]:
l = [1 ,4,5.6 ]
l1 = []
for i in l :
    print(i+2)
    l1.append(i+2)

3
6
7.6

In [5]:
l.index("sudh")

ValueError: 'sudh' is not in list

In [6]:
l.index(6+5j)

ValueError: (6+5j) is not in list

In [ ]:
l[6]

In [ ]:
l[6][2]

In [ ]:
l[9][1]

In [ ]:
 # remove all str from the list
for i in l:
    if type(i) == str:
        print(i)
    elif type(i) == list:
        for j in i:
            if type(j)== str:
                print(j)

In [ ]:
for i in l:
    print(i)

In [ ]:
for i in l:
    if type(i) == int:
        print(i*i)

In [ ]:
#to extract square of all integer
for i in l:
    if type(i)== int:
        print(i*i)
    elif type(i) == list:
        for j in i:
            if type(j)== int:
                print(j*j)

In [ ]:
len(l)

In [ ]:
range(len(l))

In [ ]:
# to extract index of all variables in list
for i in range(len(l)):
    print("index", i, "for an element", l[i])

In [ ]:
for i in enumerate(l):
    print(i)

In [ ]:
for i,j in enumerate(l):
    print(i,j)

In [ ]:
l

In [ ]:
for i in l:
    if type(i)== str:
        l1 = []
        for j in i:
            l1.append(j)
            print(j)

In [ ]:
for i in l:
    if type(i) == str:
        l1 = []
        for j in i:
            l1.append(j)
            print(l1)

In [ ]:
for i  in l:
    if type(i) == str:
        l1 = []
        for j in i:
             l1.append(j)
        print(j)

In [ ]:
###try to extract char in the list l

for i in l:
    if type(i) == str:
        l1 = []
        for j in i:
            l1.append(j)
        print(l1)              #properly looks the indentation how it will affect the result

In [ ]:
for i in l:
    if type(i)== str:
        l1 = []
        for j in i:
            l1.append(j)
            print(l1)

In [ ]:
#try to extract list of all the element , square them and make a list
l2 = []
for i in l:
    if type(i)==int:
        l2.append(i**2)

In [ ]:
l2

In [1]:
l = [2,45,78,12,"sudh", 6 + 7j, [56,67,78,"hhdh"]]
sqr = []
for i in range(len(l)):
    if type(l[i]) == list :
        print("flag")
        for j in range(len(l[i])):
            if type(l[i][j]) == int:
                m = l[i][j]**2
                sqr.append(m)

flag

In [2]:
sqr

[3136, 4489, 6084]

In [3]:
l = [2,45,78,12,"sudh", 6 + 7j, [56,67,78,"hhdh"]]
sqr = []
for i in range(len(l)):
    if type(l[i]) == list :
        print("flag")
        for j in range(len(l[i])):
            if type(l[i][j]) == int:
                m = l[i][j]**2
                sqr.append(m)
sqr

flag

[3136, 4489, 6084]

In [2]:
l = [1,2,3]
s =  [1,2,3,[23,'s',32,'45'],'s']

l.extend(s)
l

[1, 2, 3, 1, 2, 3, [23, 's', 32, '45'], 's']

In [3]:
l=[2,45,78,12, 12, 12, "ash", 7+8j, [6,87,34,"gvjhbjknjn"]]
for i in l:
    if type(i)==str:
        a=[]
        for h in i:
            a.append(h)
    if type(i)==list:
        for k in i:
            if type(k)==str:
                for m in k:
                    a.append(k)
                print(a)

['a', 's', 'h', 'gvjhbjknjn', 'gvjhbjknjn', 'gvjhbjknjn', 'gvjhbjknjn', 'gvjhbjknjn', 'gvjhbjknjn', 'gvjhbjknjn', 'gvjhbjknjn', 'gvjhbjknjn', 'gvjhbjknjn']

In [ ]:
for i in l:
    if type(i)==float or type(i)==int:
        print(i)

In [5]:
l = ["name","emai_id", "mob_no","address"]
for i in l:
    print(i)

name
emai_id
mob_no
address

In [6]:
l = ["name","emai_id", "mob_no","address"]
for i in l:
    print(i+ "  sudh")

name  sudh
emai_id  sudh
mob_no  sudh
address  sudh

In [7]:
l = ["name","emai_id", "mob_no","address"]
for i in l:
    print(i, "  sudh")

name   sudh
emai_id   sudh
mob_no   sudh
address   sudh

In [8]:
s = 'ineuron'
for i in s:
    print(i)

i
n
e
u
r
o
n

In [ ]:
l

In [9]:
for i in l:
    print(i)
else:
    print("if for loop is not complet itself then it will shown else statement")

name
emai_id
mob_no
address
if for loop is not complet itself then it will shown else statement

In [10]:
l

['name', 'emai_id', 'mob_no', 'address']

In [11]:
for i in l:
    if i == "mob_no":
        break
    print(i)
else:
    print("check this statement")

name
emai_id

In [ ]:
for i in l:
    if i == "email_id":  #check email_id speling.
        break
    print(i)
else:
    print("this is wrong statement")

In [ ]:
s = "sudhanshu"
for i in s:
    if i == "n":
        break
    print(i)
else:
    print("dont execute this unless and untill it is not available")

In [ ]:
s = "sudhanshu"
for i in s:
    if i == "n":
        break
else:
    print("dont excuse is unless and untill it is not available")

In [ ]:
a = 1
while a < 6 :
    print(a)           
    a = a+1            #suppose im gonna remove this line, it will shows 1 upto infinite digit

In [13]:
a = 1
for i in range(6):
    print(i)

0
1
2
3
4
5

In [12]:
a = 1
if a < 6:
    print(a)
    a = a+1

1

In [14]:
a = 1
while a < 10 :
    print(a)
    if a == 6 :
        break
    a = a+1

1
2
3
4
5
6

In [15]:
a = 1
while a < 10:
    print(a)
    a = a+1
    if a == 3:
        continue

1
2
3
4
5
6
7
8
9

In [16]:
a = 1
while a < 10:
    print(a)       #continue function used for eleminating some of digit inside the list
    a = a+1
    if a == 3:
        continue

1
2
3
4
5
6
7
8
9

In [20]:
l = ["ram","sha,","seeta","radha"," gopal"]
for i in l:
    if i == "radha":
        continue
    print(i)

ram
sha,
seeta
 gopal

In [19]:
l

['ram', 'sha,', 'seeta', 'radha', ' gopal']

In [2]:
a = 1
while a < 10:
    print(a)
    a = a+1
    if a == 5:
        break

1
2
3
4

In [ ]:
while a <5:
    pass

In [3]:
for i in l:
    pass

NameError: name 'l' is not defined

In [21]:
while a < 4:
    break

In [22]:
a = 1

In [23]:
# while a < 5:        # do not performed such type of operation
    continue

IndentationError: unexpected indent (<ipython-input-23-8afce1805895>, line 2)

In [24]:
range(6)

range(0, 6)

In [25]:
range(0,9)

range(0, 9)

In [26]:
list(range(1,9))

[1, 2, 3, 4, 5, 6, 7, 8]

In [27]:
list(range(0,20))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [28]:
list(range(0,20,2))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [29]:
list(range(3,12))

[3, 4, 5, 6, 7, 8, 9, 10, 11]

In [30]:
list(range(3,10,1))

[3, 4, 5, 6, 7, 8, 9]

In [31]:
list(range(3,15,-1))

[]

In [32]:
list(range(10,4,-1))

[10, 9, 8, 7, 6, 5]

In [33]:
list(range(10,-4,-1))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0, -1, -2, -3]

In [34]:
 list(range(-10,-6,1))

[-10, -9, -8, -7]

In [35]:
 list(range(10,-6,1))

[]

In [36]:
for i in range(7):
    print(i)

0
1
2
3
4
5
6

In [18]:
n = 5
for i in range(0,n) :
    for j in range(0,i+1):
        print("*", end = " ")
    print("\r")

*
* *
* * *
* * * *
* * * * *

In [ ]:
n =5
for i in range(0,n) :           #indentation change the result
    for j in range(0,i+1):
        print("*", end = " ")
        print("\r")

In [ ]:
n = 10
for i in range(0,n):
    for j in range(0,i+1):
        print("*",end = " ")
    print("\r")

In [ ]:
n = 9
for i in range(0,n):
    for j in range(0,i+1):
        print("Np", end = " ")
    print("\r")

In [ ]:
n = 5
for i in range(0,n):
    for j in range(0,i+1):
        print("Np", end = " ")

In [37]:
n = 9
for i in range(0,n):
    for j in range(0,i+1):
        print("Np", end = " ")
    print("\\r")

Np \r
Np Np \r
Np Np Np \r
Np Np Np Np \r
Np Np Np Np Np \r
Np Np Np Np Np Np \r
Np Np Np Np Np Np Np \r
Np Np Np Np Np Np Np Np \r
Np Np Np Np Np Np Np Np Np \r

In [38]:
n = 9
for i in range(0,n):
    for j in range(0,i+1):
        print("Np", end = " ")
    print("\n")

Np

Np Np

Np Np Np

Np Np Np Np

Np Np Np Np Np

Np Np Np Np Np Np

Np Np Np Np Np Np Np

Np Np Np Np Np Np Np Np

Np Np Np Np Np Np Np Np Np

In [39]:
n = 5
for i in range(0,n):
    for j in range(0,i+1):
        print("Np")
    print("\r\r\r")

Np

Np
Np

Np
Np
Np

Np
Np
Np
Np

Np
Np
Np
Np
Np

In [ ]:
n = 9
for i in range(0,n):
    for j in range(0,i+1):
        print("Np", end = " ")
    print("\r\r\r")

In [ ]:
n = 9
for i in range(0,n):
    for j in range(0,i+1):             #\r &\r\r\r work as same opertion
        print("Np", end = " ")
    print("\r")

In [ ]:
n = 9
for i in range(0,n):
    for j in range(0,i+1):
        print("Np", end = " ")
    print("\n\n\n")

In [20]:
n = 9
for i in range(0,n):
    for j in range(0,i+1):
        print("Np", end = " ")
    print("\n\n\r")

Np


Np Np


Np Np Np


Np Np Np Np


Np Np Np Np Np


Np Np Np Np Np Np


Np Np Np Np Np Np Np


Np Np Np Np Np Np Np Np


Np Np Np Np Np Np Np Np Np

In [21]:
a = 10
for i in range(1,a):
    print(i* " *")

 *
 * *
 * * *
 * * * *
 * * * * *
 * * * * * *
 * * * * * * *
 * * * * * * * *
 * * * * * * * * *

In [26]:
a = 10
for i in range(0,a):
    print(i*  " Np")

 Np
 Np Np
 Np Np Np
 Np Np Np Np
 Np Np Np Np Np
 Np Np Np Np Np Np
 Np Np Np Np Np Np Np
 Np Np Np Np Np Np Np Np
 Np Np Np Np Np Np Np Np Np

In [40]:
t = (1,2,3,4,5,6,7,8,9)

In [41]:
t[::1]

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [42]:
t[::-1]

(9, 8, 7, 6, 5, 4, 3, 2, 1)

In [43]:
t

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [44]:
for i in t:
    t[::-1]
    print(i)

1
2
3
4
5
6
7
8
9

In [45]:
list(range(t))

TypeError: 'tuple' object cannot be interpreted as an integer

In [46]:
list(range(t), 0 -1)

TypeError: 'tuple' object cannot be interpreted as an integer

In [47]:
list(range(len(t), 0 -1))

[]

In [36]:
for i in range(len(t)):
    t[::-1]       # this type of reverse operation not work inside tuple
    print(i)

0
1
2
3
4
5
6
7
8

In [48]:
for i in range(len(t)):
    t[::1]
    print(i)

0
1
2
3
4
5
6
7
8

In [49]:
for i in range(len(t)):
    t[::-1]
    print(t)

(1, 2, 3, 4, 5, 6, 7, 8, 9)
(1, 2, 3, 4, 5, 6, 7, 8, 9)
(1, 2, 3, 4, 5, 6, 7, 8, 9)
(1, 2, 3, 4, 5, 6, 7, 8, 9)
(1, 2, 3, 4, 5, 6, 7, 8, 9)
(1, 2, 3, 4, 5, 6, 7, 8, 9)
(1, 2, 3, 4, 5, 6, 7, 8, 9)
(1, 2, 3, 4, 5, 6, 7, 8, 9)
(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [50]:
list(range(len(t),0 -1))

[]

In [51]:
for i in list(range(len(t), 0, -1)):
    print(t[i])

IndexError: tuple index out of range

In [52]:
#it work like that function t[::-1]  
for i in list(range(len(t)-1, 0, -1)):
    print(t[i])

9
8
7
6
5
4
3
2

In [53]:
for i in list(range(len(t)-1, -1, -1)):
    print(t[i])

9
8
7
6
5
4
3
2
1

In [54]:
d = {"a":1, "b":2,"c":3,"d":4,"e":5}

In [45]:
d

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}

In [46]:
for i in d:
    print(i)

a
b
c
d
e

In [47]:
for i in d:
    print(d[i])

1
2
3
4
5

In [48]:
for i in d:
    print(i, d[i])

a 1
b 2
c 3
d 4
e 5

In [49]:
d["c"]

3

In [50]:
d['a']

1

In [51]:
d["d"]

4

In [52]:
d.items()

dict_items([('a', 1), ('b', 2), ('c', 3), ('d', 4), ('e', 5)])

In [53]:
d.keys()

dict_keys(['a', 'b', 'c', 'd', 'e'])

In [54]:
d.values()

dict_values([1, 2, 3, 4, 5])

In [55]:
for i in d.items():
    
    print(i)

('a', 1)
('b', 2)
('c', 3)
('d', 4)
('e', 5)

In [56]:
s = "this is a basic pythan class"

In [57]:
len(s)

28

In [60]:
count = 0
for i in s:
    count = count + 1
    print(i)

t
h
i
s

i
s

a

b
a
s
i
c

p
y
t
h
a
n

c
l
a
s
s

In [61]:
for i in s:
    count = count + 1
    print(i)

t
h
i
s

i
s

a

b
a
s
i
c

p
y
t
h
a
n

c
l
a
s
s

In [62]:
count = 0
for i in s:
    count = count + 1
    print(count)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28

In [63]:
count = 0
for i in s:
    count = count + 1
print(count)

28

In [64]:
count = 0
for i in s:
    count = count + 1
    print(count,i)

1 t
2 h
3 i
4 s
5
6 i
7 s
8
9 a
10
11 b
12 a
13 s
14 i
15 c
16
17 p
18 y
19 t
20 h
21 a
22 n
23
24 c
25 l
26 a
27 s
28 s

In [65]:
count = 0
for i in s:
    count+= 1
    print(count)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28

In [66]:
count = 0
for i in s:
    count+= 1
    print(count,i)

1 t
2 h
3 i
4 s
5
6 i
7 s
8
9 a
10
11 b
12 a
13 s
14 i
15 c
16
17 p
18 y
19 t
20 h
21 a
22 n
23
24 c
25 l
26 a
27 s
28 s

In [67]:
s[::-1]

'ssalc nahtyp cisab a si siht'

In [68]:
for i in range(len(s)-1,-1,-1):
    print(s[i])

s
s
a
l
c

n
a
h
t
y
p

c
i
s
a
b

a

s
i

s
i
h
t

In [69]:
for i in range(len(s)-1,-1,-1):
    print('s[i]', end = " ")
    print("\n")

s[i]

s[i]

s[i]

s[i]

s[i]

s[i]

s[i]

s[i]

s[i]

s[i]

s[i]

s[i]

s[i]

s[i]

s[i]

s[i]

s[i]

s[i]

s[i]

s[i]

s[i]

s[i]

s[i]

s[i]

s[i]

s[i]

s[i]

s[i]

In [70]:
for i in range(len(s)-1,-1,-1):
    print(s[i], end = " ")
    print("\n")

s

s

a

l

c



n

a

h

t

y

p



c

i

s

a

b



a



s

i



s

i

h

t

In [ ]:
s

In [71]:
i = len(s)-1
while (i >= 0):
    print(s[i],  end =" ")
    i = i-1

s s a l c   n a h t y p   c i s a b   a   s i   s i h t

In [ ]:
i = len(s)-1
while (i >= 0):
    print(s[i], end = "")
    i = i-1

In [ ]:
for i in s:
    print(i,end = "")  #end = ""   - is used for converting vertical data into horizental form

In [ ]:
s

In [4]:
s = "ineuron"
v ="AaEeIiOoUu"
for i in s:
    if i in v:
        print('vowel',i)
    else:
        print("not vowel",i)

vowel i
not vowel n
vowel e
vowel u
not vowel r
vowel o
not vowel n

In [5]:
s = "tnent"
if s[::-1] == s:
    print("this is a pelendrom")
else:
    print("this is not pelendrom")

this is a pelendrom

In [2]:
s= "tnent"

In [ ]:
s[::-1]

In [3]:
s = "tnent"
s1= s[::-1]
if s==s1:
    print("this is a pelendrom")
else:
    print("this is not pelendrom")

this is a pelendrom

In [ ]:
s = (input())
s1= s[::-1]
if s==s1:
    print("this is a pelendrom")
else:
    print("this is not pelendrom")

In [ ]:
s = (input())
s1= s[::-1]
if s==s1:
    print("this is a pelendrom")
else:
    print("this is not pelendrom")

In [ ]:
s = (input())
s1= s[::-1]
if s==s1:
    print("this is a pelendrom")
else:
    print("this is not pelendrom")

In [ ]:
s = "malayalam"
if s == s[::-1]:
    print("the word is pelendrom")
else:
    print("the word is not pelendrom")

In [ ]:
s = input()
v =  s[::-1]
if s==v:
    print('this is pelendrom',s)
else:
    print("this is not pelendrom")

In [ ]:
s = input()
v =  s[::-1]
if s==v:
    print('this is pelendrom',s)
else:
    print("this is not pelendrom")

In [9]:
a = input()
for i in range(len(a)):
    if a[i]!=a[len(a)-i-1]:
        print("not pelendrom")
        break
else:
    print("pelendrom")

malayalam
pelendrom

In [ ]:
s = input()
f = ""
i = len(s)-1

while (i >=0 ):           #this is reverse operation
    f = f + s[i]
    i = i - 1
if(s == f):
    print("pelendrom")
else:
    print("not pelemdrom")

In [ ]:
x = "malayalam"
w = ""
for i in x:
    w = i+w
if (x==w):
    print("pelendrom")
else:
    print("not pelendrom")

In [6]:
x = "chitah"
w = ""
for i in x:
    w = i+w
if (x==w):
    print("pelendrom")
else:
    print("not pelendrom")

not pelendrom

In [18]:
x = input()
w = ""
for i in x:
    w = i+w
if (x==w):
    print("pelendrom")
else:
    print("not pelendrom")

my name is sudh
not pelendrom

In [ ]:
x = "eye"
w = ""
for i in x:
    w = i+w
if (x==w):
    print("pelendrom")
else:
    print("not pelendrom")

In [20]:
a = int(input())
if a > 10 :
    print("pass") 
elif a < 10 :
    print ("just pass") 
elif a < 10 :
    print ("fail")

5
just pass

In [8]:
d = {"india": "IN","canada":"CA","china":"CH","united_state":"US"}

In [9]:
d

{'india': 'IN', 'canada': 'CA', 'china': 'CH', 'united_state': 'US'}

In [10]:
'india' in d

True

In [11]:
"china" in d

True

In [12]:
d.keys()

dict_keys(['india', 'canada', 'china', 'united_state'])

In [13]:
d.values()

dict_values(['IN', 'CA', 'CH', 'US'])

In [16]:
for i in d.keys():
    if len(i)<=5:
        print(i)

india
china

In [17]:

for i in d.keys():
    if len(i)>5:
        print(i)

canada
united_state

In [18]:
s = input()
for i in s.keys():
    if len(i)>5:
        print(i)

mgjftdrfuy

AttributeError: 'str' object has no attribute 'keys'

In [29]:
for i in d:
    print(i)

india
canada
china
united_state

In [19]:
l_smaller = []
l_greater = []
for i in d:
    if len(i) <= 5:
        l_smaller.append(i)
    else:
        l_greater.append(i)

In [20]:
l_smaller

['india', 'china']

In [21]:
l_greater

['canada', 'united_state']

In [8]:
d = {"ineuron":{
    "a":14,
    "b":10,
    "c":4
     },
     "course":{"d":85,
              "e":47,
              "f":12
              } 
    
    
    }

In [9]:
d

{'ineuron': {'a': 14, 'b': 10, 'c': 4}, 'course': {'d': 85, 'e': 47, 'f': 12}}

In [10]:
l_smaller = []
l_greater = []
for i in d.values():
    if max(i.values()):
        l_smaller.append(i.values())
    else:
        l_greater.append(i.values())

In [11]:
l_smaller

[dict_values([14, 10, 4]), dict_values([85, 47, 12])]

In [12]:
l_greater

[]

In [41]:
for i in d.values():
    print(max(i.values()))

14
85

In [42]:
for i in d.values():
    print(min(i.values()))

4
12

In [43]:
d = {"ineuron":{
    "a":14,
    "b":10,
    "c":4                      #Nested dictionary
     },
     "course":{"d":85,
              "e":47,
              "f":12
              } 
    
    
    }

In [46]:
for i in d.values():
    for j in i.values():
        print(j)

14
10
4
85
47
12

In [47]:
l1 = []
for i in d.values():
    for j in i.values():
        l1.append(j)
    print(max(l1))

14
85

In [48]:
l1 = []
for i in d.values():
    for j in i.values():
        l1.append(j)
    print(min(l1))

4
4

In [49]:
for i in d.values():
    mx = 0
    for j in i.values():
        if mx < j:
            mx = j
    print(mx)

14
85

In [50]:
 d

{'ineuron': {'a': 14, 'b': 10, 'c': 4}, 'course': {'d': 85, 'e': 47, 'f': 12}}

In [51]:
d1 = {'ineuron': {'a': 14, 'b': 10, 'c': 4}, 'course': {'d': 85, 'e': 47, 'f': 12}, "g": 34 , "h":[95,24,36], "i": (45,25,16), "k": "sudh"}

In [52]:
d1

{'ineuron': {'a': 14, 'b': 10, 'c': 4},
 'course': {'d': 85, 'e': 47, 'f': 12},
 'g': 34,
 'h': [95, 24, 36],
 'i': (45, 25, 16),
 'k': 'sudh'}

In [53]:
l = []
for i in d1.values():
    if type(i)==dict:
        l.append(max(i.values()))
    elif type(i)==list:
        l.append(max(i))
    elif type(i)==tuple:
        l.append(max(i))
    elif type(i)==str:
        pass
    else:
        l.append(i)
print(max(l))

95

In [54]:
l1 = []
for i in d1.values():
    if type(i)==int:
        l1.append(i)
    elif type(i)==list or type(i)==tuple:
        l1.extend(i)
    elif type(i)==dict:
        for j in i.values():
            l.append(j)
print(max(l1))

95

In [56]:
l = []
d = {'ineuron': {'a': 14, 'b': 10, 'c': 4}, 'course': {'d': 85, 'e': 47, 'f': 12}}
for i in d:
    if type(d[i])==dict:
        print(True)
        l.append(max(d[i].values()))
    elif type(d[i])==list or type(d[i]):
        l.append(max(d[i]))
print(l)

True
True
[14, 85]

In [ ]:
l = []
for k,v in d1.items():
    if type(v)==dict:
        l.extend(list(v.values()))
    elif type(v)==list:
        l.append(max(v))
    elif type(v)==tuple:
        l.append(max(v))
    elif type(v)==int:
        l.append(v)
    elif type(v)==str:
        pass
    else:
        l.append(v)
print(max(l))

In [57]:
l = []
for i in d1.values():
    if type(i)!= str and type(i)!=complex:
        if type(i)==list or type(i)==tuple or type(i)== set:
            l.extend(list(i))
        elif type(i)==dict:
            for j in i.values():
                l.append(j)
max(l)

95