In [1]:
import pandas as pd

In [2]:
  ls

 Volume in drive C has no label.
 Volume Serial Number is DE5C-05B8

 Directory of C:\Users\Nplite\Favorites

05-03-2022  20:32    <DIR>          .
05-03-2022  22:51    <DIR>          ..
05-03-2022  13:09    <DIR>          .ipynb_checkpoints
19-02-2022  23:01    <DIR>          __pycache__
08-02-2022  06:47           144,486 1.Basic, List, Tuple, Dictionary  ===1.ipynb
21-02-2022  12:54            79,738 2.If Else, Range, For, While.ipynb
22-02-2022  00:08            75,849 3. Function, Lambda,Generator.ipynb
22-02-2022  17:53           105,786 4.Generator, Fibonacci no, Open,Write,Read file.ipynb
24-02-2022  20:36            79,714 5.Exception Handling, Logging.ipynb
28-02-2022  01:20           117,642 6.Class.ipynb
05-03-2022  18:08             1,173 addresses.csv
23-02-2022  23:20            19,704 ADVANCE TASK INEURON.ipynb
05-03-2022  13:07             1,503 CASSANDRA.ipynb
05-03-2022  18:08             1,589 contacts.csv
14-02-2022  22:31            11,903 glass.data
22-02-2022  16:37             3,014 google.txt
05-03-2022  18:08               277 holiday_schedules.csv
04-03-2022  00:44                 0 ineuorn.db
04-03-2022  23:52             8,192 ineuron.db
04-03-2022  23:52            24,576 jobdb.db
30-01-2022  20:50    <DIR>          Links
05-03-2022  18:08            18,015 locations.csv
05-03-2022  18:08             1,610 mail_addresses.csv
02-03-2022  01:24            86,043 MONGODB DATA.ipynb
01-03-2022  17:23    <DIR>          OneDrive
05-03-2022  18:08             2,281 organizations.csv
05-03-2022  20:32           337,765 PANDAS.ipynb
04-03-2022  23:52             8,192 person.db
05-03-2022  18:08             2,092 phones.csv
05-03-2022  18:08                60 programs.csv
05-03-2022  18:08               350 regular_schedules.csv
05-03-2022  19:17               308 sample_test.csv
05-03-2022  18:08            19,128 services.csv
01-03-2022  17:27           237,581 SQL DATA2.ipynb
05-03-2022  02:06            76,381 SQLLITE.ipynb
05-03-2022  18:08            14,618 taxonomy.csv
22-02-2022  16:35                 0 test1
              31 File(s)      1,479,570 bytes
               6 Dir(s)  77,818,621,952 bytes free

In [3]:
pd.read_csv('sample_test.csv')

        Name            Emailid  Address   Pincode       Sirname
0  Sudhanshu       sudhashu@123  Banglore   560085         Kumar
1      Krish    krish@gmail.com  Banglore   879562          Naik
2      Sunny          sunny@987  Banglore   564235        Savita
3     Namdeo      namdeo@ln.com  Banglore   457821         Patil
4    Ineuron        ineuron@123  Banglore   125463  Intellegence
5     Pandas  pandas@ineuron.ai  Banglore  2458762      Tutorial

In [9]:
pd.read_csv('D:\INEURON\h\ohana-api-master\data\sample-csv\locations.csv')

,id,organization_id,accessibility,admin_emails,alternate_name,description,email,languages,latitude,longitude,name,short_desc,transportation,website,virtual
0,1,1,"disabled_parking, ramp, restroom, wheelchair",NaN,NaN,A walk-in center for older adults that provide...,NaN,"Spanish, Tagalog",37.477227,-122.213221,Fair Oaks Adult Activity Center,A multipurpose senior citizens' center serving...,SAMTRANS stops in front.,NaN,False
1,2,1,wheelchair,NaN,NaN,Provides training and job placement to eligibl...,NaN,"Chinese (Mandarin), Tagalog, Italian, Spanish",37.563984,-122.325799,Second Career Employment Program,Provides training and job placement to eligibl...,"SAMTRANS stops within 1 block, CALTRAIN stops ...",NaN,False
2,3,1,NaN,NaN,NaN,Offers supportive counseling services to San M...,NaN,"Chinese (Cantonese), Chinese (Mandarin), Tagal...",37.563984,-122.325799,Senior Peer Counseling,Offers supportive counseling services to older...,Service is provided in person's home or at a m...,NaN,False
3,4,1,wheelchair,NaN,NaN,Provides supervised visitation services and a ...,NaN,Spanish,37.563984,-122.325799,Family Visitation Center,Provides supervised visitation services and a ...,"SAMTRANS stops within 1 block, CALTRAIN stops ...",NaN,False
4,5,1,wheelchair,NaN,NaN,Provides fixed 8% short term loans to eligible...,NaN,"Hindi, Spanish",37.563984,-122.325799,Economic Self - Sufficiency Program,Makes small loans to working families.,SAMTRANS stops within 1 block. CALTRAIN stops ...,NaN,False
5,6,2,"disabled_parking, wheelchair",NaN,NaN,A multipurpose center offering a wide variety ...,NaN,"Tagalog, Spanish",37.448020,-122.180590,Little House,A multipurpose senior citizens' center.,"SAMTRANS stops within 3 blocks, RediWheels and...",NaN,False
6,7,2,"ramp, restroom, disabled_parking, wheelchair",NaN,NaN,Rosener House is a day center for older adults...,NaN,"Spanish, Tagalog, Vietnamese",37.444178,-122.183093,Rosener House Adult Day Services,A day center for adults age 50 or over.,Transportation can be arranged via Redi-Wheels...,NaN,False
7,8,2,NaN,NaN,NaN,Delivers a hot meal to the home of persons age...,NaN,Spanish,37.448020,-122.180590,Meals on Wheels - South County,Will deliver a hot meal to the home of persons...,Not necessary for service.,NaN,False
8,9,3,"ramp, restroom, wheelchair",NaN,NaN,"Provides general reading material, including b...",NaN,Spanish,37.478502,-122.214143,Fair Oaks Branch,Provides general reading materials and referen...,SAMTRANS stops in front.,NaN,False
9,10,3,"elevator, tape_braille, ramp, restroom, disabl...",NaN,NaN,"Provides general reading and media materials, ...",NaN,Spanish,37.483842,-122.227395,Main Library,Provides general reference and reading materia...,SAMTRANS stops within 1 block; CALTRAIN stops ...,NaN,False
10,11,3,ramp,NaN,NaN,"Provides general reading materials, including ...",NaN,NaN,37.466553,-122.243090,Schaberg Branch,Provides general reading materials and referen...,SAMTRANS stops within 1 block.,NaN,False
11,12,3,"disabled_parking, elevator, ramp, restroom",ohana@gmail.com,NaN,Offers an intergenerational literacy program f...,NaN,NaN,37.483842,-122.227395,Project Read,Offers an intergenerational literacy program f...,SAMTRANS stops within 1 block.,NaN,False
12,13,3,NaN,NaN,NaN,"Provides general reading materials, including ...",NaN,NaN,37.530423,-122.258643,Redwood Shores Branch,Provides general reading materials and referen...,NaN,NaN,False
13,14,4,wheelchair,NaN,NaN,"Provides food, clothing, bus tokens and shelte...",NaN,Spanish,37.491386,-122.231568,Redwood City Corps,Provides a variety of emergency services to lo...,SAMTRANS stops nearby.,NaN,False
14,15,4,wheelchair,NaN,NaN,Provides a long-term (6-12 month) residential ...,NaN,Spanish,37.748899,-122.420367,Adult Rehabilitation Center,Long-term (6-12 month) residential treatment p...,"MUNI - 26 Valencia, Mission Street lines.",NaN,False
15,16,4,NaN,NaN,NaN,Provides emergency assistance including food a...,NaN,Korean,37.356900,-122.060002,Sunnyvale Corps,Provides emergency assistance to persons in im...,VTA stops within 4 blocks.,NaN,False
16,17,4,wheelchair,NaN,NaN,"Provides emergency food, clothing and furnitur...",NaN,NaN,37.644590,-122.422490,South San Francisco Citadel Corps,Provides emergency food and clothing and furni...,"SAMTRANS stops within 1 block, BART stops with...",NaN,False
17,18,5,"cd, restroom, wheelchair",NaN,NaN,Provides free medical care to those in need. O...,NaN,Spanish,37.468614,-122.206798,Redwood City Free Medical Clinic,Provides free medical care to those in need.,SAMTRANS stops within 2 blocks.,http://www.samaritanhouse.com,False
18,19,5,"elevator, ramp, wheelchair",NaN,NaN,Provides free medical and dental care to those...,NaN,Spanish,37.532694,-122.293124,San Mateo Free Medical Clinic,Provides free medical and dental care to those...,SAMTRANS stops within 1 block.,http://www.samaritanhouse.com,False
19,20,6,NaN,NaN,NaN,no phone,NaN,NaN,NaN,NaN,Location with no phone,no phone,NaN,NaN,True
20,21,7,"elevator, restroom",NaN,NaN,This is a description,NaN,NaN,37.529194,-122.287161,Admin Test Location,This is a short description,SAMTRANS stops within 1/2 mile.,NaN,False
21,22,8,"disabled_parking, restroom, wheelchair",foo@bar.com,The Test Spot,[NOTE THIS IS NOT A REAL ORGANIZATION--THIS IS...,info@example.org,"Cantonese, Russian, Spanish, Tagalog, Taiwanese",37.772640,-122.409915,Example Location,[NOTE THIS IS NOT A REAL ENTRY--THIS IS FOR TE...,SAMTRANS stops within 1 block,http://www.example.org,False

In [14]:
pd.read_csv('D:\INEURON\h\ohana-api-master\data\sample-csv\services.csv')

,id,location_id,program_id,accepted_payments,alternate_name,application_process,audience,description,eligibility,email,...,interpretation_services,keywords,languages,name,required_documents,service_areas,status,wait_time,website,taxonomy_ids
0,1,1,NaN,NaN,NaN,Walk in or apply by phone.,"Older adults age 55 or over, ethnic minorities...",A walk-in center for older adults that provide...,"Age 55 or over for most programs, age 60 or ov...",NaN,...,NaN,"ADULT PROTECTION AND CARE SERVICES, Meal Sites...",NaN,Fair Oaks Adult Activity Center,NaN,Colma,active,No wait.,NaN,NaN
1,2,2,NaN,NaN,NaN,Apply by phone for an appointment.,Residents of San Mateo County age 55 or over,Provides training and job placement to eligibl...,"Age 55 or over, county resident and willing an...",NaN,...,NaN,"EMPLOYMENT/TRAINING SERVICES, Job Development,...",NaN,Second Career Employment Program,NaN,San Mateo County,active,Varies.,NaN,NaN
2,3,3,NaN,NaN,NaN,Phone for information (403-4300 Ext. 4322).,Older adults age 55 or over who can benefit fr...,Offers supportive counseling services to San M...,Resident of San Mateo County age 55 or over,NaN,...,NaN,"Geriatric Counseling, Older Adults, Gay, Lesbi...",NaN,Senior Peer Counseling,NaN,San Mateo County,active,Varies.,NaN,NaN
3,4,4,NaN,NaN,NaN,Apply by phone.,"Parents, children, families with problems of c...",Provides supervised visitation services and a ...,None,NaN,...,NaN,"INDIVIDUAL AND FAMILY DEVELOPMENT SERVICES, Gr...",NaN,Family Visitation Center,NaN,San Mateo County,active,No wait.,NaN,NaN
4,5,5,NaN,NaN,NaN,Phone for information.,Low-income working families with children tran...,Provides fixed 8% short term loans to eligible...,Eligibility: Low-income family with legal cust...,NaN,...,NaN,"COMMUNITY SERVICES, Speakers, Automobile Loans",NaN,Economic Self-Sufficiency Program,NaN,San Mateo County,active,NaN,NaN,NaN
5,6,6,NaN,NaN,NaN,Walk in or apply by phone for membership appli...,Any age,A multipurpose center offering a wide variety ...,None,NaN,...,NaN,"ADULT PROTECTION AND CARE SERVICES, In-Home Su...",NaN,Little House Recreational Activities,NaN,San Mateo County,active,No wait.,NaN,NaN
6,7,7,NaN,NaN,NaN,"Apply by phone or be referred by a doctor, soc...","Older adults who have memory or sensory loss, ...",Rosener House is a day center for older adults...,Age 18 or over,NaN,...,NaN,"ADULT PROTECTION AND CARE SERVICES, Adult Day ...",NaN,Rosener House Adult Day Services,NaN,"Belmont, Burlingame, East Palo Alto",active,No wait.,NaN,NaN
7,8,8,NaN,NaN,NaN,Apply by phone.,"Senior citizens age 60 or over, disabled indiv...",Delivers a hot meal to the home of persons age...,Homebound person unable to cook or shop,NaN,...,NaN,"ADULT PROTECTION AND CARE SERVICES, Meal Sites...",NaN,Meals on Wheels - South County,NaN,"Belmont, East Palo Alto",active,No wait.,NaN,NaN
8,9,9,NaN,NaN,NaN,Walk in. Proof of residency in California requ...,"Ethnic minorities, especially Spanish speaking","Provides general reading material, including b...",Resident of California to obtain a library card,NaN,...,NaN,"EDUCATION SERVICES, Library, Libraries, Public...",NaN,Fair Oaks Branch,NaN,San Mateo County,active,No wait.,NaN,NaN
9,10,10,NaN,NaN,NaN,Walk in. Proof of California residency to rece...,NaN,"Provides general reading and media materials, ...",Resident of California to obtain a card,NaN,...,NaN,"EDUCATION SERVICES, Library, Libraries, Public...",NaN,Main Library,NaN,San Mateo County,active,No wait.,NaN,NaN
10,11,11,NaN,NaN,NaN,Walk in. Proof of California residency require...,NaN,"Provides general reading materials, including ...",Resident of California to obtain a library car...,NaN,...,NaN,"EDUCATION SERVICES, Library, Libraries, Public...",NaN,Schaberg Branch,NaN,San Mateo County,active,No wait.,NaN,NaN
11,12,12,NaN,NaN,NaN,"Walk in or apply by phone, email or webpage re...","Adults, parents, children in 1st-12th grades i...",Offers an intergenerational literacy program f...,English-speaking adult reading at or below 7th...,NaN,...,NaN,"EDUCATION SERVICES, Adult, Alternative, Litera...",NaN,Project Read,NaN,Daly City,active,Depends on availability of tutors for small gr...,NaN,NaN
12,13,13,NaN,NaN,NaN,Walk in. Proof of California residency require...,NaN,"Provides general reading materials, including ...",Resident of California to obtain a library card,NaN,...,NaN,"EDUCATION SERVICES, Library, Libraries, Public...",NaN,Redwood Shores Branch,NaN,San Mateo County,active,No wait.,NaN,NaN
13,14,14,NaN,NaN,NaN,Call for appointment. Referral from human serv...,Individuals or families with low or no income ...,"Provides food, clothing, bus tokens and shelte...",None for most services. For emergency assistan...,NaN,...,NaN,"COMMUNITY SERVICES, Interpretation/Translation...",NaN,Redwood City Corps,NaN,"Belmont, Burlingame, East Palo Alto",active,Up to 20 minutes.,NaN,NaN
14,15,15,NaN,NaN,NaN,Walk in or through other agency referral.,Adult alcoholic/drug addictive men and women w...,Provides a long-term (6-12 month) residential ...,"Age 21-60, detoxed, physically able and willin...",NaN,...,NaN,"ALCOHOLISM SERVICES, Residential Care, DRUG AB...",NaN,Adult Rehabilitation Center,NaN,"Alameda County, San Mateo County",active,Varies according to available beds for men and...,NaN,NaN
15,16,16,NaN,NaN,NaN,"Walk in. Written application, identification r...",NaN,Provides emergency assistance including food a...,None for emergency assistance,NaN,...,NaN,"COMMODITY SERVICES, Clothing/Personal Items, C...",NaN,Sunnyvale Corps,NaN,NaN,active,No wait.,NaN,NaN
16,17,17,NaN,NaN,NaN,Call for information.,NaN,"Provides emergency food, clothing and furnitur...",Low-income families,NaN,...,NaN,"COMMODITY SERVICES, Clothing/Personal Items, C...",NaN,South San Francisco Citadel Corps,NaN,"Colma, Daly City, South San Francisco",active,NaN,NaN,NaN
17,18,18,NaN,NaN,NaN,Call for screening appointment. Medical visits...,NaN,"By appointment only, Project Smile provides a ...",Low-income person without access to health care,NaN,...,NaN,"HEALTH SERVICES, Outpatient Care, Community Cl...",NaN,Project Smile,NaN,East Palo Alto,active,Varies.,NaN,NaN
18,19,19,NaN,NaN,NaN,Call for screening appointment (650-347-3648).,NaN,Provides free medical and dental care to those...,Low-income person without access to health care,NaN,...,NaN,"HEALTH SERVICES, Outpatient Care, Community Cl...",NaN,San Mateo Free Medical Clinic,NaN,"Belmont, Burlingame",active,Varies.,NaN,NaN
19,20,20,NaN,NaN,NaN,Walk in.,NaN,no unrequired fields for this service,NaN,NaN,...,NaN,NaN,NaN,Service with blank fields,NaN,NaN,defunct,NaN,NaN,NaN
20,21,21,NaN,NaN,NaN,By phone during business hours.,NaN,just a test service,NaN,NaN,...,NaN,NaN,NaN,Service for Admin Test Location,NaN,San Mateo County,inactive,NaN,NaN,NaN
21,22,22,NaN,"Cash, Check, Credit Card",Fotos para pasaportes,Walk in or apply by phone or mail,"Profit and nonprofit businesses, the public, m...",[NOTE THIS IS NOT A REAL SERVICE--THIS IS FOR ...,None,passports@example.org,...,We offer 3-way interpretation services over th...,"Salud, Medicina",Spanish,Passport Photos,Government-issued picture identification,"Alameda County, San Mateo County",active,No wait to 2 weeks.,http://www.example.com,"105, 108, 108-05, 108-05-01, 111, 111-05"
22,23,22,NaN,NaN,NaN,Walk in or apply by phone or mail,"Second service and nonprofit businesses, the p...",[NOTE THIS IS NOT A REAL ORGANIZATION--THIS IS...,None,NaN,...,NaN,"Ruby on Rails/Postgres/Redis, testing, wic",NaN,Example Service Name,NaN,"San Mateo County, Alameda County",active,No wait to 2 weeks,http://www.example.com,NaN

In [15]:
pd.read_csv('D:\INEURON\h\ohana-api-master\data\sample-csv\programs.csv')

   id  organization_id           name  alternate_name
0   1                1  Defeat Hunger             NaN

In [16]:
pd.read_csv('D:\INEURON\h\ohana-api-master\data\sample-csv\contacts.csv')

,id,location_id,organization_id,service_id,name,title,email,department
0,1,1.0,NaN,NaN,Susan Houston,Director of Older Adult Services,NaN,NaN
1,2,1.0,NaN,NaN,Christina Gonzalez,Center Director,NaN,NaN
2,3,2.0,NaN,NaN,Brenda Brown,"Director, Second Career Services",NaN,NaN
3,4,3.0,NaN,NaN,"Howard Lader, LCSW","Manager, Senior Peer Counseling",NaN,NaN
4,5,4.0,NaN,NaN,Kimberly Pesavento,Director of Visitation,NaN,NaN
5,6,5.0,NaN,NaN,Joe Bloom,Financial Empowerment Programs Program Director,NaN,NaN
6,7,6.0,NaN,NaN,Peter Olson,Little House Director,NaN,NaN
7,8,6.0,NaN,NaN,Bart Charlow,"Executive Director, Peninsula Volunteers",NaN,NaN
8,9,7.0,NaN,NaN,Bart Charlow,"Executive Director, Peninsula Volunteers",NaN,NaN
9,10,7.0,NaN,NaN,Barbara Kalt,Director,NaN,NaN
10,11,8.0,NaN,NaN,Marilyn Baker-Venturini,Director,NaN,NaN
11,12,8.0,NaN,NaN,Graciela Hernandez,Assistant Manager,NaN,NaN
12,13,8.0,NaN,NaN,Julie Avelino,Assessment Specialist,NaN,NaN
13,14,9.0,NaN,NaN,Dave Genesy,Library Director,NaN,NaN
14,15,9.0,NaN,NaN,Maria Kramer,Library Divisions Manager,NaN,NaN
15,16,10.0,NaN,NaN,Dave Genesy,Library Director,NaN,NaN
16,17,10.0,NaN,NaN,Maria Kramer,Library Division Manager,NaN,NaN
17,18,11.0,NaN,NaN,Dave Genesy,Library Director,NaN,NaN
18,19,11.0,NaN,NaN,Elizabeth Meeks,Branch Manager,NaN,NaN
19,20,12.0,NaN,NaN,Kathy Endaya,Director,NaN,NaN
20,21,13.0,NaN,NaN,Dave Genesy,Library Director,NaN,NaN
21,22,14.0,NaN,NaN,Andres Espinoza,"Captain, Commanding Officer",NaN,NaN
22,23,15.0,NaN,NaN,Jack Phillips,Administrator,NaN,NaN
23,24,16.0,NaN,NaN,James Lee,Commanding Officer,NaN,NaN
24,25,17.0,NaN,NaN,Kenneth Gibson,Major,NaN,NaN
25,26,18.0,NaN,NaN,Sharon Petersen,Administrator,NaN,NaN
26,27,19.0,NaN,NaN,Sharon Petersen,Administrator,NaN,NaN
27,28,21.0,NaN,NaN,Moncef,NaN,NaN,Office of Innovation
28,29,22.0,NaN,NaN,Suzanne Badenhoop,Board President,suzanne@example.com,Referrals
29,32,NaN,8.0,NaN,Elizabeth Feeney,CEO,e.feeney@foobar.org,Operations
30,36,NaN,NaN,22.0,Joe Smith,CalFresh Specialist,john.smith@example.org,CalFresh Applications

In [21]:
# uploaded all sample_csv data into favourite note

In [22]:
pd.read_csv('taxonomy.csv')

    taxonomy_id                          name parent_id           parent_name
0           101                     Emergency       NaN                   NaN
1        101-01             Disaster Response       101             Emergency
2        101-02                Emergency Cash       101             Emergency
3     101-02-01             Help Pay for Food    101-02        Emergency Cash
4     101-02-02       Help Pay for Healthcare    101-02        Emergency Cash
..          ...                           ...       ...                   ...
285   111-01-07              Workplace Rights    111-01  Advocacy & Legal Aid
286      111-02                     Mediation       111                 Legal
287      111-03                        Notary       111                 Legal
288      111-04                Representation       111                 Legal
289      111-05  Translation & Interpretation       111                 Legal

[290 rows x 4 columns]

In [23]:
pd.read_csv('mail_addresses.csv')

,id,location_id,attention,address_1,address_2,city,state_province,postal_code,country
0,1,1,Fair Oaks Intergenerational Center,2600 Middlefield Road,NaN,Redwood City,CA,94063,US
1,2,2,PFS Second Career Services,24 Second Avenue,NaN,San Mateo,CA,94401,US
2,3,3,PFS Senior Peer Counseling,24 Second Avenue,NaN,San Mateo,CA,94403,US
3,4,4,PFS Family Visitation Center,24 Second Avenue,NaN,San Mateo,CA,94401,US
4,5,5,Economic Self - Sufficiency Program,24 Second Avenue,NaN,San Mateo,CA,94401,US
5,6,6,Little House,800 Middle Avenue,NaN,Menlo Park,CA,94025-9881,US
6,7,7,Rosener House,500 Arbor Road,NaN,Menlo Park,CA,94025,US
7,8,8,Meals on Wheels - South County,800 Middle Avenue,NaN,Menlo Park,CA,94025-9881,US
8,9,9,Fair Oaks Branch,2510 Middlefield Road,NaN,Redwood City,CA,94063,US
9,10,10,Main Library,1044 Middlefield Road,NaN,Redwood City,CA,94063,US
10,11,11,Schaberg Branch,2140 Euclid Avenue,NaN,Redwood City,CA,94061,US
11,12,12,Project Read,1044 Middlefield Road,2nd Floor,Redwood City,CA,94063,US
12,13,13,Redwood Shores Branch,399 Marine Parkway,NaN,Redwood City,CA,94065,US
13,14,14,Salvation Army,P.O. Box 1147,NaN,Redwood City,CA,94064,US
14,15,15,Adult Rehabilitation Center,1500 Valencia Street,NaN,San Francisco,CA,94110,US
15,16,16,Salvation Army,P.O. Box 61868,NaN,Sunnyvale,CA,94088,US
16,17,17,Salvation Army,409 South Spruce Avenue,NaN,South San Francisco,CA,94080,US
17,18,18,Redwood City Free Medical Clinic,114 Fifth Avenue,NaN,Redwood City,CA,94063,US
18,19,19,San Mateo Free Medical/Dental,19 West 39th Avenue,NaN,San Mateo,CA,94403,US
19,20,20,NaN,123 Main Street,NaN,Fairfax,VA,22031,US
20,21,22,The Foodies,2013 Avenue of the fellows,Suite 100,San Francisco,CA,90210,US

In [24]:
#inside pandas evry first row consider as a coloumb row and try to create entire table according to that

In [25]:
"""the entire table is called as a dataframe ,dataframe is nothing but a tabular structure"""

'the entire table is called as a dataframe ,dataframe is nothing but a tabular structure'

In [26]:
df = pd.read_clipboard("taxonomy.csv")

In [27]:
a = 1

In [28]:
type(a)

int

In [29]:
type(df)

pandas.core.frame.DataFrame

In [30]:
pd.read_csv("taxonomy.csv")

    taxonomy_id                          name parent_id           parent_name
0           101                     Emergency       NaN                   NaN
1        101-01             Disaster Response       101             Emergency
2        101-02                Emergency Cash       101             Emergency
3     101-02-01             Help Pay for Food    101-02        Emergency Cash
4     101-02-02       Help Pay for Healthcare    101-02        Emergency Cash
..          ...                           ...       ...                   ...
285   111-01-07              Workplace Rights    111-01  Advocacy & Legal Aid
286      111-02                     Mediation       111                 Legal
287      111-03                        Notary       111                 Legal
288      111-04                Representation       111                 Legal
289      111-05  Translation & Interpretation       111                 Legal

[290 rows x 4 columns]

In [31]:
pd.read_csv("taxonomy.csv" , header = None)  # it will remove header

,0,1,2,3
0,taxonomy_id,name,parent_id,parent_name
1,101,Emergency,NaN,NaN
2,101-01,Disaster Response,101,Emergency
3,101-02,Emergency Cash,101,Emergency
4,101-02-01,Help Pay for Food,101-02,Emergency Cash
...,...,...,...,...
286,111-01-07,Workplace Rights,111-01,Advocacy & Legal Aid
287,111-02,Mediation,111,Legal
288,111-03,Notary,111,Legal
289,111-04,Representation,111,Legal
290,111-05,Translation & Interpretation,111,Legal

In [34]:
pd.read_csv("taxonomy.csv", names = ["Namdeo","Prathamesh","Dhruva","Ashok"])

,Namdeo,Prathamesh,Dhruva,Ashok
0,taxonomy_id,name,parent_id,parent_name
1,101,Emergency,NaN,NaN
2,101-01,Disaster Response,101,Emergency
3,101-02,Emergency Cash,101,Emergency
4,101-02-01,Help Pay for Food,101-02,Emergency Cash
...,...,...,...,...
286,111-01-07,Workplace Rights,111-01,Advocacy & Legal Aid
287,111-02,Mediation,111,Legal
288,111-03,Notary,111,Legal
289,111-04,Representation,111,Legal
290,111-05,Translation & Interpretation,111,Legal

In [35]:
pd.read_csv("taxonomy.csv", names = ["Namdeo","Prathamesh","Dhruva","Ashok","Nanabhau"])

,Namdeo,Prathamesh,Dhruva,Ashok,Nanabhau
0,taxonomy_id,name,parent_id,parent_name,NaN
1,101,Emergency,NaN,NaN,NaN
2,101-01,Disaster Response,101,Emergency,NaN
3,101-02,Emergency Cash,101,Emergency,NaN
4,101-02-01,Help Pay for Food,101-02,Emergency Cash,NaN
...,...,...,...,...,...
286,111-01-07,Workplace Rights,111-01,Advocacy & Legal Aid,NaN
287,111-02,Mediation,111,Legal,NaN
288,111-03,Notary,111,Legal,NaN
289,111-04,Representation,111,Legal,NaN
290,111-05,Translation & Interpretation,111,Legal,NaN

In [36]:
pd.read_csv("taxonomy.csv", names = ["Namdeo","Prathamesh","Dhruva","Ashok","Nanabhau","a","b","c"])

,Namdeo,Prathamesh,Dhruva,Ashok,Nanabhau,a,b,c
0,taxonomy_id,name,parent_id,parent_name,NaN,NaN,NaN,NaN
1,101,Emergency,NaN,NaN,NaN,NaN,NaN,NaN
2,101-01,Disaster Response,101,Emergency,NaN,NaN,NaN,NaN
3,101-02,Emergency Cash,101,Emergency,NaN,NaN,NaN,NaN
4,101-02-01,Help Pay for Food,101-02,Emergency Cash,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
286,111-01-07,Workplace Rights,111-01,Advocacy & Legal Aid,NaN,NaN,NaN,NaN
287,111-02,Mediation,111,Legal,NaN,NaN,NaN,NaN
288,111-03,Notary,111,Legal,NaN,NaN,NaN,NaN
289,111-04,Representation,111,Legal,NaN,NaN,NaN,NaN
290,111-05,Translation & Interpretation,111,Legal,NaN,NaN,NaN,NaN

In [39]:
pd.read_csv("taxonomy.csv", names = ["Namdeo","Prathamesh","Dhruva"])   #first two coloumb cosider as a index colomb

                                   Namdeo Prathamesh                Dhruva
taxonomy_id                          name  parent_id           parent_name
101                             Emergency        NaN                   NaN
101-01                  Disaster Response        101             Emergency
101-02                     Emergency Cash        101             Emergency
101-02-01               Help Pay for Food     101-02        Emergency Cash
...                                   ...        ...                   ...
111-01-07                Workplace Rights     111-01  Advocacy & Legal Aid
111-02                          Mediation        111                 Legal
111-03                             Notary        111                 Legal
111-04                     Representation        111                 Legal
111-05       Translation & Interpretation        111                 Legal

[291 rows x 3 columns]

In [40]:
pd.read_csv("taxonomy.csv", names = ["Namdeo","Prathamesh"])# first two coloumb cosider as a index colomb

                                             Namdeo            Prathamesh
taxonomy_id name                          parent_id           parent_name
101         Emergency                           NaN                   NaN
101-01      Disaster Response                   101             Emergency
101-02      Emergency Cash                      101             Emergency
101-02-01   Help Pay for Food                101-02        Emergency Cash
...                                             ...                   ...
111-01-07   Workplace Rights                 111-01  Advocacy & Legal Aid
111-02      Mediation                           111                 Legal
111-03      Notary                              111                 Legal
111-04      Representation                      111                 Legal
111-05      Translation & Interpretation        111                 Legal

[291 rows x 2 columns]

In [52]:
pd.read_csv("sample_test.csv")

        Name            Emailid  Address   Pincode       Sirname
0  Sudhanshu       sudhashu@123  Banglore   560085         Kumar
1      Krish    krish@gmail.com  Banglore   879562          Naik
2      Sunny          sunny@987  Banglore   564235        Savita
3     Namdeo      namdeo@ln.com  Banglore   457821         Patil
4    Ineuron        ineuron@123  Banglore   125463  Intellegence
5     Pandas  pandas@ineuron.ai  Banglore  2458762      Tutorial

In [44]:
#inside notepad we arereplace comma into @ so check what happen

In [53]:
pd.read_csv("sample_test.csv")

               Name@Emailid@Address @Pincode@Sirname
0       Sudhanshu@sudhashu@123@Banglore@560085@Kumar
1         Krish@krish@gmail.com@Banglore@879562@Naik
2             Sunny@sunny@987@Banglore@564235@Savita
3         Namdeo@namdeo@ln.com@Banglore@457821@Patil
4   Ineuron@ineuron@123@Banglore@125463@Intellegence
5  Pandas@pandas@ineuron.ai@Banglore@2458762@Tuto...

In [54]:
pd.read_csv("sample_test.csv" , sep = '@') # for email it will cosider as a new colomb

               Name     Emailid  Address   Pincode       Sirname
Sudhanshu  sudhashu         123  Banglore   560085         Kumar
Krish         krish   gmail.com  Banglore   879562          Naik
Sunny         sunny         987  Banglore   564235        Savita
Namdeo       namdeo      ln.com  Banglore   457821         Patil
Ineuron     ineuron         123  Banglore   125463  Intellegence
Pandas       pandas  ineuron.ai  Banglore  2458762      Tutorial

In [55]:
pd.read_csv('sample_test.csv') # wherrever replace comma into seperator |

               Name|Emailid|Address |Pincode|Sirname
0       Sudhanshu|sudhashu@123|Banglore|560085|Kumar
1         Krish|krish@gmail.com|Banglore|879562|Naik
2             Sunny|sunny@987|Banglore|564235|Savita
3         Namdeo|namdeo@ln.com|Banglore|457821|Patil
4   Ineuron|ineuron@123|Banglore|125463|Intellegence
5  Pandas|pandas@ineuron.ai|Banglore|2458762|Tuto...

In [56]:
pd.read_csv('sample_test.csv', sep = "|")

        Name            Emailid  Address   Pincode       Sirname
0  Sudhanshu       sudhashu@123  Banglore   560085         Kumar
1      Krish    krish@gmail.com  Banglore   879562          Naik
2      Sunny          sunny@987  Banglore   564235        Savita
3     Namdeo      namdeo@ln.com  Banglore   457821         Patil
4    Ineuron        ineuron@123  Banglore   125463  Intellegence
5     Pandas  pandas@ineuron.ai  Banglore  2458762      Tutorial

In [57]:
df = pd.read_csv('sample_test.csv', sep = "|")

In [58]:
df

        Name            Emailid  Address   Pincode       Sirname
0  Sudhanshu       sudhashu@123  Banglore   560085         Kumar
1      Krish    krish@gmail.com  Banglore   879562          Naik
2      Sunny          sunny@987  Banglore   564235        Savita
3     Namdeo      namdeo@ln.com  Banglore   457821         Patil
4    Ineuron        ineuron@123  Banglore   125463  Intellegence
5     Pandas  pandas@ineuron.ai  Banglore  2458762      Tutorial

In [61]:
df1 = pd.read_csv('sample_test.csv' ,skiprows = [1,3])  #you dont want some rows

In [60]:
"""dont remember any command just shift and tab you will get anything inside pandas"""

'dont remember any command just shift and tab you will get anything inside pandas'

In [62]:
df1

      Name            Emailid  Address   Pincode       Sirname
0    Krish    krish@gmail.com  Banglore   879562          Naik
1   Namdeo      namdeo@ln.com  Banglore   457821         Patil
2  Ineuron        ineuron@123  Banglore   125463  Intellegence
3   Pandas  pandas@ineuron.ai  Banglore  2458762      Tutorial

In [5]:
df = pd.read_csv("services.csv")

In [6]:
df

,id,location_id,program_id,accepted_payments,alternate_name,application_process,audience,description,eligibility,email,...,interpretation_services,keywords,languages,name,required_documents,service_areas,status,wait_time,website,taxonomy_ids
0,1,1,NaN,NaN,NaN,Walk in or apply by phone.,"Older adults age 55 or over, ethnic minorities...",A walk-in center for older adults that provide...,"Age 55 or over for most programs, age 60 or ov...",NaN,...,NaN,"ADULT PROTECTION AND CARE SERVICES, Meal Sites...",NaN,Fair Oaks Adult Activity Center,NaN,Colma,active,No wait.,NaN,NaN
1,2,2,NaN,NaN,NaN,Apply by phone for an appointment.,Residents of San Mateo County age 55 or over,Provides training and job placement to eligibl...,"Age 55 or over, county resident and willing an...",NaN,...,NaN,"EMPLOYMENT/TRAINING SERVICES, Job Development,...",NaN,Second Career Employment Program,NaN,San Mateo County,active,Varies.,NaN,NaN
2,3,3,NaN,NaN,NaN,Phone for information (403-4300 Ext. 4322).,Older adults age 55 or over who can benefit fr...,Offers supportive counseling services to San M...,Resident of San Mateo County age 55 or over,NaN,...,NaN,"Geriatric Counseling, Older Adults, Gay, Lesbi...",NaN,Senior Peer Counseling,NaN,San Mateo County,active,Varies.,NaN,NaN
3,4,4,NaN,NaN,NaN,Apply by phone.,"Parents, children, families with problems of c...",Provides supervised visitation services and a ...,None,NaN,...,NaN,"INDIVIDUAL AND FAMILY DEVELOPMENT SERVICES, Gr...",NaN,Family Visitation Center,NaN,San Mateo County,active,No wait.,NaN,NaN
4,5,5,NaN,NaN,NaN,Phone for information.,Low-income working families with children tran...,Provides fixed 8% short term loans to eligible...,Eligibility: Low-income family with legal cust...,NaN,...,NaN,"COMMUNITY SERVICES, Speakers, Automobile Loans",NaN,Economic Self-Sufficiency Program,NaN,San Mateo County,active,NaN,NaN,NaN
5,6,6,NaN,NaN,NaN,Walk in or apply by phone for membership appli...,Any age,A multipurpose center offering a wide variety ...,None,NaN,...,NaN,"ADULT PROTECTION AND CARE SERVICES, In-Home Su...",NaN,Little House Recreational Activities,NaN,San Mateo County,active,No wait.,NaN,NaN
6,7,7,NaN,NaN,NaN,"Apply by phone or be referred by a doctor, soc...","Older adults who have memory or sensory loss, ...",Rosener House is a day center for older adults...,Age 18 or over,NaN,...,NaN,"ADULT PROTECTION AND CARE SERVICES, Adult Day ...",NaN,Rosener House Adult Day Services,NaN,"Belmont, Burlingame, East Palo Alto",active,No wait.,NaN,NaN
7,8,8,NaN,NaN,NaN,Apply by phone.,"Senior citizens age 60 or over, disabled indiv...",Delivers a hot meal to the home of persons age...,Homebound person unable to cook or shop,NaN,...,NaN,"ADULT PROTECTION AND CARE SERVICES, Meal Sites...",NaN,Meals on Wheels - South County,NaN,"Belmont, East Palo Alto",active,No wait.,NaN,NaN
8,9,9,NaN,NaN,NaN,Walk in. Proof of residency in California requ...,"Ethnic minorities, especially Spanish speaking","Provides general reading material, including b...",Resident of California to obtain a library card,NaN,...,NaN,"EDUCATION SERVICES, Library, Libraries, Public...",NaN,Fair Oaks Branch,NaN,San Mateo County,active,No wait.,NaN,NaN
9,10,10,NaN,NaN,NaN,Walk in. Proof of California residency to rece...,NaN,"Provides general reading and media materials, ...",Resident of California to obtain a card,NaN,...,NaN,"EDUCATION SERVICES, Library, Libraries, Public...",NaN,Main Library,NaN,San Mateo County,active,No wait.,NaN,NaN
10,11,11,NaN,NaN,NaN,Walk in. Proof of California residency require...,NaN,"Provides general reading materials, including ...",Resident of California to obtain a library car...,NaN,...,NaN,"EDUCATION SERVICES, Library, Libraries, Public...",NaN,Schaberg Branch,NaN,San Mateo County,active,No wait.,NaN,NaN
11,12,12,NaN,NaN,NaN,"Walk in or apply by phone, email or webpage re...","Adults, parents, children in 1st-12th grades i...",Offers an intergenerational literacy program f...,English-speaking adult reading at or below 7th...,NaN,...,NaN,"EDUCATION SERVICES, Adult, Alternative, Litera...",NaN,Project Read,NaN,Daly City,active,Depends on availability of tutors for small gr...,NaN,NaN
12,13,13,NaN,NaN,NaN,Walk in. Proof of California residency require...,NaN,"Provides general reading materials, including ...",Resident of California to obtain a library card,NaN,...,NaN,"EDUCATION SERVICES, Library, Libraries, Public...",NaN,Redwood Shores Branch,NaN,San Mateo County,active,No wait.,NaN,NaN
13,14,14,NaN,NaN,NaN,Call for appointment. Referral from human serv...,Individuals or families with low or no income ...,"Provides food, clothing, bus tokens and shelte...",None for most services. For emergency assistan...,NaN,...,NaN,"COMMUNITY SERVICES, Interpretation/Translation...",NaN,Redwood City Corps,NaN,"Belmont, Burlingame, East Palo Alto",active,Up to 20 minutes.,NaN,NaN
14,15,15,NaN,NaN,NaN,Walk in or through other agency referral.,Adult alcoholic/drug addictive men and women w...,Provides a long-term (6-12 month) residential ...,"Age 21-60, detoxed, physically able and willin...",NaN,...,NaN,"ALCOHOLISM SERVICES, Residential Care, DRUG AB...",NaN,Adult Rehabilitation Center,NaN,"Alameda County, San Mateo County",active,Varies according to available beds for men and...,NaN,NaN
15,16,16,NaN,NaN,NaN,"Walk in. Written application, identification r...",NaN,Provides emergency assistance including food a...,None for emergency assistance,NaN,...,NaN,"COMMODITY SERVICES, Clothing/Personal Items, C...",NaN,Sunnyvale Corps,NaN,NaN,active,No wait.,NaN,NaN
16,17,17,NaN,NaN,NaN,Call for information.,NaN,"Provides emergency food, clothing and furnitur...",Low-income families,NaN,...,NaN,"COMMODITY SERVICES, Clothing/Personal Items, C...",NaN,South San Francisco Citadel Corps,NaN,"Colma, Daly City, South San Francisco",active,NaN,NaN,NaN
17,18,18,NaN,NaN,NaN,Call for screening appointment. Medical visits...,NaN,"By appointment only, Project Smile provides a ...",Low-income person without access to health care,NaN,...,NaN,"HEALTH SERVICES, Outpatient Care, Community Cl...",NaN,Project Smile,NaN,East Palo Alto,active,Varies.,NaN,NaN
18,19,19,NaN,NaN,NaN,Call for screening appointment (650-347-3648).,NaN,Provides free medical and dental care to those...,Low-income person without access to health care,NaN,...,NaN,"HEALTH SERVICES, Outpatient Care, Community Cl...",NaN,San Mateo Free Medical Clinic,NaN,"Belmont, Burlingame",active,Varies.,NaN,NaN
19,20,20,NaN,NaN,NaN,Walk in.,NaN,no unrequired fields for this service,NaN,NaN,...,NaN,NaN,NaN,Service with blank fields,NaN,NaN,defunct,NaN,NaN,NaN
20,21,21,NaN,NaN,NaN,By phone during business hours.,NaN,just a test service,NaN,NaN,...,NaN,NaN,NaN,Service for Admin Test Location,NaN,San Mateo County,inactive,NaN,NaN,NaN
21,22,22,NaN,"Cash, Check, Credit Card",Fotos para pasaportes,Walk in or apply by phone or mail,"Profit and nonprofit businesses, the public, m...",[NOTE THIS IS NOT A REAL SERVICE--THIS IS FOR ...,None,passports@example.org,...,We offer 3-way interpretation services over th...,"Salud, Medicina",Spanish,Passport Photos,Government-issued picture identification,"Alameda County, San Mateo County",active,No wait to 2 weeks.,http://www.example.com,"105, 108, 108-05, 108-05-01, 111, 111-05"
22,23,22,NaN,NaN,NaN,Walk in or apply by phone or mail,"Second service and nonprofit businesses, the p...",[NOTE THIS IS NOT A REAL ORGANIZATION--THIS IS...,None,NaN,...,NaN,"Ruby on Rails/Postgres/Redis, testing, wic",NaN,Example Service Name,NaN,"San Mateo County, Alameda County",active,No wait to 2 weeks,http://www.example.com,NaN

In [7]:
type(df)

pandas.core.frame.DataFrame

In [8]:
df.dtypes    # in pandas object is a str

id                           int64
location_id                  int64
program_id                 float64
accepted_payments           object
alternate_name              object
application_process         object
audience                    object
description                 object
eligibility                 object
email                       object
fees                        object
funding_sources             object
interpretation_services     object
keywords                    object
languages                   object
name                        object
required_documents          object
service_areas               object
status                      object
wait_time                   object
website                     object
taxonomy_ids                object
dtype: object

In [9]:
df

,id,location_id,program_id,accepted_payments,alternate_name,application_process,audience,description,eligibility,email,...,interpretation_services,keywords,languages,name,required_documents,service_areas,status,wait_time,website,taxonomy_ids
0,1,1,NaN,NaN,NaN,Walk in or apply by phone.,"Older adults age 55 or over, ethnic minorities...",A walk-in center for older adults that provide...,"Age 55 or over for most programs, age 60 or ov...",NaN,...,NaN,"ADULT PROTECTION AND CARE SERVICES, Meal Sites...",NaN,Fair Oaks Adult Activity Center,NaN,Colma,active,No wait.,NaN,NaN
1,2,2,NaN,NaN,NaN,Apply by phone for an appointment.,Residents of San Mateo County age 55 or over,Provides training and job placement to eligibl...,"Age 55 or over, county resident and willing an...",NaN,...,NaN,"EMPLOYMENT/TRAINING SERVICES, Job Development,...",NaN,Second Career Employment Program,NaN,San Mateo County,active,Varies.,NaN,NaN
2,3,3,NaN,NaN,NaN,Phone for information (403-4300 Ext. 4322).,Older adults age 55 or over who can benefit fr...,Offers supportive counseling services to San M...,Resident of San Mateo County age 55 or over,NaN,...,NaN,"Geriatric Counseling, Older Adults, Gay, Lesbi...",NaN,Senior Peer Counseling,NaN,San Mateo County,active,Varies.,NaN,NaN
3,4,4,NaN,NaN,NaN,Apply by phone.,"Parents, children, families with problems of c...",Provides supervised visitation services and a ...,None,NaN,...,NaN,"INDIVIDUAL AND FAMILY DEVELOPMENT SERVICES, Gr...",NaN,Family Visitation Center,NaN,San Mateo County,active,No wait.,NaN,NaN
4,5,5,NaN,NaN,NaN,Phone for information.,Low-income working families with children tran...,Provides fixed 8% short term loans to eligible...,Eligibility: Low-income family with legal cust...,NaN,...,NaN,"COMMUNITY SERVICES, Speakers, Automobile Loans",NaN,Economic Self-Sufficiency Program,NaN,San Mateo County,active,NaN,NaN,NaN
5,6,6,NaN,NaN,NaN,Walk in or apply by phone for membership appli...,Any age,A multipurpose center offering a wide variety ...,None,NaN,...,NaN,"ADULT PROTECTION AND CARE SERVICES, In-Home Su...",NaN,Little House Recreational Activities,NaN,San Mateo County,active,No wait.,NaN,NaN
6,7,7,NaN,NaN,NaN,"Apply by phone or be referred by a doctor, soc...","Older adults who have memory or sensory loss, ...",Rosener House is a day center for older adults...,Age 18 or over,NaN,...,NaN,"ADULT PROTECTION AND CARE SERVICES, Adult Day ...",NaN,Rosener House Adult Day Services,NaN,"Belmont, Burlingame, East Palo Alto",active,No wait.,NaN,NaN
7,8,8,NaN,NaN,NaN,Apply by phone.,"Senior citizens age 60 or over, disabled indiv...",Delivers a hot meal to the home of persons age...,Homebound person unable to cook or shop,NaN,...,NaN,"ADULT PROTECTION AND CARE SERVICES, Meal Sites...",NaN,Meals on Wheels - South County,NaN,"Belmont, East Palo Alto",active,No wait.,NaN,NaN
8,9,9,NaN,NaN,NaN,Walk in. Proof of residency in California requ...,"Ethnic minorities, especially Spanish speaking","Provides general reading material, including b...",Resident of California to obtain a library card,NaN,...,NaN,"EDUCATION SERVICES, Library, Libraries, Public...",NaN,Fair Oaks Branch,NaN,San Mateo County,active,No wait.,NaN,NaN
9,10,10,NaN,NaN,NaN,Walk in. Proof of California residency to rece...,NaN,"Provides general reading and media materials, ...",Resident of California to obtain a card,NaN,...,NaN,"EDUCATION SERVICES, Library, Libraries, Public...",NaN,Main Library,NaN,San Mateo County,active,No wait.,NaN,NaN
10,11,11,NaN,NaN,NaN,Walk in. Proof of California residency require...,NaN,"Provides general reading materials, including ...",Resident of California to obtain a library car...,NaN,...,NaN,"EDUCATION SERVICES, Library, Libraries, Public...",NaN,Schaberg Branch,NaN,San Mateo County,active,No wait.,NaN,NaN
11,12,12,NaN,NaN,NaN,"Walk in or apply by phone, email or webpage re...","Adults, parents, children in 1st-12th grades i...",Offers an intergenerational literacy program f...,English-speaking adult reading at or below 7th...,NaN,...,NaN,"EDUCATION SERVICES, Adult, Alternative, Litera...",NaN,Project Read,NaN,Daly City,active,Depends on availability of tutors for small gr...,NaN,NaN
12,13,13,NaN,NaN,NaN,Walk in. Proof of California residency require...,NaN,"Provides general reading materials, including ...",Resident of California to obtain a library card,NaN,...,NaN,"EDUCATION SERVICES, Library, Libraries, Public...",NaN,Redwood Shores Branch,NaN,San Mateo County,active,No wait.,NaN,NaN
13,14,14,NaN,NaN,NaN,Call for appointment. Referral from human serv...,Individuals or families with low or no income ...,"Provides food, clothing, bus tokens and shelte...",None for most services. For emergency assistan...,NaN,...,NaN,"COMMUNITY SERVICES, Interpretation/Translation...",NaN,Redwood City Corps,NaN,"Belmont, Burlingame, East Palo Alto",active,Up to 20 minutes.,NaN,NaN
14,15,15,NaN,NaN,NaN,Walk in or through other agency referral.,Adult alcoholic/drug addictive men and women w...,Provides a long-term (6-12 month) residential ...,"Age 21-60, detoxed, physically able and willin...",NaN,...,NaN,"ALCOHOLISM SERVICES, Residential Care, DRUG AB...",NaN,Adult Rehabilitation Center,NaN,"Alameda County, San Mateo County",active,Varies according to available beds for men and...,NaN,NaN
15,16,16,NaN,NaN,NaN,"Walk in. Written application, identification r...",NaN,Provides emergency assistance including food a...,None for emergency assistance,NaN,...,NaN,"COMMODITY SERVICES, Clothing/Personal Items, C...",NaN,Sunnyvale Corps,NaN,NaN,active,No wait.,NaN,NaN
16,17,17,NaN,NaN,NaN,Call for information.,NaN,"Provides emergency food, clothing and furnitur...",Low-income families,NaN,...,NaN,"COMMODITY SERVICES, Clothing/Personal Items, C...",NaN,South San Francisco Citadel Corps,NaN,"Colma, Daly City, South San Francisco",active,NaN,NaN,NaN
17,18,18,NaN,NaN,NaN,Call for screening appointment. Medical visits...,NaN,"By appointment only, Project Smile provides a ...",Low-income person without access to health care,NaN,...,NaN,"HEALTH SERVICES, Outpatient Care, Community Cl...",NaN,Project Smile,NaN,East Palo Alto,active,Varies.,NaN,NaN
18,19,19,NaN,NaN,NaN,Call for screening appointment (650-347-3648).,NaN,Provides free medical and dental care to those...,Low-income person without access to health care,NaN,...,NaN,"HEALTH SERVICES, Outpatient Care, Community Cl...",NaN,San Mateo Free Medical Clinic,NaN,"Belmont, Burlingame",active,Varies.,NaN,NaN
19,20,20,NaN,NaN,NaN,Walk in.,NaN,no unrequired fields for this service,NaN,NaN,...,NaN,NaN,NaN,Service with blank fields,NaN,NaN,defunct,NaN,NaN,NaN
20,21,21,NaN,NaN,NaN,By phone during business hours.,NaN,just a test service,NaN,NaN,...,NaN,NaN,NaN,Service for Admin Test Location,NaN,San Mateo County,inactive,NaN,NaN,NaN
21,22,22,NaN,"Cash, Check, Credit Card",Fotos para pasaportes,Walk in or apply by phone or mail,"Profit and nonprofit businesses, the public, m...",[NOTE THIS IS NOT A REAL SERVICE--THIS IS FOR ...,None,passports@example.org,...,We offer 3-way interpretation services over th...,"Salud, Medicina",Spanish,Passport Photos,Government-issued picture identification,"Alameda County, San Mateo County",active,No wait to 2 weeks.,http://www.example.com,"105, 108, 108-05, 108-05-01, 111, 111-05"
22,23,22,NaN,NaN,NaN,Walk in or apply by phone or mail,"Second service and nonprofit businesses, the p...",[NOTE THIS IS NOT A REAL ORGANIZATION--THIS IS...,None,NaN,...,NaN,"Ruby on Rails/Postgres/Redis, testing, wic",NaN,Example Service Name,NaN,"San Mateo County, Alameda County",active,No wait to 2 weeks,http://www.example.com,NaN

In [10]:
#  i want a sample record

In [11]:
df.head()   # it will shown only first 5 record bydefault

,id,location_id,program_id,accepted_payments,alternate_name,application_process,audience,description,eligibility,email,...,interpretation_services,keywords,languages,name,required_documents,service_areas,status,wait_time,website,taxonomy_ids
0,1,1,NaN,NaN,NaN,Walk in or apply by phone.,"Older adults age 55 or over, ethnic minorities...",A walk-in center for older adults that provide...,"Age 55 or over for most programs, age 60 or ov...",NaN,...,NaN,"ADULT PROTECTION AND CARE SERVICES, Meal Sites...",NaN,Fair Oaks Adult Activity Center,NaN,Colma,active,No wait.,NaN,NaN
1,2,2,NaN,NaN,NaN,Apply by phone for an appointment.,Residents of San Mateo County age 55 or over,Provides training and job placement to eligibl...,"Age 55 or over, county resident and willing an...",NaN,...,NaN,"EMPLOYMENT/TRAINING SERVICES, Job Development,...",NaN,Second Career Employment Program,NaN,San Mateo County,active,Varies.,NaN,NaN
2,3,3,NaN,NaN,NaN,Phone for information (403-4300 Ext. 4322).,Older adults age 55 or over who can benefit fr...,Offers supportive counseling services to San M...,Resident of San Mateo County age 55 or over,NaN,...,NaN,"Geriatric Counseling, Older Adults, Gay, Lesbi...",NaN,Senior Peer Counseling,NaN,San Mateo County,active,Varies.,NaN,NaN
3,4,4,NaN,NaN,NaN,Apply by phone.,"Parents, children, families with problems of c...",Provides supervised visitation services and a ...,None,NaN,...,NaN,"INDIVIDUAL AND FAMILY DEVELOPMENT SERVICES, Gr...",NaN,Family Visitation Center,NaN,San Mateo County,active,No wait.,NaN,NaN
4,5,5,NaN,NaN,NaN,Phone for information.,Low-income working families with children tran...,Provides fixed 8% short term loans to eligible...,Eligibility: Low-income family with legal cust...,NaN,...,NaN,"COMMUNITY SERVICES, Speakers, Automobile Loans",NaN,Economic Self-Sufficiency Program,NaN,San Mateo County,active,NaN,NaN,NaN

In [12]:
df.head(2)

,id,location_id,program_id,accepted_payments,alternate_name,application_process,audience,description,eligibility,email,...,interpretation_services,keywords,languages,name,required_documents,service_areas,status,wait_time,website,taxonomy_ids
0,1,1,NaN,NaN,NaN,Walk in or apply by phone.,"Older adults age 55 or over, ethnic minorities...",A walk-in center for older adults that provide...,"Age 55 or over for most programs, age 60 or ov...",NaN,...,NaN,"ADULT PROTECTION AND CARE SERVICES, Meal Sites...",NaN,Fair Oaks Adult Activity Center,NaN,Colma,active,No wait.,NaN,NaN
1,2,2,NaN,NaN,NaN,Apply by phone for an appointment.,Residents of San Mateo County age 55 or over,Provides training and job placement to eligibl...,"Age 55 or over, county resident and willing an...",NaN,...,NaN,"EMPLOYMENT/TRAINING SERVICES, Job Development,...",NaN,Second Career Employment Program,NaN,San Mateo County,active,Varies.,NaN,NaN

In [13]:
 df.tail()   # it will show you last 5 record from bottom

,id,location_id,program_id,accepted_payments,alternate_name,application_process,audience,description,eligibility,email,...,interpretation_services,keywords,languages,name,required_documents,service_areas,status,wait_time,website,taxonomy_ids
18,19,19,NaN,NaN,NaN,Call for screening appointment (650-347-3648).,NaN,Provides free medical and dental care to those...,Low-income person without access to health care,NaN,...,NaN,"HEALTH SERVICES, Outpatient Care, Community Cl...",NaN,San Mateo Free Medical Clinic,NaN,"Belmont, Burlingame",active,Varies.,NaN,NaN
19,20,20,NaN,NaN,NaN,Walk in.,NaN,no unrequired fields for this service,NaN,NaN,...,NaN,NaN,NaN,Service with blank fields,NaN,NaN,defunct,NaN,NaN,NaN
20,21,21,NaN,NaN,NaN,By phone during business hours.,NaN,just a test service,NaN,NaN,...,NaN,NaN,NaN,Service for Admin Test Location,NaN,San Mateo County,inactive,NaN,NaN,NaN
21,22,22,NaN,"Cash, Check, Credit Card",Fotos para pasaportes,Walk in or apply by phone or mail,"Profit and nonprofit businesses, the public, m...",[NOTE THIS IS NOT A REAL SERVICE--THIS IS FOR ...,None,passports@example.org,...,We offer 3-way interpretation services over th...,"Salud, Medicina",Spanish,Passport Photos,Government-issued picture identification,"Alameda County, San Mateo County",active,No wait to 2 weeks.,http://www.example.com,"105, 108, 108-05, 108-05-01, 111, 111-05"
22,23,22,NaN,NaN,NaN,Walk in or apply by phone or mail,"Second service and nonprofit businesses, the p...",[NOTE THIS IS NOT A REAL ORGANIZATION--THIS IS...,None,NaN,...,NaN,"Ruby on Rails/Postgres/Redis, testing, wic",NaN,Example Service Name,NaN,"San Mateo County, Alameda County",active,No wait to 2 weeks,http://www.example.com,NaN

In [14]:
df.tail(3)

,id,location_id,program_id,accepted_payments,alternate_name,application_process,audience,description,eligibility,email,...,interpretation_services,keywords,languages,name,required_documents,service_areas,status,wait_time,website,taxonomy_ids
20,21,21,NaN,NaN,NaN,By phone during business hours.,NaN,just a test service,NaN,NaN,...,NaN,NaN,NaN,Service for Admin Test Location,NaN,San Mateo County,inactive,NaN,NaN,NaN
21,22,22,NaN,"Cash, Check, Credit Card",Fotos para pasaportes,Walk in or apply by phone or mail,"Profit and nonprofit businesses, the public, m...",[NOTE THIS IS NOT A REAL SERVICE--THIS IS FOR ...,None,passports@example.org,...,We offer 3-way interpretation services over th...,"Salud, Medicina",Spanish,Passport Photos,Government-issued picture identification,"Alameda County, San Mateo County",active,No wait to 2 weeks.,http://www.example.com,"105, 108, 108-05, 108-05-01, 111, 111-05"
22,23,22,NaN,NaN,NaN,Walk in or apply by phone or mail,"Second service and nonprofit businesses, the p...",[NOTE THIS IS NOT A REAL ORGANIZATION--THIS IS...,None,NaN,...,NaN,"Ruby on Rails/Postgres/Redis, testing, wic",NaN,Example Service Name,NaN,"San Mateo County, Alameda County",active,No wait to 2 weeks,http://www.example.com,NaN

In [15]:
#in jupitor notebook it not showing all the record, it will load whole record
#if you want to show whole record you will save this record inside file system and open it

In [16]:
df.columns        # df.c   and press tab

Index(['id', 'location_id', 'program_id', 'accepted_payments',
       'alternate_name', 'application_process', 'audience', 'description',
       'eligibility', 'email', 'fees', 'funding_sources',
       'interpretation_services', 'keywords', 'languages', 'name',
       'required_documents', 'service_areas', 'status', 'wait_time', 'website',
       'taxonomy_ids'],
      dtype='object')

In [17]:
df.dtypes             # df.d   and press tab

id                           int64
location_id                  int64
program_id                 float64
accepted_payments           object
alternate_name              object
application_process         object
audience                    object
description                 object
eligibility                 object
email                       object
fees                        object
funding_sources             object
interpretation_services     object
keywords                    object
languages                   object
name                        object
required_documents          object
service_areas               object
status                      object
wait_time                   object
website                     object
taxonomy_ids                object
dtype: object

In [18]:
df.columns #I WANT SPECIFIC COLUMB FROM WHOLE DATAFRAME

Index(['id', 'location_id', 'program_id', 'accepted_payments',
       'alternate_name', 'application_process', 'audience', 'description',
       'eligibility', 'email', 'fees', 'funding_sources',
       'interpretation_services', 'keywords', 'languages', 'name',
       'required_documents', 'service_areas', 'status', 'wait_time', 'website',
       'taxonomy_ids'],
      dtype='object')

In [19]:
df['email']

0                       NaN
1                       NaN
2                       NaN
3                       NaN
4                       NaN
5                       NaN
6                       NaN
7                       NaN
8                       NaN
9                       NaN
10                      NaN
11                      NaN
12                      NaN
13                      NaN
14                      NaN
15                      NaN
16                      NaN
17                      NaN
18                      NaN
19                      NaN
20                      NaN
21    passports@example.org
22                      NaN
Name: email, dtype: object

In [20]:
 df['keywords']

0     ADULT PROTECTION AND CARE SERVICES, Meal Sites...
1     EMPLOYMENT/TRAINING SERVICES, Job Development,...
2     Geriatric Counseling, Older Adults, Gay, Lesbi...
3     INDIVIDUAL AND FAMILY DEVELOPMENT SERVICES, Gr...
4        COMMUNITY SERVICES, Speakers, Automobile Loans
5     ADULT PROTECTION AND CARE SERVICES, In-Home Su...
6     ADULT PROTECTION AND CARE SERVICES, Adult Day ...
7     ADULT PROTECTION AND CARE SERVICES, Meal Sites...
8     EDUCATION SERVICES, Library, Libraries, Public...
9     EDUCATION SERVICES, Library, Libraries, Public...
10    EDUCATION SERVICES, Library, Libraries, Public...
11    EDUCATION SERVICES, Adult, Alternative, Litera...
12    EDUCATION SERVICES, Library, Libraries, Public...
13    COMMUNITY SERVICES, Interpretation/Translation...
14    ALCOHOLISM SERVICES, Residential Care, DRUG AB...
15    COMMODITY SERVICES, Clothing/Personal Items, C...
16    COMMODITY SERVICES, Clothing/Personal Items, C...
17    HEALTH SERVICES, Outpatient Care, Community Cl...
18    HEALTH SERVICES, Outpatient Care, Community Cl...
19                                                  NaN
20                                                  NaN
21                                      Salud, Medicina
22           Ruby on Rails/Postgres/Redis, testing, wic
Name: keywords, dtype: object

In [21]:

df['name']

0          Fair Oaks Adult Activity Center
1         Second Career Employment Program
2                   Senior Peer Counseling
3                 Family Visitation Center
4        Economic Self-Sufficiency Program
5     Little House Recreational Activities
6         Rosener House Adult Day Services
7           Meals on Wheels - South County
8                         Fair Oaks Branch
9                             Main Library
10                         Schaberg Branch
11                            Project Read
12                   Redwood Shores Branch
13                      Redwood City Corps
14             Adult Rehabilitation Center
15                         Sunnyvale Corps
16       South San Francisco Citadel Corps
17                           Project Smile
18           San Mateo Free Medical Clinic
19               Service with blank fields
20         Service for Admin Test Location
21                         Passport Photos
22                    Example Service Name
Name: name, dtype: object

In [22]:
#i would like to see a data in multiple columb

In [23]:
a = df['name']

In [24]:
type(a)

pandas.core.series.Series

In [25]:
"""dataframe is a combination of multiple series
series is nothing but a row and columb of data"""

'dataframe is a combination of multiple series\nseries is nothing but a row and columb of data'

In [26]:
df['name','location_id'] # its not going to works

KeyError: ('name', 'location_id')

In [27]:

df[['name','location_id','id']]

                                    name  location_id  id
0        Fair Oaks Adult Activity Center            1   1
1       Second Career Employment Program            2   2
2                 Senior Peer Counseling            3   3
3               Family Visitation Center            4   4
4      Economic Self-Sufficiency Program            5   5
5   Little House Recreational Activities            6   6
6       Rosener House Adult Day Services            7   7
7         Meals on Wheels - South County            8   8
8                       Fair Oaks Branch            9   9
9                           Main Library           10  10
10                       Schaberg Branch           11  11
11                          Project Read           12  12
12                 Redwood Shores Branch           13  13
13                    Redwood City Corps           14  14
14           Adult Rehabilitation Center           15  15
15                       Sunnyvale Corps           16  16
16     South San Francisco Citadel Corps           17  17
17                         Project Smile           18  18
18         San Mateo Free Medical Clinic           19  19
19             Service with blank fields           20  20
20       Service for Admin Test Location           21  21
21                       Passport Photos           22  22
22                  Example Service Name           22  23

In [28]:
df1 = df[['name','location_id','id']]

In [29]:
type(df1)

pandas.core.frame.DataFrame

In [30]:
df[['name']]

                                    name
0        Fair Oaks Adult Activity Center
1       Second Career Employment Program
2                 Senior Peer Counseling
3               Family Visitation Center
4      Economic Self-Sufficiency Program
5   Little House Recreational Activities
6       Rosener House Adult Day Services
7         Meals on Wheels - South County
8                       Fair Oaks Branch
9                           Main Library
10                       Schaberg Branch
11                          Project Read
12                 Redwood Shores Branch
13                    Redwood City Corps
14           Adult Rehabilitation Center
15                       Sunnyvale Corps
16     South San Francisco Citadel Corps
17                         Project Smile
18         San Mateo Free Medical Clinic
19             Service with blank fields
20       Service for Admin Test Location
21                       Passport Photos
22                  Example Service Name

In [31]:
type(df[['name']]) # check the difference

pandas.core.frame.DataFrame

In [32]:
type(df['name'])

pandas.core.series.Series

In [33]:
ls

 Volume in drive C has no label.
 Volume Serial Number is DE5C-05B8

 Directory of C:\Users\Nplite\Favorites

05-03-2022  23:04    <DIR>          .
05-03-2022  22:51    <DIR>          ..
05-03-2022  13:09    <DIR>          .ipynb_checkpoints
19-02-2022  23:01    <DIR>          __pycache__
08-02-2022  06:47           144,486 1.Basic, List, Tuple, Dictionary  ===1.ipynb
21-02-2022  12:54            79,738 2.If Else, Range, For, While.ipynb
22-02-2022  00:08            75,849 3. Function, Lambda,Generator.ipynb
22-02-2022  17:53           105,786 4.Generator, Fibonacci no, Open,Write,Read file.ipynb
24-02-2022  20:36            79,714 5.Exception Handling, Logging.ipynb
28-02-2022  01:20           117,642 6.Class.ipynb
05-03-2022  18:08             1,173 addresses.csv
23-02-2022  23:20            19,704 ADVANCE TASK INEURON.ipynb
05-03-2022  13:07             1,503 CASSANDRA.ipynb
05-03-2022  18:08             1,589 contacts.csv
14-02-2022  22:31            11,903 glass.data
22-02-2022  16:37             3,014 google.txt
05-03-2022  18:08               277 holiday_schedules.csv
04-03-2022  00:44                 0 ineuorn.db
04-03-2022  23:52             8,192 ineuron.db
04-03-2022  23:52            24,576 jobdb.db
30-01-2022  20:50    <DIR>          Links
05-03-2022  18:08            18,015 locations.csv
05-03-2022  23:04           161,651 LUSID Excel - Business Agility - Making Simple Changes Quickly & Easily.xlsx
05-03-2022  23:04           161,410 LUSID Excel - Maintain a product in multiple currencies and share classes.xlsx
05-03-2022  23:04            24,675 LUSID Excel - Manage instruments with economic definitions.xlsx
05-03-2022  23:04            84,319 LUSID Excel - Manage Orders.xlsx
05-03-2022  23:04           137,753 LUSID Excel - Manage your investment strategies.xlsx
05-03-2022  23:04           184,013 LUSID Excel - Setting up your IBOR.xlsx
05-03-2022  23:04           136,632 LUSID Excel - Setting up your market data.xlsx
05-03-2022  18:08             1,610 mail_addresses.csv
02-03-2022  01:24            86,043 MONGODB DATA.ipynb
01-03-2022  17:23    <DIR>          OneDrive
05-03-2022  18:08             2,281 organizations.csv
05-03-2022  23:00           338,462 PANDAS.ipynb
04-03-2022  23:52             8,192 person.db
05-03-2022  18:08             2,092 phones.csv
05-03-2022  18:08                60 programs.csv
05-03-2022  18:08               350 regular_schedules.csv
05-03-2022  19:17               308 sample_test.csv
05-03-2022  18:08            19,128 services.csv
01-03-2022  17:27           237,581 SQL DATA2.ipynb
05-03-2022  02:06            76,381 SQLLITE.ipynb
05-03-2022  18:08            14,618 taxonomy.csv
22-02-2022  16:35                 0 test1
              38 File(s)      2,370,720 bytes
               6 Dir(s)  77,817,176,064 bytes free

In [34]:
pd.read_excel('LUSID Excel - Manage Orders.xlsx')

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24
0,NaN,This sheet allows you to manage executions:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,1. List executions,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,2. Get execution,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,3. Upsert executions,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
66,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
67,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
68,NaN,NaN,Code,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
69,NaN,NaN,MyExecutionCode01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [36]:
pd.read_excel("LUSID Excel - Manage Orders.xlsx", sheet_name = "Allocations") # it can be read each and evry data present inside excel sheet

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24
0,NaN,This sheet allows you to manage Allocations:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,1. ListAllocations,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,2. GetAllocation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,3. UpsertAllocations,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62,NaN,NaN,Code,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
63,NaN,NaN,MyAllocation001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64,NaN,NaN,MyAllocation002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [38]:
pd.read_excel("LUSID Excel - Manage Orders.xlsx")

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24
0,NaN,This sheet allows you to manage executions:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,1. List executions,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,2. Get execution,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,3. Upsert executions,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
66,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
67,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
68,NaN,NaN,Code,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
69,NaN,NaN,MyExecutionCode01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [39]:
df.keys()

Index(['id', 'location_id', 'program_id', 'accepted_payments',
       'alternate_name', 'application_process', 'audience', 'description',
       'eligibility', 'email', 'fees', 'funding_sources',
       'interpretation_services', 'keywords', 'languages', 'name',
       'required_documents', 'service_areas', 'status', 'wait_time', 'website',
       'taxonomy_ids'],
      dtype='object')

In [44]:
df = pd.ExcelFile("LUSID Excel - Manage Orders.xlsx")

In [45]:
df.sheet_names

['Executions', 'Orders', 'Allocations', 'Placements', 'Blocks']

In [46]:
for i in df.sheet_names:
    pd.read_excel("LUSID Excel - Manage Orders.xlsx", sheet_name= i)

In [48]:
#if i want to read data from google link = titanic.csv github == so try to press RAW and copy RAW.github URL from github file and insert in pandas

In [52]:
pd.read_csv('https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv')

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [53]:
"""it is important so dont be download just keep url copy it and past inside pandas"""

'it is important so dont be download just keep url copy it and past inside pandas'

In [54]:
pd.read_csv('https://raw.githubusercontent.com/codeforamerica/ohana-api/master/data/sample-csv/addresses.csv')

,id,location_id,address_1,address_2,city,state_province,postal_code,country
0,1,1,2600 Middlefield Road,NaN,Redwood City,CA,94063,US
1,2,2,24 Second Avenue,NaN,San Mateo,CA,94401,US
2,3,3,24 Second Avenue,NaN,San Mateo,CA,94403,US
3,4,4,24 Second Avenue,NaN,San Mateo,CA,94401,US
4,5,5,24 Second Avenue,NaN,San Mateo,CA,94401,US
5,6,6,800 Middle Avenue,NaN,Menlo Park,CA,94025-9881,US
6,7,7,500 Arbor Road,NaN,Menlo Park,CA,94025,US
7,8,8,800 Middle Avenue,NaN,Menlo Park,CA,94025-9881,US
8,9,9,2510 Middlefield Road,NaN,Redwood City,CA,94063,US
9,10,10,1044 Middlefield Road,NaN,Redwood City,CA,94063,US
10,11,11,2140 Euclid Avenue.,NaN,Redwood City,CA,94061,US
11,12,12,1044 Middlefield Road,2nd Floor,Redwood City,CA,94063,US
12,13,13,399 Marine Parkway.,NaN,Redwood City,CA,94065,US
13,14,14,660 Veterans Blvd.,NaN,Redwood City,CA,94063,US
14,15,15,1500 Valencia Street,NaN,San Francisco,CA,94110,US
15,16,16,1161 South Bernardo,NaN,Sunnyvale,CA,94087,US
16,17,17,409 South Spruce Avenue,NaN,South San Francisco,CA,94080,US
17,18,18,114 Fifth Avenue,NaN,Redwood City,CA,94063,US
18,19,19,19 West 39th Avenue,NaN,San Mateo,CA,94403,US
19,20,21,123 El Camino Real,NaN,Belmont,CA,94002,US
20,21,22,2013 Avenue of the fellows,Suite 100,San Francisco,CA,94103,US

In [2]:
pd.read_csv('https://raw.githubusercontent.com/codeforamerica/ohana-api/master/data/sample-csv/services.csv')

,id,location_id,program_id,accepted_payments,alternate_name,application_process,audience,description,eligibility,email,...,interpretation_services,keywords,languages,name,required_documents,service_areas,status,wait_time,website,taxonomy_ids
0,1,1,NaN,NaN,NaN,Walk in or apply by phone.,"Older adults age 55 or over, ethnic minorities...",A walk-in center for older adults that provide...,"Age 55 or over for most programs, age 60 or ov...",NaN,...,NaN,"ADULT PROTECTION AND CARE SERVICES, Meal Sites...",NaN,Fair Oaks Adult Activity Center,NaN,Colma,active,No wait.,NaN,NaN
1,2,2,NaN,NaN,NaN,Apply by phone for an appointment.,Residents of San Mateo County age 55 or over,Provides training and job placement to eligibl...,"Age 55 or over, county resident and willing an...",NaN,...,NaN,"EMPLOYMENT/TRAINING SERVICES, Job Development,...",NaN,Second Career Employment Program,NaN,San Mateo County,active,Varies.,NaN,NaN
2,3,3,NaN,NaN,NaN,Phone for information (403-4300 Ext. 4322).,Older adults age 55 or over who can benefit fr...,Offers supportive counseling services to San M...,Resident of San Mateo County age 55 or over,NaN,...,NaN,"Geriatric Counseling, Older Adults, Gay, Lesbi...",NaN,Senior Peer Counseling,NaN,San Mateo County,active,Varies.,NaN,NaN
3,4,4,NaN,NaN,NaN,Apply by phone.,"Parents, children, families with problems of c...",Provides supervised visitation services and a ...,None,NaN,...,NaN,"INDIVIDUAL AND FAMILY DEVELOPMENT SERVICES, Gr...",NaN,Family Visitation Center,NaN,San Mateo County,active,No wait.,NaN,NaN
4,5,5,NaN,NaN,NaN,Phone for information.,Low-income working families with children tran...,Provides fixed 8% short term loans to eligible...,Eligibility: Low-income family with legal cust...,NaN,...,NaN,"COMMUNITY SERVICES, Speakers, Automobile Loans",NaN,Economic Self-Sufficiency Program,NaN,San Mateo County,active,NaN,NaN,NaN
5,6,6,NaN,NaN,NaN,Walk in or apply by phone for membership appli...,Any age,A multipurpose center offering a wide variety ...,None,NaN,...,NaN,"ADULT PROTECTION AND CARE SERVICES, In-Home Su...",NaN,Little House Recreational Activities,NaN,San Mateo County,active,No wait.,NaN,NaN
6,7,7,NaN,NaN,NaN,"Apply by phone or be referred by a doctor, soc...","Older adults who have memory or sensory loss, ...",Rosener House is a day center for older adults...,Age 18 or over,NaN,...,NaN,"ADULT PROTECTION AND CARE SERVICES, Adult Day ...",NaN,Rosener House Adult Day Services,NaN,"Belmont, Burlingame, East Palo Alto",active,No wait.,NaN,NaN
7,8,8,NaN,NaN,NaN,Apply by phone.,"Senior citizens age 60 or over, disabled indiv...",Delivers a hot meal to the home of persons age...,Homebound person unable to cook or shop,NaN,...,NaN,"ADULT PROTECTION AND CARE SERVICES, Meal Sites...",NaN,Meals on Wheels - South County,NaN,"Belmont, East Palo Alto",active,No wait.,NaN,NaN
8,9,9,NaN,NaN,NaN,Walk in. Proof of residency in California requ...,"Ethnic minorities, especially Spanish speaking","Provides general reading material, including b...",Resident of California to obtain a library card,NaN,...,NaN,"EDUCATION SERVICES, Library, Libraries, Public...",NaN,Fair Oaks Branch,NaN,San Mateo County,active,No wait.,NaN,NaN
9,10,10,NaN,NaN,NaN,Walk in. Proof of California residency to rece...,NaN,"Provides general reading and media materials, ...",Resident of California to obtain a card,NaN,...,NaN,"EDUCATION SERVICES, Library, Libraries, Public...",NaN,Main Library,NaN,San Mateo County,active,No wait.,NaN,NaN
10,11,11,NaN,NaN,NaN,Walk in. Proof of California residency require...,NaN,"Provides general reading materials, including ...",Resident of California to obtain a library car...,NaN,...,NaN,"EDUCATION SERVICES, Library, Libraries, Public...",NaN,Schaberg Branch,NaN,San Mateo County,active,No wait.,NaN,NaN
11,12,12,NaN,NaN,NaN,"Walk in or apply by phone, email or webpage re...","Adults, parents, children in 1st-12th grades i...",Offers an intergenerational literacy program f...,English-speaking adult reading at or below 7th...,NaN,...,NaN,"EDUCATION SERVICES, Adult, Alternative, Litera...",NaN,Project Read,NaN,Daly City,active,Depends on availability of tutors for small gr...,NaN,NaN
12,13,13,NaN,NaN,NaN,Walk in. Proof of California residency require...,NaN,"Provides general reading materials, including ...",Resident of California to obtain a library card,NaN,...,NaN,"EDUCATION SERVICES, Library, Libraries, Public...",NaN,Redwood Shores Branch,NaN,San Mateo County,active,No wait.,NaN,NaN
13,14,14,NaN,NaN,NaN,Call for appointment. Referral from human serv...,Individuals or families with low or no income ...,"Provides food, clothing, bus tokens and shelte...",None for most services. For emergency assistan...,NaN,...,NaN,"COMMUNITY SERVICES, Interpretation/Translation...",NaN,Redwood City Corps,NaN,"Belmont, Burlingame, East Palo Alto",active,Up to 20 minutes.,NaN,NaN
14,15,15,NaN,NaN,NaN,Walk in or through other agency referral.,Adult alcoholic/drug addictive men and women w...,Provides a long-term (6-12 month) residential ...,"Age 21-60, detoxed, physically able and willin...",NaN,...,NaN,"ALCOHOLISM SERVICES, Residential Care, DRUG AB...",NaN,Adult Rehabilitation Center,NaN,"Alameda County, San Mateo County",active,Varies according to available beds for men and...,NaN,NaN
15,16,16,NaN,NaN,NaN,"Walk in. Written application, identification r...",NaN,Provides emergency assistance including food a...,None for emergency assistance,NaN,...,NaN,"COMMODITY SERVICES, Clothing/Personal Items, C...",NaN,Sunnyvale Corps,NaN,NaN,active,No wait.,NaN,NaN
16,17,17,NaN,NaN,NaN,Call for information.,NaN,"Provides emergency food, clothing and furnitur...",Low-income families,NaN,...,NaN,"COMMODITY SERVICES, Clothing/Personal Items, C...",NaN,South San Francisco Citadel Corps,NaN,"Colma, Daly City, South San Francisco",active,NaN,NaN,NaN
17,18,18,NaN,NaN,NaN,Call for screening appointment. Medical visits...,NaN,"By appointment only, Project Smile provides a ...",Low-income person without access to health care,NaN,...,NaN,"HEALTH SERVICES, Outpatient Care, Community Cl...",NaN,Project Smile,NaN,East Palo Alto,active,Varies.,NaN,NaN
18,19,19,NaN,NaN,NaN,Call for screening appointment (650-347-3648).,NaN,Provides free medical and dental care to those...,Low-income person without access to health care,NaN,...,NaN,"HEALTH SERVICES, Outpatient Care, Community Cl...",NaN,San Mateo Free Medical Clinic,NaN,"Belmont, Burlingame",active,Varies.,NaN,NaN
19,20,20,NaN,NaN,NaN,Walk in.,NaN,no unrequired fields for this service,NaN,NaN,...,NaN,NaN,NaN,Service with blank fields,NaN,NaN,defunct,NaN,NaN,NaN
20,21,21,NaN,NaN,NaN,By phone during business hours.,NaN,just a test service,NaN,NaN,...,NaN,NaN,NaN,Service for Admin Test Location,NaN,San Mateo County,inactive,NaN,NaN,NaN
21,22,22,NaN,"Cash, Check, Credit Card",Fotos para pasaportes,Walk in or apply by phone or mail,"Profit and nonprofit businesses, the public, m...",[NOTE THIS IS NOT A REAL SERVICE--THIS IS FOR ...,None,passports@example.org,...,We offer 3-way interpretation services over th...,"Salud, Medicina",Spanish,Passport Photos,Government-issued picture identification,"Alameda County, San Mateo County",active,No wait to 2 weeks.,http://www.example.com,"105, 108, 108-05, 108-05-01, 111, 111-05"
22,23,22,NaN,NaN,NaN,Walk in or apply by phone or mail,"Second service and nonprofit businesses, the p...",[NOTE THIS IS NOT A REAL ORGANIZATION--THIS IS...,None,NaN,...,NaN,"Ruby on Rails/Postgres/Redis, testing, wic",NaN,Example Service Name,NaN,"San Mateo County, Alameda County",active,No wait to 2 weeks,http://www.example.com,NaN

In [56]:
pd.read_csv('https://raw.githubusercontent.com/codeforamerica/ohana-api/master/data/sample-csv/taxonomy.csv')

    taxonomy_id                          name parent_id           parent_name
0           101                     Emergency       NaN                   NaN
1        101-01             Disaster Response       101             Emergency
2        101-02                Emergency Cash       101             Emergency
3     101-02-01             Help Pay for Food    101-02        Emergency Cash
4     101-02-02       Help Pay for Healthcare    101-02        Emergency Cash
..          ...                           ...       ...                   ...
285   111-01-07              Workplace Rights    111-01  Advocacy & Legal Aid
286      111-02                     Mediation       111                 Legal
287      111-03                        Notary       111                 Legal
288      111-04                Representation       111                 Legal
289      111-05  Translation & Interpretation       111                 Legal

[290 rows x 4 columns]

In [58]:
#inside python project we used such kind of implimentation

In [ ]:
27/02/2022 class pandas day2

In [59]:
import pandas as pd

In [61]:
pd.read_html('https://www.basketball-reference.com/leagues/NBA_2015_totals.html')  # this link copy from google

[      Rk          Player Pos Age   Tm   G  GS    MP   FG  FGA  ...   FT%  ORB  \
 0      1      Quincy Acy  PF  24  NYK  68  22  1287  152  331  ...  .784   79
 1      2    Jordan Adams  SG  20  MEM  30   0   248   35   86  ...  .609    9
 2      3    Steven Adams   C  21  OKC  70  67  1771  217  399  ...  .502  199
 3      4     Jeff Adrien  PF  28  MIN  17   0   215   19   44  ...  .579   23
 4      5   Arron Afflalo  SG  29  TOT  78  72  2502  375  884  ...  .843   27
 ..   ...             ...  ..  ..  ...  ..  ..   ...  ...  ...  ...   ...  ...
 670  490  Thaddeus Young  PF  26  TOT  76  68  2434  451  968  ...  .655  127
 671  490  Thaddeus Young  PF  26  MIN  48  48  1605  289  641  ...  .682   75
 672  490  Thaddeus Young  PF  26  BRK  28  20   829  162  327  ...  .606   52
 673  491     Cody Zeller   C  22  CHO  62  45  1487  172  373  ...  .774   97
 674  492    Tyler Zeller   C  25  BOS  82  59  1731  340  619  ...  .823  146

      DRB  TRB  AST  STL BLK  TOV   PF   PTS
 0    222  301   68   27  22   60  147   398
 1     19   28   16   16   7   14   24    94
 2    324  523   66   38  86   99  222   537
 3     54   77   15    4   9    9   30    60
 4    220  247  129   41   7  116  167  1035
 ..   ...  ...  ...  ...  ..  ...  ...   ...
 670  284  411  173  124  25  117  171  1071
 671  170  245  135   86  17   75  115   685
 672  114  166   38   38   8   42   56   386
 673  265  362  100   34  49   62  156   472
 674  319  465  113   18  52   76  205   833

 [675 rows x 30 columns]]

In [62]:
#dataset is not in readable formate or tabular formate

In [63]:
df = pd.read_html('https://www.basketball-reference.com/leagues/NBA_2015_totals.html')  # this link copy from google

In [64]:
type(df)

list

In [65]:
"""check how many elements are there inside a list"""

'check how many elements are there inside a list'

In [66]:
len(df)

1

In [67]:
df[0]   # this command for readable form

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Quincy Acy,PF,24,NYK,68,22,1287,152,331,...,.784,79,222,301,68,27,22,60,147,398
1,2,Jordan Adams,SG,20,MEM,30,0,248,35,86,...,.609,9,19,28,16,16,7,14,24,94
2,3,Steven Adams,C,21,OKC,70,67,1771,217,399,...,.502,199,324,523,66,38,86,99,222,537
3,4,Jeff Adrien,PF,28,MIN,17,0,215,19,44,...,.579,23,54,77,15,4,9,9,30,60
4,5,Arron Afflalo,SG,29,TOT,78,72,2502,375,884,...,.843,27,220,247,129,41,7,116,167,1035
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
670,490,Thaddeus Young,PF,26,TOT,76,68,2434,451,968,...,.655,127,284,411,173,124,25,117,171,1071
671,490,Thaddeus Young,PF,26,MIN,48,48,1605,289,641,...,.682,75,170,245,135,86,17,75,115,685
672,490,Thaddeus Young,PF,26,BRK,28,20,829,162,327,...,.606,52,114,166,38,38,8,42,56,386
673,491,Cody Zeller,C,22,CHO,62,45,1487,172,373,...,.774,97,265,362,100,34,49,62,156,472
674,492,Tyler Zeller,C,25,BOS,82,59,1731,340,619,...,.823,146,319,465,113,18,52,76,205,833

In [68]:
type(df[0])

pandas.core.frame.DataFrame

In [69]:
df1 = df[0]

In [70]:
df1.columns

Index(['Rk', 'Player', 'Pos', 'Age', 'Tm', 'G', 'GS', 'MP', 'FG', 'FGA', 'FG%',
       '3P', '3PA', '3P%', '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%',
       'ORB', 'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS'],
      dtype='object')

In [72]:
df1.head()

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Quincy Acy,PF,24,NYK,68,22,1287,152,331,...,.784,79,222,301,68,27,22,60,147,398
1,2,Jordan Adams,SG,20,MEM,30,0,248,35,86,...,.609,9,19,28,16,16,7,14,24,94
2,3,Steven Adams,C,21,OKC,70,67,1771,217,399,...,.502,199,324,523,66,38,86,99,222,537
3,4,Jeff Adrien,PF,28,MIN,17,0,215,19,44,...,.579,23,54,77,15,4,9,9,30,60
4,5,Arron Afflalo,SG,29,TOT,78,72,2502,375,884,...,.843,27,220,247,129,41,7,116,167,1035

In [73]:
df1.head(3)

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Quincy Acy,PF,24,NYK,68,22,1287,152,331,...,.784,79,222,301,68,27,22,60,147,398
1,2,Jordan Adams,SG,20,MEM,30,0,248,35,86,...,.609,9,19,28,16,16,7,14,24,94
2,3,Steven Adams,C,21,OKC,70,67,1771,217,399,...,.502,199,324,523,66,38,86,99,222,537

In [74]:
df1.tail()

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
670,490,Thaddeus Young,PF,26,TOT,76,68,2434,451,968,...,.655,127,284,411,173,124,25,117,171,1071
671,490,Thaddeus Young,PF,26,MIN,48,48,1605,289,641,...,.682,75,170,245,135,86,17,75,115,685
672,490,Thaddeus Young,PF,26,BRK,28,20,829,162,327,...,.606,52,114,166,38,38,8,42,56,386
673,491,Cody Zeller,C,22,CHO,62,45,1487,172,373,...,.774,97,265,362,100,34,49,62,156,472
674,492,Tyler Zeller,C,25,BOS,82,59,1731,340,619,...,.823,146,319,465,113,18,52,76,205,833

In [75]:
df1.tail(4)

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
671,490,Thaddeus Young,PF,26,MIN,48,48,1605,289,641,...,.682,75,170,245,135,86,17,75,115,685
672,490,Thaddeus Young,PF,26,BRK,28,20,829,162,327,...,.606,52,114,166,38,38,8,42,56,386
673,491,Cody Zeller,C,22,CHO,62,45,1487,172,373,...,.774,97,265,362,100,34,49,62,156,472
674,492,Tyler Zeller,C,25,BOS,82,59,1731,340,619,...,.823,146,319,465,113,18,52,76,205,833

In [76]:
df1.dtypes

Rk        object
Player    object
Pos       object
Age       object
Tm        object
G         object
GS        object
MP        object
FG        object
FGA       object
FG%       object
3P        object
3PA       object
3P%       object
2P        object
2PA       object
2P%       object
eFG%      object
FT        object
FTA       object
FT%       object
ORB       object
DRB       object
TRB       object
AST       object
STL       object
BLK       object
TOV       object
PF        object
PTS       object
dtype: object

In [78]:
df1[['Age','GS']]

    Age  GS
0    24  22
1    20   0
2    21  67
3    28   0
4    29  72
..   ..  ..
670  26  68
671  26  48
672  26  20
673  22  45
674  25  59

[675 rows x 2 columns]

In [79]:
df1[['Age','GS','FGA']]

    Age  GS  FGA
0    24  22  331
1    20   0   86
2    21  67  399
3    28   0   44
4    29  72  884
..   ..  ..  ...
670  26  68  968
671  26  48  641
672  26  20  327
673  22  45  373
674  25  59  619

[675 rows x 3 columns]

In [80]:
#try to store this data for reading entire data or hidden columb

In [81]:
df1

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Quincy Acy,PF,24,NYK,68,22,1287,152,331,...,.784,79,222,301,68,27,22,60,147,398
1,2,Jordan Adams,SG,20,MEM,30,0,248,35,86,...,.609,9,19,28,16,16,7,14,24,94
2,3,Steven Adams,C,21,OKC,70,67,1771,217,399,...,.502,199,324,523,66,38,86,99,222,537
3,4,Jeff Adrien,PF,28,MIN,17,0,215,19,44,...,.579,23,54,77,15,4,9,9,30,60
4,5,Arron Afflalo,SG,29,TOT,78,72,2502,375,884,...,.843,27,220,247,129,41,7,116,167,1035
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
670,490,Thaddeus Young,PF,26,TOT,76,68,2434,451,968,...,.655,127,284,411,173,124,25,117,171,1071
671,490,Thaddeus Young,PF,26,MIN,48,48,1605,289,641,...,.682,75,170,245,135,86,17,75,115,685
672,490,Thaddeus Young,PF,26,BRK,28,20,829,162,327,...,.606,52,114,166,38,38,8,42,56,386
673,491,Cody Zeller,C,22,CHO,62,45,1487,172,373,...,.774,97,265,362,100,34,49,62,156,472
674,492,Tyler Zeller,C,25,BOS,82,59,1731,340,619,...,.823,146,319,465,113,18,52,76,205,833

In [82]:
df1.to_csv('NBA.csv') # created a file and save data inside NBA.csv file

In [85]:
ls # check NBA.csv file

 Volume in drive C has no label.
 Volume Serial Number is DE5C-05B8

 Directory of C:\Users\Nplite\Favorites

06-03-2022  00:35    <DIR>          .
05-03-2022  22:51    <DIR>          ..
05-03-2022  13:09    <DIR>          .ipynb_checkpoints
19-02-2022  23:01    <DIR>          __pycache__
08-02-2022  06:47           144,486 1.Basic, List, Tuple, Dictionary  ===1.ipynb
21-02-2022  12:54            79,738 2.If Else, Range, For, While.ipynb
22-02-2022  00:08            75,849 3. Function, Lambda,Generator.ipynb
22-02-2022  17:53           105,786 4.Generator, Fibonacci no, Open,Write,Read file.ipynb
24-02-2022  20:36            79,714 5.Exception Handling, Logging.ipynb
28-02-2022  01:20           117,642 6.Class.ipynb
05-03-2022  18:08             1,173 addresses.csv
23-02-2022  23:20            19,704 ADVANCE TASK INEURON.ipynb
05-03-2022  13:07             1,503 CASSANDRA.ipynb
05-03-2022  18:08             1,589 contacts.csv
14-02-2022  22:31            11,903 glass.data
22-02-2022  16:37             3,014 google.txt
05-03-2022  18:08               277 holiday_schedules.csv
04-03-2022  00:44                 0 ineuorn.db
04-03-2022  23:52             8,192 ineuron.db
04-03-2022  23:52            24,576 jobdb.db
30-01-2022  20:50    <DIR>          Links
05-03-2022  18:08            18,015 locations.csv
05-03-2022  23:04           161,651 LUSID Excel - Business Agility - Making Simple Changes Quickly & Easily.xlsx
05-03-2022  23:04           161,410 LUSID Excel - Maintain a product in multiple currencies and share classes.xlsx
05-03-2022  23:04            24,675 LUSID Excel - Manage instruments with economic definitions.xlsx
05-03-2022  23:04            84,319 LUSID Excel - Manage Orders.xlsx
05-03-2022  23:04           137,753 LUSID Excel - Manage your investment strategies.xlsx
05-03-2022  23:04           184,013 LUSID Excel - Setting up your IBOR.xlsx
05-03-2022  23:04           136,632 LUSID Excel - Setting up your market data.xlsx
05-03-2022  18:08             1,610 mail_addresses.csv
02-03-2022  01:24            86,043 MONGODB DATA.ipynb
06-03-2022  00:34            81,551 NBA.csv
01-03-2022  17:23    <DIR>          OneDrive
05-03-2022  18:08             2,281 organizations.csv
06-03-2022  00:35           521,149 PANDAS.ipynb
04-03-2022  23:52             8,192 person.db
05-03-2022  18:08             2,092 phones.csv
05-03-2022  18:08                60 programs.csv
05-03-2022  18:08               350 regular_schedules.csv
05-03-2022  19:17               308 sample_test.csv
05-03-2022  18:08            19,128 services.csv
01-03-2022  17:27           237,581 SQL DATA2.ipynb
05-03-2022  02:06            76,381 SQLLITE.ipynb
05-03-2022  18:08            14,618 taxonomy.csv
22-02-2022  16:35                 0 test1
              39 File(s)      2,634,958 bytes
               6 Dir(s)  77,733,429,248 bytes free

In [86]:
pd.read_csv('NBA.csv')

,Unnamed: 0,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,0,1,Quincy Acy,PF,24,NYK,68,22,1287,152,...,.784,79,222,301,68,27,22,60,147,398
1,1,2,Jordan Adams,SG,20,MEM,30,0,248,35,...,.609,9,19,28,16,16,7,14,24,94
2,2,3,Steven Adams,C,21,OKC,70,67,1771,217,...,.502,199,324,523,66,38,86,99,222,537
3,3,4,Jeff Adrien,PF,28,MIN,17,0,215,19,...,.579,23,54,77,15,4,9,9,30,60
4,4,5,Arron Afflalo,SG,29,TOT,78,72,2502,375,...,.843,27,220,247,129,41,7,116,167,1035
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
670,670,490,Thaddeus Young,PF,26,TOT,76,68,2434,451,...,.655,127,284,411,173,124,25,117,171,1071
671,671,490,Thaddeus Young,PF,26,MIN,48,48,1605,289,...,.682,75,170,245,135,86,17,75,115,685
672,672,490,Thaddeus Young,PF,26,BRK,28,20,829,162,...,.606,52,114,166,38,38,8,42,56,386
673,673,491,Cody Zeller,C,22,CHO,62,45,1487,172,...,.774,97,265,362,100,34,49,62,156,472
674,674,492,Tyler Zeller,C,25,BOS,82,59,1731,340,...,.823,146,319,465,113,18,52,76,205,833

In [87]:
#read data inside our c drive by copying link from ls note

In [88]:
df1.to_csv('NBA.csv',index= False) #check NBA file incide c drive there is no index

In [91]:
df1.to_csv('NBA.csv', header= False) #it will remove header

In [93]:
pd.read_html('https://stats.espncricinfo.com/ci/engine/records/averages/batting.html?class=3;id=6;type=team')

[               Player       Span  Mat Inns NO  Runs   HS    Ave   BF      SR  \
 0          AB Agarkar  2006-2007    4    2  0    15   14   7.50   11  136.36
 1            KK Ahmed  2018-2019   14    1  1     1   1*      -    1  100.00
 2           S Aravind  2015-2015    1    -  -     -    -      -    -       -
 3            R Ashwin  2010-2021   51   11  7   123  31*  30.75  115  106.95
 4          Avesh Khan  2022-2022    2    -  -     -    -      -    -       -
 ..                ...        ...  ...  ... ..   ...  ...    ...  ...     ...
 92      R Vinay Kumar  2010-2013    9    1  1     2   2*      -    4   50.00
 93  Washington Sundar  2017-2021   31   11  4    47  14*   6.71   32  146.87
 94           SA Yadav  2021-2022   14   12  3   351   65  39.00  212  165.56
 95           UT Yadav  2012-2019    7    1  0     2    2   2.00    4   50.00
 96       Yuvraj Singh  2007-2017   58   51  9  1177  77*  28.02  863  136.38

    100 50  0  4s  6s
 0    0  0  0   2   0
 1    0  0  0   0   0
 2    -  -  -   -   -
 3    0  0  0  14   1
 4    -  -  -   -   -
 ..  .. .. ..  ..  ..
 92   0  0  0   0   0
 93   0  0  3   4   3
 94   0  4  1  32  20
 95   0  0  0   0   0
 96   0  8  1  77  74

 [97 rows x 15 columns],
                                                    0
 0  By default, the shading indicates records from...
 1  Adjust:  most recent  | past week  | past mont...,
                                                    0
 0  Records includes the following current or rece...
 1  India v Sri Lanka at Dharamsala, 3rd T20I, Feb...
 2  India v Sri Lanka at Dharamsala, 2nd T20I, Feb...
 3  India v Sri Lanka at Lucknow, 1st T20I, Feb 24...]

NameError: name 'l' is not defined

In [95]:
l = pd.read_html('https://stats.espncricinfo.com/ci/engine/records/averages/batting.html?class=3;id=6;type=team')

In [96]:
len(l)

3

In [97]:
l[0] # it will fetch all data

,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s
0,AB Agarkar,2006-2007,4,2,0,15,14,7.50,11,136.36,0,0,0,2,0
1,KK Ahmed,2018-2019,14,1,1,1,1*,-,1,100.00,0,0,0,0,0
2,S Aravind,2015-2015,1,-,-,-,-,-,-,-,-,-,-,-,-
3,R Ashwin,2010-2021,51,11,7,123,31*,30.75,115,106.95,0,0,0,14,1
4,Avesh Khan,2022-2022,2,-,-,-,-,-,-,-,-,-,-,-,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92,R Vinay Kumar,2010-2013,9,1,1,2,2*,-,4,50.00,0,0,0,0,0
93,Washington Sundar,2017-2021,31,11,4,47,14*,6.71,32,146.87,0,0,3,4,3
94,SA Yadav,2021-2022,14,12,3,351,65,39.00,212,165.56,0,4,1,32,20
95,UT Yadav,2012-2019,7,1,0,2,2,2.00,4,50.00,0,0,0,0,0
96,Yuvraj Singh,2007-2017,58,51,9,1177,77*,28.02,863,136.38,0,8,1,77,74

In [98]:
l[1]

                                                   0
0  By default, the shading indicates records from...
1  Adjust:  most recent  | past week  | past mont...

In [99]:
l[2]

                                                   0
0  Records includes the following current or rece...
1  India v Sri Lanka at Dharamsala, 3rd T20I, Feb...
2  India v Sri Lanka at Dharamsala, 2nd T20I, Feb...
3  India v Sri Lanka at Lucknow, 1st T20I, Feb 24...

In [100]:
l[0].to_csv('cricket.csv', index = False) # store data inside a cdrive

In [102]:
"""we can extract table from pdf/word documents anything you want just name it"""

'we can extract table from pdf/word documents anything you want just name it'

In [133]:
d = """
{ "name" : "sudhanshu kumar",
"email_id" : "sudhanshu@ineuron.ai",
"tech" : ["ML","DL","NLP"],

"platform" :  ["techneuron","kidneuron","ineuron"]
}"""              #copy these dict and past in json viewer and learn

In [134]:
"""convert this data into tabular form or dataframe formate"""

'convert this data into tabular form or dataframe formate'

In [135]:
pd.DataFrame(d)

ValueError: DataFrame constructor not properly called!

In [136]:
import json                             # java scripted orig nating file

In [137]:
"""json file used in industery alot bcoz its a light wieght formate to transfer form one place to another place
json viewver will read unreadable data(dict formate) into more readable formate"""

'json file used in industery alot bcoz its a light wieght formate to transfer form one place to another place\njson viewver will read unreadable data(dict formate) into more readable formate'

In [138]:
result = json.loads(d)

In [139]:
result

{'name': 'sudhanshu kumar',
 'email_id': 'sudhanshu@ineuron.ai',
 'tech': ['ML', 'DL', 'NLP'],
 'platform': ['techneuron', 'kidneuron', 'ineuron']}

In [140]:
type(result)

dict

In [141]:
type(d)

str

In [142]:
pd.DataFrame(result)

              name              email_id tech    platform
0  sudhanshu kumar  sudhanshu@ineuron.ai   ML  techneuron
1  sudhanshu kumar  sudhanshu@ineuron.ai   DL   kidneuron
2  sudhanshu kumar  sudhanshu@ineuron.ai  NLP     ineuron

In [143]:
pd.DataFrame(result['name'])

ValueError: DataFrame constructor not properly called!

In [146]:
pd.DataFrame(result['tech']) #bcoz tech is list

     0
0   ML
1   DL
2  NLP

In [147]:
result['tech']

['ML', 'DL', 'NLP']

In [148]:
d = {"packetType":"D","data":{"checkEngineLightFlag":"F","batteryVoltageStableTime":0,"batteryVoltageStable":"0","batteryVoltageOff":"12.42","batteryCrankParamTN":"-0.08","batteryCrankParamVN":"0.00","batteryCrankParamTP":"-0.08","batteryCrankParamVP":"0.00","batteryCrankParamTT":"-0.00008","batteryCrankParamV0":"0.00","batteryVoltageMaxOn":"13.05","batteryVoltageMinOn":"12.97","batteryVoltageMaxOff":"12.46","batteryVoltageMinOff":"12.36","batteryVoltageOnAverage":"13.02","engineLoadMax":"84","engineLoadAverage":"39.98","rpmMax":"3487","rpmAverage":"1431.29","gpsSpeedAverage":"21.99","vssMax":"53.44","vssAverage":"23.06","tcuTemperatureMin":"82.40","tcuTemperatureMax":"109.40","tcuTemperatureAverage":"104.87","coolantMin":"158.00","coolantMax":"188.60","coolantAverage":"180.20","packetStartLocal":1508143346000,"tripStartLocal":1508143346000,"milIndicator":"F","monitorsNotReady":0,"imei":"60DF5417","gatewayTs":1515613306592,"diagnosticTroubleCodeData":[],"diagnosticPidData":[[64768,47,100],[64768,1,517376],[64800,1,262144],[64768,5,125]]},"header":{"iwrapVer":"1.9.20","sourceSystem":"CDP","configVer":"1.1","oemName":"HUM","unitType":0,"cpVer":"7.50.1.9","igpsVer":"1.3.7","messageType":"Notification","pomVer":"1.0","headerVer":"V6","timestamp":0,"deviceType":"InDrive","visorVer":"1.4.35","transactionId":"53098471-7787-4160-94b3-cd69dcc70416","deviceSerialNo":"60DF5417","subOrganization":"HUM","organization":"HUM","imei":"60DF5417","operation":"Notification"}}

In [149]:
pd.DataFrame(d)

,packetType,data,header
checkEngineLightFlag,D,F,NaN
batteryVoltageStableTime,D,0,NaN
batteryVoltageStable,D,0,NaN
batteryVoltageOff,D,12.42,NaN
batteryCrankParamTN,D,-0.08,NaN
batteryCrankParamVN,D,0.00,NaN
batteryCrankParamTP,D,-0.08,NaN
batteryCrankParamVP,D,0.00,NaN
batteryCrankParamTT,D,-0.00008,NaN
batteryCrankParamV0,D,0.00,NaN
batteryVoltageMaxOn,D,13.05,NaN
batteryVoltageMinOn,D,12.97,NaN
batteryVoltageMaxOff,D,12.46,NaN
batteryVoltageMinOff,D,12.36,NaN
batteryVoltageOnAverage,D,13.02,NaN
engineLoadMax,D,84,NaN
engineLoadAverage,D,39.98,NaN
rpmMax,D,3487,NaN
rpmAverage,D,1431.29,NaN
gpsSpeedAverage,D,21.99,NaN
vssMax,D,53.44,NaN
vssAverage,D,23.06,NaN
tcuTemperatureMin,D,82.40,NaN
tcuTemperatureMax,D,109.40,NaN
tcuTemperatureAverage,D,104.87,NaN
coolantMin,D,158.00,NaN
coolantMax,D,188.60,NaN
coolantAverage,D,180.20,NaN
packetStartLocal,D,1508143346000,NaN
tripStartLocal,D,1508143346000,NaN
milIndicator,D,F,NaN
monitorsNotReady,D,0,NaN
imei,D,60DF5417,60DF5417
gatewayTs,D,1515613306592,NaN
diagnosticTroubleCodeData,D,[],NaN
diagnosticPidData,D,"[[64768, 47, 100], [64768, 1, 517376], [64800,...",NaN
iwrapVer,D,NaN,1.9.20
sourceSystem,D,NaN,CDP
configVer,D,NaN,1.1
oemName,D,NaN,HUM
unitType,D,NaN,0
cpVer,D,NaN,7.50.1.9
igpsVer,D,NaN,1.3.7
messageType,D,NaN,Notification
pomVer,D,NaN,1.0
headerVer,D,NaN,V6
timestamp,D,NaN,0
deviceType,D,NaN,InDrive
visorVer,D,NaN,1.4.35
transactionId,D,NaN,53098471-7787-4160-94b3-cd69dcc70416
deviceSerialNo,D,NaN,60DF5417
subOrganization,D,NaN,HUM
organization,D,NaN,HUM
operation,D,NaN,Notification

In [150]:
#try to extract data dictionary

In [155]:
d1 = d["data"]

In [156]:
d1

{'checkEngineLightFlag': 'F',
 'batteryVoltageStableTime': 0,
 'batteryVoltageStable': '0',
 'batteryVoltageOff': '12.42',
 'batteryCrankParamTN': '-0.08',
 'batteryCrankParamVN': '0.00',
 'batteryCrankParamTP': '-0.08',
 'batteryCrankParamVP': '0.00',
 'batteryCrankParamTT': '-0.00008',
 'batteryCrankParamV0': '0.00',
 'batteryVoltageMaxOn': '13.05',
 'batteryVoltageMinOn': '12.97',
 'batteryVoltageMaxOff': '12.46',
 'batteryVoltageMinOff': '12.36',
 'batteryVoltageOnAverage': '13.02',
 'engineLoadMax': '84',
 'engineLoadAverage': '39.98',
 'rpmMax': '3487',
 'rpmAverage': '1431.29',
 'gpsSpeedAverage': '21.99',
 'vssMax': '53.44',
 'vssAverage': '23.06',
 'tcuTemperatureMin': '82.40',
 'tcuTemperatureMax': '109.40',
 'tcuTemperatureAverage': '104.87',
 'coolantMin': '158.00',
 'coolantMax': '188.60',
 'coolantAverage': '180.20',
 'packetStartLocal': 1508143346000,
 'tripStartLocal': 1508143346000,
 'milIndicator': 'F',
 'monitorsNotReady': 0,
 'imei': '60DF5417',
 'gatewayTs': 1515613306592,
 'diagnosticTroubleCodeData': [],
 'diagnosticPidData': [[64768, 47, 100],
  [64768, 1, 517376],
  [64800, 1, 262144],
  [64768, 5, 125]]}

In [152]:
pd.DataFrame(d['data'])                #in some of dict len(dict) is not equal so for this it is not able to convert into dataframe

ValueError: arrays must all be same length

In [153]:
#try to remove some dict value having null values

In [157]:
del d1['diagnosticTroubleCodeData']

In [159]:
pd.DataFrame(d1)

,checkEngineLightFlag,batteryVoltageStableTime,batteryVoltageStable,batteryVoltageOff,batteryCrankParamTN,batteryCrankParamVN,batteryCrankParamTP,batteryCrankParamVP,batteryCrankParamTT,batteryCrankParamV0,...,coolantMin,coolantMax,coolantAverage,packetStartLocal,tripStartLocal,milIndicator,monitorsNotReady,imei,gatewayTs,diagnosticPidData
0,F,0,0,12.42,-0.08,0.00,-0.08,0.00,-0.00008,0.00,...,158.00,188.60,180.20,1508143346000,1508143346000,F,0,60DF5417,1515613306592,"[64768, 47, 100]"
1,F,0,0,12.42,-0.08,0.00,-0.08,0.00,-0.00008,0.00,...,158.00,188.60,180.20,1508143346000,1508143346000,F,0,60DF5417,1515613306592,"[64768, 1, 517376]"
2,F,0,0,12.42,-0.08,0.00,-0.08,0.00,-0.00008,0.00,...,158.00,188.60,180.20,1508143346000,1508143346000,F,0,60DF5417,1515613306592,"[64800, 1, 262144]"
3,F,0,0,12.42,-0.08,0.00,-0.08,0.00,-0.00008,0.00,...,158.00,188.60,180.20,1508143346000,1508143346000,F,0,60DF5417,1515613306592,"[64768, 5, 125]"

In [160]:
 url = "https://api.github.com/repos/pandas-dev/pandas/issues"

In [161]:
pd.read_json("https://api.github.com/repos/pandas-dev/pandas/issues")

,url,repository_url,labels_url,comments_url,events_url,html_url,id,node_id,number,title,...,updated_at,closed_at,author_association,active_lock_reason,draft,pull_request,body,reactions,timeline_url,performed_via_github_app
0,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/46241,1160431554,PR_kwDOAA0YD84z_ppo,46241,CI/TYP: pyright reportSelfClsParameterName,...,2022-03-05 19:42:50+00:00,NaT,CONTRIBUTOR,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,Fixes:\r\n\r\n> pandas/core/arrays/_mixins.py:...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN
1,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/46240,1160431471,I_kwDOAA0YD85FKsdv,46240,BUG: read_stata ignores columns parameter and ...,...,2022-03-05 19:45:06+00:00,NaT,NONE,NaN,NaN,NaN,### Pandas version checks\r\n\r\n- [X] I have ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN
2,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/46239,1160393154,PR_kwDOAA0YD84z_iiZ,46239,DOC+BUG: `Styler.to_excel` pseudo css `number-...,...,2022-03-05 17:31:55+00:00,NaT,CONTRIBUTOR,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,- [x] closes #46152 \r\n,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN
3,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/46238,1160389512,PR_kwDOAA0YD84z_h1Q,46238,Bug fix - cannot construct Index of empty tuples,...,2022-03-05 17:36:15+00:00,NaT,CONTRIBUTOR,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,- [ ] closes #45608 \r\n- [ ] [Tests added and...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN
4,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/46236,1160198674,PR_kwDOAA0YD84z-8mt,46236,troubleshoot 32bit build,...,2022-03-05 02:51:25+00:00,NaT,MEMBER,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,- [ ] closes #xxxx (Replace xxxx with the Gith...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN
5,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/46234,1160089928,PR_kwDOAA0YD84z-mBc,46234,REF: use standard pattern in _tz_convert_from_utc,...,2022-03-05 01:06:08+00:00,NaT,MEMBER,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,- [ ] closes #xxxx (Replace xxxx with the Gith...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN
6,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/46232,1160064471,PR_kwDOAA0YD84z-gzl,46232,Adding overwrite or ignore behavior for row co...,...,2022-03-05 17:17:45+00:00,NaT,NONE,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,@cvonsteg started the effort to implement this...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN
7,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/46231,1159934807,PR_kwDOAA0YD84z-FU6,46231,DOC: Added plt.show() at the end of each neces...,...,2022-03-05 17:37:55+00:00,NaT,CONTRIBUTOR,NaN,1.0,{'url': 'https://api.github.com/repos/pandas-d...,Added plt.show() at the end of each necessary ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN
8,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/46230,1159874789,I_kwDOAA0YD85FIkjl,46230,BUG: pd.DataFrame.interpolate fails with Value...,...,2022-03-04 17:19:14+00:00,NaT,NONE,NaN,NaN,NaN,### Pandas version checks\n\n- [X] I have chec...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN
9,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/46229,1159791857,I_kwDOAA0YD85FIQTx,46229,BUG: Saving to Stata exception - TypeError: en...,...,2022-03-05 05:10:49+00:00,NaT,NONE,NaN,NaN,NaN,### Pandas version checks\r\n\r\n- [X] I have ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN
10,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/46227,1159657724,PR_kwDOAA0YD84z9LNE,46227,DOC: migrate from sphinx-panels to sphinx-design,...,2022-03-05 17:29:54+00:00,NaT,MEMBER,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,Eventually it is the goal that the sphinx-desi...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN
11,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/46226,1159602954,PR_kwDOAA0YD84z8_b_,46226,ENH: Let callables in .loc and .iloc take an o...,...,2022-03-05 17:12:07+00:00,NaT,CONTRIBUTOR,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,"Currently, when supplying callables to ``.loc`...",{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN
12,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/46225,1159567404,I_kwDOAA0YD85FHZgs,46225,BUG: outer join out of order when joining mult...,...,2022-03-05 14:31:08+00:00,NaT,NONE,NaN,NaN,NaN,### Pandas version checks\n\n- [X] I have chec...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN
13,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/46222,1159216249,PR_kwDOAA0YD84z7u8G,46222,TYP: pd.isna,...,2022-03-05 15:10:12+00:00,NaT,CONTRIBUTOR,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,Inferred by mypy and pyright:\r\n```py\r\nimpo...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN
14,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/46221,1159140752,I_kwDOAA0YD85FFxWQ,46221,BUG: read_sql with query doesn't get metadata ...,...,2022-03-05 18:05:37+00:00,NaT,NONE,NaN,NaN,NaN,### Pandas version checks\n\n- [X] I have chec...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN
15,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/46218,1159078523,I_kwDOAA0YD85FFiJ7,46218,BUG: pd.cut regression starting in version 1.4...,...,2022-03-05 14:10:48+00:00,NaT,NONE,NaN,NaN,NaN,### Pandas version checks\r\n\r\n- [X] I have ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN
16,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/46210,1158374398,I_kwDOAA0YD85FC2P-,46210,BUG: UserWarning about lacking infer_datetime_...,...,2022-03-05 14:07:45+00:00,NaT,NONE,NaN,NaN,NaN,### Pandas version checks\n\n- [X] I have chec...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN
17,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/46209,1157875795,PR_kwDOAA0YD84z3TEH,46209,BUG: Fix some cases of groupby(...).transform ...,...,2022-03-05 17:06:36+00:00,NaT,MEMBER,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,Part of #17093\r\n- [x] [Tests added and passe...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN
18,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/46207,1157819010,PR_kwDOAA0YD84z3HeN,46207,REF: Move Categorical logic from Grouping (#46...,...,2022-03-05 17:10:42+00:00,NaT,CONTRIBUTOR,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,- [x] closes #46203 (Replace xxxx with the Git...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN
19,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/46205,1157652834,I_kwDOAA0YD85FAGFi,46205,DOC: provide detailed information about buildi...,...,2022-03-05 14:04:44+00:00,NaT,CONTRIBUTOR,NaN,NaN,NaN,### Pandas version checks\r\n\r\n- [X] I have ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN
20,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/46204,1157540646,PR_kwDOAA0YD84z2Mzr,46204,"PERF: avoid copies in frame[col].fillna(val, i...",...,2022-03-03 19:36:22+00:00,NaT,MEMBER,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,- [x] closes #46149\r\n- [x] [Tests added and ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN
21,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/46203,1157500304,I_kwDOAA0YD85E_g2Q,46203,REF: Refactor `Grouping` class to use delegate...,...,2022-03-03 22:44:23+00:00,NaT,CONTRIBUTOR,NaN,NaN,NaN,Hi there! Thanks for the work you're doing.\r\...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN
22,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/46202,1157424124,I_kwDOAA0YD85E_OP8,46202,BUG: very slow groupby(col1)[col2].value_count...,...,2022-03-05 02:20:10+00:00,NaT,NONE,NaN,NaN,NaN,### Pandas version checks\r\n\r\n- [X] I have ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN
23,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/46199,1157383588,PR_kwDOAA0YD84z1r00,46199,Test : Pandas 1.0.5 1.1.0 behavior change on...,...,2022-03-05 17:40:44+00:00,NaT,CONTRIBUTOR,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,- [x] closes #35517 \r\n- [ ] [Tests added and...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN
24,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/46195,1155867508,PR_kwDOAA0YD84zwZAr,46195,DOC: Clarify groupby.first does not use nulls,...,2022-03-05 17:04:01+00:00,NaT,CONTRIBUTOR,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,- [X] closes #8427\r\n- [X] All [code checks ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN
25,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/46187,1154543878,I_kwDOAA0YD85E0PEG,46187,BUG: AttributeError: 'TextFileReader' object h...,...,2022-03-03 04:55:40+00:00,NaT,NONE,NaN,NaN,NaN,### Pandas version checks\n\n- [X] I have chec...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN
26,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/46185,1154522327,I_kwDOAA0YD85E0JzX,46185,BUG: df.A raises AttributeError if column inde...,...,2022-02-28 20:32:41+00:00,NaT,NONE,NaN,NaN,NaN,### Pandas version checks\n\n- [X] I have chec...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN
27,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/46179,1154193534,I_kwDOAA0YD85Ey5h-,46179,BUG: Series.add(DataFrame) fails to align,...,2022-02-28 15:03:11+00:00,NaT,CONTRIBUTOR,NaN,NaN,NaN,### Pandas version checks\n\n- [X] I have chec...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN
28,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/46178,1153888271,I_kwDOAA0YD85ExvAP,46178,BUG: Merge error when merge col is int64 and I...,...,2022-02-28 10:11:45+00:00,NaT,NONE,NaN,NaN,NaN,### Pandas version checks\r\n\r\n- [X] I have ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN
29,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/46176,1153565414,I_kwDOAA0YD85EwgLm,46176,getsizeof usage for memory utilization estima...,...,2022-02-28 03:08:49+00:00,NaT,NONE,NaN,NaN,NaN,### Pandas version checks\n\n- [X] I have chec...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN

In [163]:
import requests
url = "https://api.github.com/repos/pandas-dev/pandas/issues"

In [165]:
data = requests.get(url)

In [166]:
data

In [168]:
data1 = data.json() #it will convert data into raw json formate

In [169]:
data1  # from all the data from internet we are able to get it

[{'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46241',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46241/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46241/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46241/events',
  'html_url': 'https://github.com/pandas-dev/pandas/pull/46241',
  'id': 1160431554,
  'node_id': 'PR_kwDOAA0YD84z_ppo',
  'number': 46241,
  'title': 'CI/TYP: pyright reportSelfClsParameterName',
  'user': {'login': 'twoertwein',
   'id': 6618166,
   'node_id': 'MDQ6VXNlcjY2MTgxNjY=',
   'avatar_url': 'https://avatars.githubusercontent.com/u/6618166?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/twoertwein',
   'html_url': 'https://github.com/twoertwein',
   'followers_url': 'https://api.github.com/users/twoertwein/followers',
   'following_url': 'https://api.github.com/users/twoertwein/following{/other_user}',
   'gists_url': 'https://api.github.com/users/twoertwein/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/twoertwein/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/twoertwein/subscriptions',
   'organizations_url': 'https://api.github.com/users/twoertwein/orgs',
   'repos_url': 'https://api.github.com/users/twoertwein/repos',
   'events_url': 'https://api.github.com/users/twoertwein/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/twoertwein/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 1,
  'created_at': '2022-03-05T19:42:50Z',
  'updated_at': '2022-03-05T21:02:20Z',
  'closed_at': None,
  'author_association': 'CONTRIBUTOR',
  'active_lock_reason': None,
  'draft': False,
  'pull_request': {'url': 'https://api.github.com/repos/pandas-dev/pandas/pulls/46241',
   'html_url': 'https://github.com/pandas-dev/pandas/pull/46241',
   'diff_url': 'https://github.com/pandas-dev/pandas/pull/46241.diff',
   'patch_url': 'https://github.com/pandas-dev/pandas/pull/46241.patch',
   'merged_at': None},
  'body': 'Fixes:\r\n\r\n> pandas/core/arrays/_mixins.py:185:26 - warning: Instance methods should take a "self" parameter (reportSelfClsParameterName)\r\n\r\nI\'m not familiar with the function, could also be a `classmethod` @jbrockmendel \r\n\r\n',
  'reactions': {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46241/reactions',
   'total_count': 0,
   '+1': 0,
   '-1': 0,
   'laugh': 0,
   'hooray': 0,
   'confused': 0,
   'heart': 0,
   'rocket': 0,
   'eyes': 0},
  'timeline_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46241/timeline',
  'performed_via_github_app': None},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46240',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46240/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46240/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46240/events',
  'html_url': 'https://github.com/pandas-dev/pandas/issues/46240',
  'id': 1160431471,
  'node_id': 'I_kwDOAA0YD85FKsdv',
  'number': 46240,
  'title': 'BUG: read_stata ignores columns parameter and dtypes of empty dta files',
  'user': {'login': 'sterlinm',
   'id': 1461273,
   'node_id': 'MDQ6VXNlcjE0NjEyNzM=',
   'avatar_url': 'https://avatars.githubusercontent.com/u/1461273?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/sterlinm',
   'html_url': 'https://github.com/sterlinm',
   'followers_url': 'https://api.github.com/users/sterlinm/followers',
   'following_url': 'https://api.github.com/users/sterlinm/following{/other_user}',
   'gists_url': 'https://api.github.com/users/sterlinm/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/sterlinm/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/sterlinm/subscriptions',
   'organizations_url': 'https://api.github.com/users/sterlinm/orgs',
   'repos_url': 'https://api.github.com/users/sterlinm/repos',
   'events_url': 'https://api.github.com/users/sterlinm/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/sterlinm/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [{'id': 76811,
    'node_id': 'MDU6TGFiZWw3NjgxMQ==',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Bug',
    'name': 'Bug',
    'color': 'e10c02',
    'default': False,
    'description': None},
   {'id': 1954720290,
    'node_id': 'MDU6TGFiZWwxOTU0NzIwMjkw',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Needs%20Triage',
    'name': 'Needs Triage',
    'color': '0052cc',
    'default': False,
    'description': 'Issue that has not been reviewed by a pandas team member'}],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 0,
  'created_at': '2022-03-05T19:42:19Z',
  'updated_at': '2022-03-05T19:45:06Z',
  'closed_at': None,
  'author_association': 'NONE',
  'active_lock_reason': None,
  'body': '### Pandas version checks\r\n\r\n- [X] I have checked that this issue has not already been reported.\r\n\r\n- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.\r\n\r\n- [ ] I have confirmed this bug exists on the main branch of pandas.\r\n\r\n\r\n### Reproducible Example\r\n\r\n```python\r\nimport pandas as pd\r\n\r\n# create an empty DataFrame with int64 and float64 dtypes\r\ndf = pd.DataFrame(data={"a": range(3), "b": [1.0, 2.0, 3.0]}).head(0)\r\n\r\n# write to Stata .dta file\r\ndf.to_stata(\'empty.dta\', write_index=False, version=117)\r\n\r\n# read one column of empty .dta file\r\ndf2 = pd.read_stata(\'empty.dta\', columns=["a"])\r\n\r\n# show dtypes of df2\r\ndf2.dtypes\r\n```\r\n\r\n\r\n### Issue Description\r\n\r\nA stata `.dta` file with zero rows still has type information, but when you try to read an empty `.dta` file using `pd.read_stata` all of the columns have object dtype. It will also ignore the `columns` parameter and read all of the columns.\r\n\r\n### Expected Behavior\r\n\r\nIn the above example `df2.dtypes` should return:\r\n\r\n```python\r\nIn [2]: df2.dtypes\r\nOut[2]:\r\na    object\r\nb    object\r\ndtype: object\r\n```\r\n\r\n### Installed Versions\r\n\r\nApologies, `pd.show_versions()` fails for some reason. I\'ve included it, but the pandas version is 1.4.1.\r\n\r\n```shell\r\nIn [5]: pd.__version__\r\nOut[5]: \'1.4.1\'\r\n```\r\n\r\n<details>\r\n\r\n```python-traceback\r\nIn [3]: pd.show_versions()\r\n---------------------------------------------------------------------------\r\nAssertionError                            Traceback (most recent call last)\r\nInput In [3], in <module>\r\n----> 1 pd.show_versions()\r\n\r\nFile ~/mambaforge/envs/py310/lib/python3.10/site-packages/pandas/util/_print_versions.py:109, in show_versions(as_json)\r\n     94 """\r\n     95 Provide useful information, important for bug reports.\r\n     96\r\n   (...)\r\n    106     * If True, outputs info in JSON format to the console.\r\n    107 """\r\n    108 sys_info = _get_sys_info()\r\n--> 109 deps = _get_dependency_info()\r\n    111 if as_json:\r\n    112     j = {"system": sys_info, "dependencies": deps}\r\n\r\nFile ~/mambaforge/envs/py310/lib/python3.10/site-packages/pandas/util/_print_versions.py:88, in _get_dependency_info()\r\n     86 result: dict[str, JSONSerializable] = {}\r\n     87 for modname in deps:\r\n---> 88     mod = import_optional_dependency(modname, errors="ignore")\r\n     89     result[modname] = get_version(mod) if mod else None\r\n     90 return result\r\n\r\nFile ~/mambaforge/envs/py310/lib/python3.10/site-packages/pandas/compat/_optional.py:126, in import_optional_dependency(name, extra, errors, min_version)\r\n    121 msg = (\r\n    122     f"Missing optional dependency \'{install_name}\'. {extra} "\r\n    123     f"Use pip or conda to install {install_name}."\r\n    124 )\r\n    125 try:\r\n--> 126     module = importlib.import_module(name)\r\n    127 except ImportError:\r\n    128     if errors == "raise":\r\n\r\nFile ~/mambaforge/envs/py310/lib/python3.10/importlib/__init__.py:126, in import_module(name, package)\r\n    124             break\r\n    125         level += 1\r\n--> 126 return _bootstrap._gcd_import(name[level:], package, level)\r\n\r\nFile <frozen importlib._bootstrap>:1050, in _gcd_import(name, package, level)\r\n\r\nFile <frozen importlib._bootstrap>:1027, in _find_and_load(name, import_)\r\n\r\nFile <frozen importlib._bootstrap>:1006, in _find_and_load_unlocked(name, import_)\r\n\r\nFile <frozen importlib._bootstrap>:688, in _load_unlocked(spec)\r\n\r\nFile <frozen importlib._bootstrap_external>:883, in exec_module(self, module)\r\n\r\nFile <frozen importlib._bootstrap>:241, in _call_with_frames_removed(f, *args, **kwds)\r\n\r\nFile ~/mambaforge/envs/py310/lib/python3.10/site-packages/setuptools/__init__.py:8, in <module>\r\n      5 import os\r\n      6 import re\r\n----> 8 import _distutils_hack.override  # noqa: F401\r\n     10 import distutils.core\r\n     11 from distutils.errors import DistutilsOptionError\r\n\r\nFile ~/mambaforge/envs/py310/lib/python3.10/site-packages/_distutils_hack/override.py:1, in <module>\r\n----> 1 __import__(\'_distutils_hack\').do_override()\r\n\r\nFile ~/mambaforge/envs/py310/lib/python3.10/site-packages/_distutils_hack/__init__.py:72, in do_override()\r\n     70 if enabled():\r\n     71     warn_distutils_present()\r\n---> 72     ensure_local_distutils()\r\n\r\nFile ~/mambaforge/envs/py310/lib/python3.10/site-packages/_distutils_hack/__init__.py:59, in ensure_local_distutils()\r\n     57 # check that submodules load as expected\r\n     58 core = importlib.import_module(\'distutils.core\')\r\n---> 59 assert \'_distutils\' in core.__file__, core.__file__\r\n     60 assert \'setuptools._distutils.log\' not in sys.modules\r\n```\r\n\r\n</details>\r\n',
  'reactions': {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46240/reactions',
   'total_count': 0,
   '+1': 0,
   '-1': 0,
   'laugh': 0,
   'hooray': 0,
   'confused': 0,
   'heart': 0,
   'rocket': 0,
   'eyes': 0},
  'timeline_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46240/timeline',
  'performed_via_github_app': None},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46239',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46239/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46239/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46239/events',
  'html_url': 'https://github.com/pandas-dev/pandas/pull/46239',
  'id': 1160393154,
  'node_id': 'PR_kwDOAA0YD84z_iiZ',
  'number': 46239,
  'title': 'DOC+BUG: `Styler.to_excel` pseudo css `number-format`',
  'user': {'login': 'attack68',
   'id': 24256554,
   'node_id': 'MDQ6VXNlcjI0MjU2NTU0',
   'avatar_url': 'https://avatars.githubusercontent.com/u/24256554?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/attack68',
   'html_url': 'https://github.com/attack68',
   'followers_url': 'https://api.github.com/users/attack68/followers',
   'following_url': 'https://api.github.com/users/attack68/following{/other_user}',
   'gists_url': 'https://api.github.com/users/attack68/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/attack68/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/attack68/subscriptions',
   'organizations_url': 'https://api.github.com/users/attack68/orgs',
   'repos_url': 'https://api.github.com/users/attack68/repos',
   'events_url': 'https://api.github.com/users/attack68/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/attack68/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 0,
  'created_at': '2022-03-05T16:31:58Z',
  'updated_at': '2022-03-05T17:31:55Z',
  'closed_at': None,
  'author_association': 'CONTRIBUTOR',
  'active_lock_reason': None,
  'draft': False,
  'pull_request': {'url': 'https://api.github.com/repos/pandas-dev/pandas/pulls/46239',
   'html_url': 'https://github.com/pandas-dev/pandas/pull/46239',
   'diff_url': 'https://github.com/pandas-dev/pandas/pull/46239.diff',
   'patch_url': 'https://github.com/pandas-dev/pandas/pull/46239.patch',
   'merged_at': None},
  'body': '- [x] closes #46152 \r\n',
  'reactions': {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46239/reactions',
   'total_count': 0,
   '+1': 0,
   '-1': 0,
   'laugh': 0,
   'hooray': 0,
   'confused': 0,
   'heart': 0,
   'rocket': 0,
   'eyes': 0},
  'timeline_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46239/timeline',
  'performed_via_github_app': None},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46238',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46238/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46238/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46238/events',
  'html_url': 'https://github.com/pandas-dev/pandas/pull/46238',
  'id': 1160389512,
  'node_id': 'PR_kwDOAA0YD84z_h1Q',
  'number': 46238,
  'title': 'Bug fix - cannot construct Index of empty tuples',
  'user': {'login': 'weikhor',
   'id': 36619387,
   'node_id': 'MDQ6VXNlcjM2NjE5Mzg3',
   'avatar_url': 'https://avatars.githubusercontent.com/u/36619387?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/weikhor',
   'html_url': 'https://github.com/weikhor',
   'followers_url': 'https://api.github.com/users/weikhor/followers',
   'following_url': 'https://api.github.com/users/weikhor/following{/other_user}',
   'gists_url': 'https://api.github.com/users/weikhor/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/weikhor/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/weikhor/subscriptions',
   'organizations_url': 'https://api.github.com/users/weikhor/orgs',
   'repos_url': 'https://api.github.com/users/weikhor/repos',
   'events_url': 'https://api.github.com/users/weikhor/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/weikhor/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [{'id': 71268330,
    'node_id': 'MDU6TGFiZWw3MTI2ODMzMA==',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/MultiIndex',
    'name': 'MultiIndex',
    'color': '207de5',
    'default': False,
    'description': None},
   {'id': 1218227310,
    'node_id': 'MDU6TGFiZWwxMjE4MjI3MzEw',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Index',
    'name': 'Index',
    'color': 'e99695',
    'default': False,
    'description': 'Related to the Index class or subclasses'}],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 1,
  'created_at': '2022-03-05T16:17:19Z',
  'updated_at': '2022-03-05T17:36:15Z',
  'closed_at': None,
  'author_association': 'CONTRIBUTOR',
  'active_lock_reason': None,
  'draft': False,
  'pull_request': {'url': 'https://api.github.com/repos/pandas-dev/pandas/pulls/46238',
   'html_url': 'https://github.com/pandas-dev/pandas/pull/46238',
   'diff_url': 'https://github.com/pandas-dev/pandas/pull/46238.diff',
   'patch_url': 'https://github.com/pandas-dev/pandas/pull/46238.patch',
   'merged_at': None},
  'body': '- [ ] closes #45608 \r\n- [ ] [Tests added and passed](https://pandas.pydata.org/pandas-docs/dev/development/contributing_codebase.html#writing-tests) if fixing a bug or adding a new feature\r\n- [ ] All [code checks passed](https://pandas.pydata.org/pandas-docs/dev/development/contributing_codebase.html#pre-commit).\r\n- [ ] Added an entry in the latest `doc/source/whatsnew/vX.X.X.rst` file if fixing a bug or adding a new feature.\r\n',
  'reactions': {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46238/reactions',
   'total_count': 0,
   '+1': 0,
   '-1': 0,
   'laugh': 0,
   'hooray': 0,
   'confused': 0,
   'heart': 0,
   'rocket': 0,
   'eyes': 0},
  'timeline_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46238/timeline',
  'performed_via_github_app': None},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46236',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46236/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46236/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46236/events',
  'html_url': 'https://github.com/pandas-dev/pandas/pull/46236',
  'id': 1160198674,
  'node_id': 'PR_kwDOAA0YD84z-8mt',
  'number': 46236,
  'title': 'troubleshoot 32bit build',
  'user': {'login': 'jbrockmendel',
   'id': 8078968,
   'node_id': 'MDQ6VXNlcjgwNzg5Njg=',
   'avatar_url': 'https://avatars.githubusercontent.com/u/8078968?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/jbrockmendel',
   'html_url': 'https://github.com/jbrockmendel',
   'followers_url': 'https://api.github.com/users/jbrockmendel/followers',
   'following_url': 'https://api.github.com/users/jbrockmendel/following{/other_user}',
   'gists_url': 'https://api.github.com/users/jbrockmendel/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/jbrockmendel/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/jbrockmendel/subscriptions',
   'organizations_url': 'https://api.github.com/users/jbrockmendel/orgs',
   'repos_url': 'https://api.github.com/users/jbrockmendel/repos',
   'events_url': 'https://api.github.com/users/jbrockmendel/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/jbrockmendel/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 0,
  'created_at': '2022-03-05T02:51:25Z',
  'updated_at': '2022-03-05T02:51:25Z',
  'closed_at': None,
  'author_association': 'MEMBER',
  'active_lock_reason': None,
  'draft': False,
  'pull_request': {'url': 'https://api.github.com/repos/pandas-dev/pandas/pulls/46236',
   'html_url': 'https://github.com/pandas-dev/pandas/pull/46236',
   'diff_url': 'https://github.com/pandas-dev/pandas/pull/46236.diff',
   'patch_url': 'https://github.com/pandas-dev/pandas/pull/46236.patch',
   'merged_at': None},
  'body': '- [ ] closes #xxxx (Replace xxxx with the Github issue number)\r\n- [ ] [Tests added and passed](https://pandas.pydata.org/pandas-docs/dev/development/contributing_codebase.html#writing-tests) if fixing a bug or adding a new feature\r\n- [ ] All [code checks passed](https://pandas.pydata.org/pandas-docs/dev/development/contributing_codebase.html#pre-commit).\r\n- [ ] Added an entry in the latest `doc/source/whatsnew/vX.X.X.rst` file if fixing a bug or adding a new feature.\r\n',
  'reactions': {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46236/reactions',
   'total_count': 0,
   '+1': 0,
   '-1': 0,
   'laugh': 0,
   'hooray': 0,
   'confused': 0,
   'heart': 0,
   'rocket': 0,
   'eyes': 0},
  'timeline_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46236/timeline',
  'performed_via_github_app': None},

In [170]:
len(data1)

30

In [171]:
data1[0]          #it will fetch only one dictionary

{'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46241',
 'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
 'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46241/labels{/name}',
 'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46241/comments',
 'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46241/events',
 'html_url': 'https://github.com/pandas-dev/pandas/pull/46241',
 'id': 1160431554,
 'node_id': 'PR_kwDOAA0YD84z_ppo',
 'number': 46241,
 'title': 'CI/TYP: pyright reportSelfClsParameterName',
 'user': {'login': 'twoertwein',
  'id': 6618166,
  'node_id': 'MDQ6VXNlcjY2MTgxNjY=',
  'avatar_url': 'https://avatars.githubusercontent.com/u/6618166?v=4',
  'gravatar_id': '',
  'url': 'https://api.github.com/users/twoertwein',
  'html_url': 'https://github.com/twoertwein',
  'followers_url': 'https://api.github.com/users/twoertwein/followers',
  'following_url': 'https://api.github.com/users/twoertwein/following{/other_user}',
  'gists_url': 'https://api.github.com/users/twoertwein/gists{/gist_id}',
  'starred_url': 'https://api.github.com/users/twoertwein/starred{/owner}{/repo}',
  'subscriptions_url': 'https://api.github.com/users/twoertwein/subscriptions',
  'organizations_url': 'https://api.github.com/users/twoertwein/orgs',
  'repos_url': 'https://api.github.com/users/twoertwein/repos',
  'events_url': 'https://api.github.com/users/twoertwein/events{/privacy}',
  'received_events_url': 'https://api.github.com/users/twoertwein/received_events',
  'type': 'User',
  'site_admin': False},
 'labels': [],
 'state': 'open',
 'locked': False,
 'assignee': None,
 'assignees': [],
 'milestone': None,
 'comments': 1,
 'created_at': '2022-03-05T19:42:50Z',
 'updated_at': '2022-03-05T21:02:20Z',
 'closed_at': None,
 'author_association': 'CONTRIBUTOR',
 'active_lock_reason': None,
 'draft': False,
 'pull_request': {'url': 'https://api.github.com/repos/pandas-dev/pandas/pulls/46241',
  'html_url': 'https://github.com/pandas-dev/pandas/pull/46241',
  'diff_url': 'https://github.com/pandas-dev/pandas/pull/46241.diff',
  'patch_url': 'https://github.com/pandas-dev/pandas/pull/46241.patch',
  'merged_at': None},
 'body': 'Fixes:\r\n\r\n> pandas/core/arrays/_mixins.py:185:26 - warning: Instance methods should take a "self" parameter (reportSelfClsParameterName)\r\n\r\nI\'m not familiar with the function, could also be a `classmethod` @jbrockmendel \r\n\r\n',
 'reactions': {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46241/reactions',
  'total_count': 0,
  '+1': 0,
  '-1': 0,
  'laugh': 0,
  'hooray': 0,
  'confused': 0,
  'heart': 0,
  'rocket': 0,
  'eyes': 0},
 'timeline_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46241/timeline',
 'performed_via_github_app': None}

In [172]:
data1[0]['user'] # im able to show all the users here

{'login': 'twoertwein',
 'id': 6618166,
 'node_id': 'MDQ6VXNlcjY2MTgxNjY=',
 'avatar_url': 'https://avatars.githubusercontent.com/u/6618166?v=4',
 'gravatar_id': '',
 'url': 'https://api.github.com/users/twoertwein',
 'html_url': 'https://github.com/twoertwein',
 'followers_url': 'https://api.github.com/users/twoertwein/followers',
 'following_url': 'https://api.github.com/users/twoertwein/following{/other_user}',
 'gists_url': 'https://api.github.com/users/twoertwein/gists{/gist_id}',
 'starred_url': 'https://api.github.com/users/twoertwein/starred{/owner}{/repo}',
 'subscriptions_url': 'https://api.github.com/users/twoertwein/subscriptions',
 'organizations_url': 'https://api.github.com/users/twoertwein/orgs',
 'repos_url': 'https://api.github.com/users/twoertwein/repos',
 'events_url': 'https://api.github.com/users/twoertwein/events{/privacy}',
 'received_events_url': 'https://api.github.com/users/twoertwein/received_events',
 'type': 'User',
 'site_admin': False}

In [173]:
data1[0]['user']['id']        #im extract one songle id

6618166

In [174]:
#all these 30 row i want user id

In [176]:
for i in range(len(data1)):                
    print(data1[0]['user']['id'])

6618166
6618166
6618166
6618166
6618166
6618166
6618166
6618166
6618166
6618166
6618166
6618166
6618166
6618166
6618166
6618166
6618166
6618166
6618166
6618166
6618166
6618166
6618166
6618166
6618166
6618166
6618166
6618166
6618166
6618166

In [177]:
data1

[{'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46241',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46241/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46241/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46241/events',
  'html_url': 'https://github.com/pandas-dev/pandas/pull/46241',
  'id': 1160431554,
  'node_id': 'PR_kwDOAA0YD84z_ppo',
  'number': 46241,
  'title': 'CI/TYP: pyright reportSelfClsParameterName',
  'user': {'login': 'twoertwein',
   'id': 6618166,
   'node_id': 'MDQ6VXNlcjY2MTgxNjY=',
   'avatar_url': 'https://avatars.githubusercontent.com/u/6618166?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/twoertwein',
   'html_url': 'https://github.com/twoertwein',
   'followers_url': 'https://api.github.com/users/twoertwein/followers',
   'following_url': 'https://api.github.com/users/twoertwein/following{/other_user}',
   'gists_url': 'https://api.github.com/users/twoertwein/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/twoertwein/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/twoertwein/subscriptions',
   'organizations_url': 'https://api.github.com/users/twoertwein/orgs',
   'repos_url': 'https://api.github.com/users/twoertwein/repos',
   'events_url': 'https://api.github.com/users/twoertwein/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/twoertwein/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 1,
  'created_at': '2022-03-05T19:42:50Z',
  'updated_at': '2022-03-05T21:02:20Z',
  'closed_at': None,
  'author_association': 'CONTRIBUTOR',
  'active_lock_reason': None,
  'draft': False,
  'pull_request': {'url': 'https://api.github.com/repos/pandas-dev/pandas/pulls/46241',
   'html_url': 'https://github.com/pandas-dev/pandas/pull/46241',
   'diff_url': 'https://github.com/pandas-dev/pandas/pull/46241.diff',
   'patch_url': 'https://github.com/pandas-dev/pandas/pull/46241.patch',
   'merged_at': None},
  'body': 'Fixes:\r\n\r\n> pandas/core/arrays/_mixins.py:185:26 - warning: Instance methods should take a "self" parameter (reportSelfClsParameterName)\r\n\r\nI\'m not familiar with the function, could also be a `classmethod` @jbrockmendel \r\n\r\n',
  'reactions': {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46241/reactions',
   'total_count': 0,
   '+1': 0,
   '-1': 0,
   'laugh': 0,
   'hooray': 0,
   'confused': 0,
   'heart': 0,
   'rocket': 0,
   'eyes': 0},
  'timeline_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46241/timeline',
  'performed_via_github_app': None},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46240',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46240/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46240/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46240/events',
  'html_url': 'https://github.com/pandas-dev/pandas/issues/46240',
  'id': 1160431471,
  'node_id': 'I_kwDOAA0YD85FKsdv',
  'number': 46240,
  'title': 'BUG: read_stata ignores columns parameter and dtypes of empty dta files',
  'user': {'login': 'sterlinm',
   'id': 1461273,
   'node_id': 'MDQ6VXNlcjE0NjEyNzM=',
   'avatar_url': 'https://avatars.githubusercontent.com/u/1461273?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/sterlinm',
   'html_url': 'https://github.com/sterlinm',
   'followers_url': 'https://api.github.com/users/sterlinm/followers',
   'following_url': 'https://api.github.com/users/sterlinm/following{/other_user}',
   'gists_url': 'https://api.github.com/users/sterlinm/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/sterlinm/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/sterlinm/subscriptions',
   'organizations_url': 'https://api.github.com/users/sterlinm/orgs',
   'repos_url': 'https://api.github.com/users/sterlinm/repos',
   'events_url': 'https://api.github.com/users/sterlinm/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/sterlinm/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [{'id': 76811,
    'node_id': 'MDU6TGFiZWw3NjgxMQ==',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Bug',
    'name': 'Bug',
    'color': 'e10c02',
    'default': False,
    'description': None},
   {'id': 1954720290,
    'node_id': 'MDU6TGFiZWwxOTU0NzIwMjkw',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Needs%20Triage',
    'name': 'Needs Triage',
    'color': '0052cc',
    'default': False,
    'description': 'Issue that has not been reviewed by a pandas team member'}],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 0,
  'created_at': '2022-03-05T19:42:19Z',
  'updated_at': '2022-03-05T19:45:06Z',
  'closed_at': None,
  'author_association': 'NONE',
  'active_lock_reason': None,
  'body': '### Pandas version checks\r\n\r\n- [X] I have checked that this issue has not already been reported.\r\n\r\n- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.\r\n\r\n- [ ] I have confirmed this bug exists on the main branch of pandas.\r\n\r\n\r\n### Reproducible Example\r\n\r\n```python\r\nimport pandas as pd\r\n\r\n# create an empty DataFrame with int64 and float64 dtypes\r\ndf = pd.DataFrame(data={"a": range(3), "b": [1.0, 2.0, 3.0]}).head(0)\r\n\r\n# write to Stata .dta file\r\ndf.to_stata(\'empty.dta\', write_index=False, version=117)\r\n\r\n# read one column of empty .dta file\r\ndf2 = pd.read_stata(\'empty.dta\', columns=["a"])\r\n\r\n# show dtypes of df2\r\ndf2.dtypes\r\n```\r\n\r\n\r\n### Issue Description\r\n\r\nA stata `.dta` file with zero rows still has type information, but when you try to read an empty `.dta` file using `pd.read_stata` all of the columns have object dtype. It will also ignore the `columns` parameter and read all of the columns.\r\n\r\n### Expected Behavior\r\n\r\nIn the above example `df2.dtypes` should return:\r\n\r\n```python\r\nIn [2]: df2.dtypes\r\nOut[2]:\r\na    object\r\nb    object\r\ndtype: object\r\n```\r\n\r\n### Installed Versions\r\n\r\nApologies, `pd.show_versions()` fails for some reason. I\'ve included it, but the pandas version is 1.4.1.\r\n\r\n```shell\r\nIn [5]: pd.__version__\r\nOut[5]: \'1.4.1\'\r\n```\r\n\r\n<details>\r\n\r\n```python-traceback\r\nIn [3]: pd.show_versions()\r\n---------------------------------------------------------------------------\r\nAssertionError                            Traceback (most recent call last)\r\nInput In [3], in <module>\r\n----> 1 pd.show_versions()\r\n\r\nFile ~/mambaforge/envs/py310/lib/python3.10/site-packages/pandas/util/_print_versions.py:109, in show_versions(as_json)\r\n     94 """\r\n     95 Provide useful information, important for bug reports.\r\n     96\r\n   (...)\r\n    106     * If True, outputs info in JSON format to the console.\r\n    107 """\r\n    108 sys_info = _get_sys_info()\r\n--> 109 deps = _get_dependency_info()\r\n    111 if as_json:\r\n    112     j = {"system": sys_info, "dependencies": deps}\r\n\r\nFile ~/mambaforge/envs/py310/lib/python3.10/site-packages/pandas/util/_print_versions.py:88, in _get_dependency_info()\r\n     86 result: dict[str, JSONSerializable] = {}\r\n     87 for modname in deps:\r\n---> 88     mod = import_optional_dependency(modname, errors="ignore")\r\n     89     result[modname] = get_version(mod) if mod else None\r\n     90 return result\r\n\r\nFile ~/mambaforge/envs/py310/lib/python3.10/site-packages/pandas/compat/_optional.py:126, in import_optional_dependency(name, extra, errors, min_version)\r\n    121 msg = (\r\n    122     f"Missing optional dependency \'{install_name}\'. {extra} "\r\n    123     f"Use pip or conda to install {install_name}."\r\n    124 )\r\n    125 try:\r\n--> 126     module = importlib.import_module(name)\r\n    127 except ImportError:\r\n    128     if errors == "raise":\r\n\r\nFile ~/mambaforge/envs/py310/lib/python3.10/importlib/__init__.py:126, in import_module(name, package)\r\n    124             break\r\n    125         level += 1\r\n--> 126 return _bootstrap._gcd_import(name[level:], package, level)\r\n\r\nFile <frozen importlib._bootstrap>:1050, in _gcd_import(name, package, level)\r\n\r\nFile <frozen importlib._bootstrap>:1027, in _find_and_load(name, import_)\r\n\r\nFile <frozen importlib._bootstrap>:1006, in _find_and_load_unlocked(name, import_)\r\n\r\nFile <frozen importlib._bootstrap>:688, in _load_unlocked(spec)\r\n\r\nFile <frozen importlib._bootstrap_external>:883, in exec_module(self, module)\r\n\r\nFile <frozen importlib._bootstrap>:241, in _call_with_frames_removed(f, *args, **kwds)\r\n\r\nFile ~/mambaforge/envs/py310/lib/python3.10/site-packages/setuptools/__init__.py:8, in <module>\r\n      5 import os\r\n      6 import re\r\n----> 8 import _distutils_hack.override  # noqa: F401\r\n     10 import distutils.core\r\n     11 from distutils.errors import DistutilsOptionError\r\n\r\nFile ~/mambaforge/envs/py310/lib/python3.10/site-packages/_distutils_hack/override.py:1, in <module>\r\n----> 1 __import__(\'_distutils_hack\').do_override()\r\n\r\nFile ~/mambaforge/envs/py310/lib/python3.10/site-packages/_distutils_hack/__init__.py:72, in do_override()\r\n     70 if enabled():\r\n     71     warn_distutils_present()\r\n---> 72     ensure_local_distutils()\r\n\r\nFile ~/mambaforge/envs/py310/lib/python3.10/site-packages/_distutils_hack/__init__.py:59, in ensure_local_distutils()\r\n     57 # check that submodules load as expected\r\n     58 core = importlib.import_module(\'distutils.core\')\r\n---> 59 assert \'_distutils\' in core.__file__, core.__file__\r\n     60 assert \'setuptools._distutils.log\' not in sys.modules\r\n```\r\n\r\n</details>\r\n',
  'reactions': {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46240/reactions',
   'total_count': 0,
   '+1': 0,
   '-1': 0,
   'laugh': 0,
   'hooray': 0,
   'confused': 0,
   'heart': 0,
   'rocket': 0,
   'eyes': 0},
  'timeline_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46240/timeline',
  'performed_via_github_app': None},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46239',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46239/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46239/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46239/events',
  'html_url': 'https://github.com/pandas-dev/pandas/pull/46239',
  'id': 1160393154,
  'node_id': 'PR_kwDOAA0YD84z_iiZ',
  'number': 46239,
  'title': 'DOC+BUG: `Styler.to_excel` pseudo css `number-format`',
  'user': {'login': 'attack68',
   'id': 24256554,
   'node_id': 'MDQ6VXNlcjI0MjU2NTU0',
   'avatar_url': 'https://avatars.githubusercontent.com/u/24256554?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/attack68',
   'html_url': 'https://github.com/attack68',
   'followers_url': 'https://api.github.com/users/attack68/followers',
   'following_url': 'https://api.github.com/users/attack68/following{/other_user}',
   'gists_url': 'https://api.github.com/users/attack68/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/attack68/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/attack68/subscriptions',
   'organizations_url': 'https://api.github.com/users/attack68/orgs',
   'repos_url': 'https://api.github.com/users/attack68/repos',
   'events_url': 'https://api.github.com/users/attack68/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/attack68/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 0,
  'created_at': '2022-03-05T16:31:58Z',
  'updated_at': '2022-03-05T17:31:55Z',
  'closed_at': None,
  'author_association': 'CONTRIBUTOR',
  'active_lock_reason': None,
  'draft': False,
  'pull_request': {'url': 'https://api.github.com/repos/pandas-dev/pandas/pulls/46239',
   'html_url': 'https://github.com/pandas-dev/pandas/pull/46239',
   'diff_url': 'https://github.com/pandas-dev/pandas/pull/46239.diff',
   'patch_url': 'https://github.com/pandas-dev/pandas/pull/46239.patch',
   'merged_at': None},
  'body': '- [x] closes #46152 \r\n',
  'reactions': {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46239/reactions',
   'total_count': 0,
   '+1': 0,
   '-1': 0,
   'laugh': 0,
   'hooray': 0,
   'confused': 0,
   'heart': 0,
   'rocket': 0,
   'eyes': 0},
  'timeline_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46239/timeline',
  'performed_via_github_app': None},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46238',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46238/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46238/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46238/events',
  'html_url': 'https://github.com/pandas-dev/pandas/pull/46238',
  'id': 1160389512,
  'node_id': 'PR_kwDOAA0YD84z_h1Q',
  'number': 46238,
  'title': 'Bug fix - cannot construct Index of empty tuples',
  'user': {'login': 'weikhor',
   'id': 36619387,
   'node_id': 'MDQ6VXNlcjM2NjE5Mzg3',
   'avatar_url': 'https://avatars.githubusercontent.com/u/36619387?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/weikhor',
   'html_url': 'https://github.com/weikhor',
   'followers_url': 'https://api.github.com/users/weikhor/followers',
   'following_url': 'https://api.github.com/users/weikhor/following{/other_user}',
   'gists_url': 'https://api.github.com/users/weikhor/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/weikhor/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/weikhor/subscriptions',
   'organizations_url': 'https://api.github.com/users/weikhor/orgs',
   'repos_url': 'https://api.github.com/users/weikhor/repos',
   'events_url': 'https://api.github.com/users/weikhor/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/weikhor/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [{'id': 71268330,
    'node_id': 'MDU6TGFiZWw3MTI2ODMzMA==',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/MultiIndex',
    'name': 'MultiIndex',
    'color': '207de5',
    'default': False,
    'description': None},
   {'id': 1218227310,
    'node_id': 'MDU6TGFiZWwxMjE4MjI3MzEw',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Index',
    'name': 'Index',
    'color': 'e99695',
    'default': False,
    'description': 'Related to the Index class or subclasses'}],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 1,
  'created_at': '2022-03-05T16:17:19Z',
  'updated_at': '2022-03-05T17:36:15Z',
  'closed_at': None,
  'author_association': 'CONTRIBUTOR',
  'active_lock_reason': None,
  'draft': False,
  'pull_request': {'url': 'https://api.github.com/repos/pandas-dev/pandas/pulls/46238',
   'html_url': 'https://github.com/pandas-dev/pandas/pull/46238',
   'diff_url': 'https://github.com/pandas-dev/pandas/pull/46238.diff',
   'patch_url': 'https://github.com/pandas-dev/pandas/pull/46238.patch',
   'merged_at': None},
  'body': '- [ ] closes #45608 \r\n- [ ] [Tests added and passed](https://pandas.pydata.org/pandas-docs/dev/development/contributing_codebase.html#writing-tests) if fixing a bug or adding a new feature\r\n- [ ] All [code checks passed](https://pandas.pydata.org/pandas-docs/dev/development/contributing_codebase.html#pre-commit).\r\n- [ ] Added an entry in the latest `doc/source/whatsnew/vX.X.X.rst` file if fixing a bug or adding a new feature.\r\n',
  'reactions': {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46238/reactions',
   'total_count': 0,
   '+1': 0,
   '-1': 0,
   'laugh': 0,
   'hooray': 0,
   'confused': 0,
   'heart': 0,
   'rocket': 0,
   'eyes': 0},
  'timeline_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46238/timeline',
  'performed_via_github_app': None},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46236',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46236/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46236/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46236/events',
  'html_url': 'https://github.com/pandas-dev/pandas/pull/46236',
  'id': 1160198674,
  'node_id': 'PR_kwDOAA0YD84z-8mt',
  'number': 46236,
  'title': 'troubleshoot 32bit build',
  'user': {'login': 'jbrockmendel',
   'id': 8078968,
   'node_id': 'MDQ6VXNlcjgwNzg5Njg=',
   'avatar_url': 'https://avatars.githubusercontent.com/u/8078968?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/jbrockmendel',
   'html_url': 'https://github.com/jbrockmendel',
   'followers_url': 'https://api.github.com/users/jbrockmendel/followers',
   'following_url': 'https://api.github.com/users/jbrockmendel/following{/other_user}',
   'gists_url': 'https://api.github.com/users/jbrockmendel/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/jbrockmendel/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/jbrockmendel/subscriptions',
   'organizations_url': 'https://api.github.com/users/jbrockmendel/orgs',
   'repos_url': 'https://api.github.com/users/jbrockmendel/repos',
   'events_url': 'https://api.github.com/users/jbrockmendel/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/jbrockmendel/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 0,
  'created_at': '2022-03-05T02:51:25Z',
  'updated_at': '2022-03-05T02:51:25Z',
  'closed_at': None,
  'author_association': 'MEMBER',
  'active_lock_reason': None,
  'draft': False,
  'pull_request': {'url': 'https://api.github.com/repos/pandas-dev/pandas/pulls/46236',
   'html_url': 'https://github.com/pandas-dev/pandas/pull/46236',
   'diff_url': 'https://github.com/pandas-dev/pandas/pull/46236.diff',
   'patch_url': 'https://github.com/pandas-dev/pandas/pull/46236.patch',
   'merged_at': None},
  'body': '- [ ] closes #xxxx (Replace xxxx with the Github issue number)\r\n- [ ] [Tests added and passed](https://pandas.pydata.org/pandas-docs/dev/development/contributing_codebase.html#writing-tests) if fixing a bug or adding a new feature\r\n- [ ] All [code checks passed](https://pandas.pydata.org/pandas-docs/dev/development/contributing_codebase.html#pre-commit).\r\n- [ ] Added an entry in the latest `doc/source/whatsnew/vX.X.X.rst` file if fixing a bug or adding a new feature.\r\n',
  'reactions': {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46236/reactions',
   'total_count': 0,
   '+1': 0,
   '-1': 0,
   'laugh': 0,
   'hooray': 0,
   'confused': 0,
   'heart': 0,
   'rocket': 0,
   'eyes': 0},
  'timeline_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/46236/timeline',
  'performed_via_github_app': None},

In [178]:
#fetch all url(commit_url,lebel_url...like that)

In [179]:
pd.DataFrame(data1, columns=['url','repository_url','lebels_url']) # it will show column wise data

,url,repository_url,lebels_url
0,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,NaN
1,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,NaN
2,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,NaN
3,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,NaN
4,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,NaN
5,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,NaN
6,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,NaN
7,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,NaN
8,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,NaN
9,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,NaN
10,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,NaN
11,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,NaN
12,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,NaN
13,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,NaN
14,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,NaN
15,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,NaN
16,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,NaN
17,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,NaN
18,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,NaN
19,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,NaN
20,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,NaN
21,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,NaN
22,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,NaN
23,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,NaN
24,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,NaN
25,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,NaN
26,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,NaN
27,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,NaN
28,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,NaN
29,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,NaN

In [180]:
pd.DataFrame(data1, columns=['id', 'url','repository_url','lebels_url'])

,id,url,repository_url,lebels_url
0,1160431554,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,NaN
1,1160431471,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,NaN
2,1160393154,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,NaN
3,1160389512,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,NaN
4,1160198674,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,NaN
5,1160089928,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,NaN
6,1160064471,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,NaN
7,1159934807,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,NaN
8,1159874789,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,NaN
9,1159791857,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,NaN
10,1159657724,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,NaN
11,1159602954,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,NaN
12,1159567404,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,NaN
13,1159216249,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,NaN
14,1159140752,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,NaN
15,1159078523,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,NaN
16,1158374398,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,NaN
17,1157875795,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,NaN
18,1157819010,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,NaN
19,1157652834,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,NaN
20,1157540646,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,NaN
21,1157500304,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,NaN
22,1157424124,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,NaN
23,1157383588,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,NaN
24,1155867508,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,NaN
25,1154543878,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,NaN
26,1154522327,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,NaN
27,1154193534,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,NaN
28,1153888271,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,NaN
29,1153565414,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,NaN

In [181]:
pd.DataFrame(data1, columns=['id', 'url','repository_url','lebels_url','user'])

,id,url,repository_url,lebels_url,user
0,1160431554,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,NaN,"{'login': 'twoertwein', 'id': 6618166, 'node_i..."
1,1160431471,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,NaN,"{'login': 'sterlinm', 'id': 1461273, 'node_id'..."
2,1160393154,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,NaN,"{'login': 'attack68', 'id': 24256554, 'node_id..."
3,1160389512,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,NaN,"{'login': 'weikhor', 'id': 36619387, 'node_id'..."
4,1160198674,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,NaN,"{'login': 'jbrockmendel', 'id': 8078968, 'node..."
5,1160089928,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,NaN,"{'login': 'jbrockmendel', 'id': 8078968, 'node..."
6,1160064471,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,NaN,"{'login': 'LSturtew', 'id': 56136443, 'node_id..."
7,1159934807,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,NaN,"{'login': 'ehallam', 'id': 20362314, 'node_id'..."
8,1159874789,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,NaN,"{'login': 'ianliu', 'id': 30196, 'node_id': 'M..."
9,1159791857,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,NaN,"{'login': 'raffaem', 'id': 54762742, 'node_id'..."
10,1159657724,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,NaN,"{'login': 'jorisvandenbossche', 'id': 1020496,..."
11,1159602954,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,NaN,"{'login': 'topper-123', 'id': 26364415, 'node_..."
12,1159567404,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,NaN,"{'login': 'hitvoice', 'id': 13765633, 'node_id..."
13,1159216249,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,NaN,"{'login': 'twoertwein', 'id': 6618166, 'node_i..."
14,1159140752,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,NaN,"{'login': 'mvashishtha', 'id': 10712109, 'node..."
15,1159078523,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,NaN,"{'login': 'sergiykhan', 'id': 25179211, 'node_..."
16,1158374398,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,NaN,"{'login': 'moojen', 'id': 18547401, 'node_id':..."
17,1157875795,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,NaN,"{'login': 'rhshadrach', 'id': 45562402, 'node_..."
18,1157819010,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,NaN,"{'login': 'NickCrews', 'id': 10820686, 'node_i..."
19,1157652834,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,NaN,"{'login': 'rendner', 'id': 414652, 'node_id': ..."
20,1157540646,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,NaN,"{'login': 'jbrockmendel', 'id': 8078968, 'node..."
21,1157500304,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,NaN,"{'login': 'NickCrews', 'id': 10820686, 'node_i..."
22,1157424124,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,NaN,"{'login': 'whypandasslow', 'id': 100778886, 'n..."
23,1157383588,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,NaN,"{'login': 'weikhor', 'id': 36619387, 'node_id'..."
24,1155867508,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,NaN,"{'login': 'NumberPiOso', 'id': 46936498, 'node..."
25,1154543878,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,NaN,"{'login': 'theinexorable', 'id': 51996504, 'no..."
26,1154522327,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,NaN,"{'login': 'RagBlufThim', 'id': 25440862, 'node..."
27,1154193534,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,NaN,"{'login': 'johannes-mueller', 'id': 5902745, '..."
28,1153888271,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,NaN,"{'login': 'tritemio', 'id': 4156237, 'node_id'..."
29,1153565414,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,NaN,"{'login': 'mach881040', 'id': 100502242, 'node..."

In [182]:
df2 = pd.DataFrame(data1, columns=['id', 'url','repository_url','lebels_url','user'])

In [183]:
df2.to_csv('json_res.csv') # create file in c drive just check it

In [184]:
ls

 Volume in drive C has no label.
 Volume Serial Number is DE5C-05B8

 Directory of C:\Users\Nplite\Favorites

06-03-2022  02:51    <DIR>          .
05-03-2022  22:51    <DIR>          ..
06-03-2022  01:43    <DIR>          .ipynb_checkpoints
19-02-2022  23:01    <DIR>          __pycache__
08-02-2022  06:47           144,486 1.Basic, List, Tuple, Dictionary  ===1.ipynb
21-02-2022  12:54            79,738 2.If Else, Range, For, While.ipynb
22-02-2022  00:08            75,849 3. Function, Lambda,Generator.ipynb
22-02-2022  17:53           105,786 4.Generator, Fibonacci no, Open,Write,Read file.ipynb
24-02-2022  20:36            79,714 5.Exception Handling, Logging.ipynb
28-02-2022  01:20           117,642 6.Class.ipynb
05-03-2022  18:08             1,173 addresses.csv
23-02-2022  23:20            19,704 ADVANCE TASK INEURON.ipynb
05-03-2022  13:07             1,503 CASSANDRA.ipynb
05-03-2022  18:08             1,589 contacts.csv
06-03-2022  00:53             5,658 cricket.csv
14-02-2022  22:31            11,903 glass.data
22-02-2022  16:37             3,014 google.txt
05-03-2022  18:08               277 holiday_schedules.csv
04-03-2022  00:44                 0 ineuorn.db
04-03-2022  23:52             8,192 ineuron.db
04-03-2022  23:52            24,576 jobdb.db
06-03-2022  02:51            32,674 json_res.csv
30-01-2022  20:50    <DIR>          Links
05-03-2022  18:08            18,015 locations.csv
05-03-2022  23:04           161,651 LUSID Excel - Business Agility - Making Simple Changes Quickly & Easily.xlsx
05-03-2022  23:04           161,410 LUSID Excel - Maintain a product in multiple currencies and share classes.xlsx
05-03-2022  23:04            24,675 LUSID Excel - Manage instruments with economic definitions.xlsx
05-03-2022  23:04            84,319 LUSID Excel - Manage Orders.xlsx
05-03-2022  23:04           137,753 LUSID Excel - Manage your investment strategies.xlsx
05-03-2022  23:04           184,013 LUSID Excel - Setting up your IBOR.xlsx
05-03-2022  23:04           136,632 LUSID Excel - Setting up your market data.xlsx
05-03-2022  18:08             1,610 mail_addresses.csv
02-03-2022  01:24            86,043 MONGODB DATA.ipynb
06-03-2022  00:44            81,436 NBA.csv
01-03-2022  17:23    <DIR>          OneDrive
05-03-2022  18:08             2,281 organizations.csv
06-03-2022  01:43           576,978 pandas day 2.ipynb
06-03-2022  02:49         1,123,022 PANDAS.ipynb
04-03-2022  23:52             8,192 person.db
05-03-2022  18:08             2,092 phones.csv
05-03-2022  18:08                60 programs.csv
05-03-2022  18:08               350 regular_schedules.csv
05-03-2022  19:17               308 sample_test.csv
05-03-2022  18:08            19,128 services.csv
01-03-2022  17:27           237,581 SQL DATA2.ipynb
05-03-2022  02:06            76,381 SQLLITE.ipynb
05-03-2022  18:08            14,618 taxonomy.csv
22-02-2022  16:35                 0 test1
              42 File(s)      3,852,026 bytes
               6 Dir(s)  77,721,812,992 bytes free

In [ ]:
05/03/2022      pandas day3 class

In [4]:
import pandas as pd

In [6]:
pd.read_csv('https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv')

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [8]:
df = pd.read_csv('https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv')

In [9]:
type(df)

pandas.core.frame.DataFrame

In [10]:
df.head(2)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C

In [11]:
df.tail(4)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.00,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.45,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.00,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.75,NaN,Q

In [12]:
df.dtypes      # try to fetch datatype of all elements

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [13]:
 df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [14]:
df.describe() #by default it will consider in just numeric columb itself it not going to consider categorical

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [15]:
#min,25%,50%,75%,max will shows the indexes of data not a percentage of data
# read a data and understand it.... mean of passengerid it imp its illogical so check such variables and take a action on them

In [15]:
df.columns        #this function will only consider the datatype = int

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [16]:
#try to descibe the function which shows the datatype = object(str)

In [16]:
df.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [17]:
df.dtypes == "object"       # it will show which one is object(str)

PassengerId    False
Survived       False
Pclass         False
Name            True
Sex             True
Age            False
SibSp          False
Parch          False
Ticket          True
Fare           False
Cabin           True
Embarked        True
dtype: bool

In [19]:
type(df.dtypes)

pandas.core.series.Series

In [19]:
df.dtypes[df.dtypes == "object"]

Name        object
Sex         object
Ticket      object
Cabin       object
Embarked    object
dtype: object

In [23]:
df.dtypes[df.dtypes == "object"].index      # it will extract those object which data type is object or str

Index(['Name', 'Sex', 'Ticket', 'Cabin', 'Embarked'], dtype='object')

In [24]:
col_name = df.dtypes[df.dtypes == "object"].index

In [25]:
col_name

Index(['Name', 'Sex', 'Ticket', 'Cabin', 'Embarked'], dtype='object')

In [26]:
df[col_name]

,Name,Sex,Ticket,Cabin,Embarked
0,"Braund, Mr. Owen Harris",male,A/5 21171,NaN,S
1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,PC 17599,C85,C
2,"Heikkinen, Miss. Laina",female,STON/O2. 3101282,NaN,S
3,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,113803,C123,S
4,"Allen, Mr. William Henry",male,373450,NaN,S
...,...,...,...,...,...
886,"Montvila, Rev. Juozas",male,211536,NaN,S
887,"Graham, Miss. Margaret Edith",female,112053,B42,S
888,"Johnston, Miss. Catherine Helen ""Carrie""",female,W./C. 6607,NaN,S
889,"Behr, Mr. Karl Howell",male,111369,C148,C
890,"Dooley, Mr. Patrick",male,370376,NaN,Q

In [27]:
df[col_name].describe()    #small dicsription of data it is helpfull for us

                                Name   Sex    Ticket        Cabin Embarked
count                            891   891       891          204      889
unique                           891     2       681          147        3
top     Hoyt, Mr. Frederick Maxfield  male  CA. 2343  C23 C25 C27        S
freq                               1   577         7            4      644

In [28]:
df           #try to add a new column to this dataset

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [29]:
df['ineuron'] = "sudh"   #it will add ew column name ineuron and values is sudh

In [30]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,ineuron
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,sudh
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,sudh
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,sudh
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,sudh
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,sudh
...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,sudh
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,sudh
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,sudh
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,sudh
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,sudh

In [31]:
df['Name']

0                                Braund, Mr. Owen Harris
1      Cumings, Mrs. John Bradley (Florence Briggs Th...
2                                 Heikkinen, Miss. Laina
3           Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                               Allen, Mr. William Henry
                             ...
886                                Montvila, Rev. Juozas
887                         Graham, Miss. Margaret Edith
888             Johnston, Miss. Catherine Helen "Carrie"
889                                Behr, Mr. Karl Howell
890                                  Dooley, Mr. Patrick
Name: Name, Length: 891, dtype: object

In [32]:
#try to give me first fifteen record without using head function

In [35]:
df['Name'][0:15]  # just like a list slicing operation

0                               Braund, Mr. Owen Harris
1     Cumings, Mrs. John Bradley (Florence Briggs Th...
2                                Heikkinen, Miss. Laina
3          Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                              Allen, Mr. William Henry
5                                      Moran, Mr. James
6                               McCarthy, Mr. Timothy J
7                        Palsson, Master. Gosta Leonard
8     Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
9                   Nasser, Mrs. Nicholas (Adele Achem)
10                      Sandstrom, Miss. Marguerite Rut
11                             Bonnell, Miss. Elizabeth
12                       Saundercock, Mr. William Henry
13                          Andersson, Mr. Anders Johan
14                 Vestrom, Miss. Hulda Amanda Adolfina
Name: Name, dtype: object

In [36]:
df['Name'][0:15:2]

0                               Braund, Mr. Owen Harris
2                                Heikkinen, Miss. Laina
4                              Allen, Mr. William Henry
6                               McCarthy, Mr. Timothy J
8     Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
10                      Sandstrom, Miss. Marguerite Rut
12                       Saundercock, Mr. William Henry
14                 Vestrom, Miss. Hulda Amanda Adolfina
Name: Name, dtype: object

In [38]:
df['Name'][::-1] #reverse record

890                                  Dooley, Mr. Patrick
889                                Behr, Mr. Karl Howell
888             Johnston, Miss. Catherine Helen "Carrie"
887                         Graham, Miss. Margaret Edith
886                                Montvila, Rev. Juozas
                             ...
4                               Allen, Mr. William Henry
3           Futrelle, Mrs. Jacques Heath (Lily May Peel)
2                                 Heikkinen, Miss. Laina
1      Cumings, Mrs. John Bradley (Florence Briggs Th...
0                                Braund, Mr. Owen Harris
Name: Name, Length: 891, dtype: object

In [39]:
#try to extract null values

In [40]:
df['Age']

0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
886    27.0
887    19.0
888     NaN
889    26.0
890    32.0
Name: Age, Length: 891, dtype: float64

In [41]:
df['Age'].isnull()

0      False
1      False
2      False
3      False
4      False
       ...
886    False
887    False
888     True
889    False
890    False
Name: Age, Length: 891, dtype: bool

In [42]:
df['Age'].isnull() ==  True

0      False
1      False
2      False
3      False
4      False
       ...
886    False
887    False
888     True
889    False
890    False
Name: Age, Length: 891, dtype: bool

In [43]:
#try to give me indexes

In [44]:
df[df['Age'].isnull() ==  True].index

Int64Index([  5,  17,  19,  26,  28,  29,  31,  32,  36,  42,
            ...
            832, 837, 839, 846, 849, 859, 863, 868, 878, 888],
           dtype='int64', length=177)

In [45]:
# how many place we have null values

In [46]:
len(df[df['Age'].isnull() ==  True].index)

177

In [49]:
ind = df[df['Age'].isnull() ==  True].index

In [50]:
df.loc[ind]    # it will show all the records where we have age is null

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,ineuron
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q,sudh
17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S,sudh
19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C,sudh
26,27,0,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,NaN,C,sudh
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,NaN,Q,sudh
...,...,...,...,...,...,...,...,...,...,...,...,...,...
859,860,0,3,"Razi, Mr. Raihed",male,NaN,0,0,2629,7.2292,NaN,C,sudh
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,NaN,8,2,CA. 2343,69.5500,NaN,S,sudh
868,869,0,3,"van Melkebeke, Mr. Philemon",male,NaN,0,0,345777,9.5000,NaN,S,sudh
878,879,0,3,"Laleff, Mr. Kristo",male,NaN,0,0,349217,7.8958,NaN,S,sudh
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,sudh

In [52]:
df['Age'].isnull()

0      False
1      False
2      False
3      False
4      False
       ...
886    False
887    False
888     True
889    False
890    False
Name: Age, Length: 891, dtype: bool

In [53]:
df[df['Age'].isnull()]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,ineuron
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q,sudh
17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S,sudh
19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C,sudh
26,27,0,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,NaN,C,sudh
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,NaN,Q,sudh
...,...,...,...,...,...,...,...,...,...,...,...,...,...
859,860,0,3,"Razi, Mr. Raihed",male,NaN,0,0,2629,7.2292,NaN,C,sudh
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,NaN,8,2,CA. 2343,69.5500,NaN,S,sudh
868,869,0,3,"van Melkebeke, Mr. Philemon",male,NaN,0,0,345777,9.5000,NaN,S,sudh
878,879,0,3,"Laleff, Mr. Kristo",male,NaN,0,0,349217,7.8958,NaN,S,sudh
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,sudh

In [55]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,ineuron
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,sudh
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,sudh
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,sudh
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,sudh
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,sudh
...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,sudh
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,sudh
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,sudh
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,sudh
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,sudh

In [56]:
#try to extract a person name who has paid highest fair

In [57]:
df['Fare']

0       7.2500
1      71.2833
2       7.9250
3      53.1000
4       8.0500
        ...
886    13.0000
887    30.0000
888    23.4500
889    30.0000
890     7.7500
Name: Fare, Length: 891, dtype: float64

In [58]:
max(df['Fare'])

512.3292

In [59]:
df['Fare'] == max(df['Fare'])

0      False
1      False
2      False
3      False
4      False
       ...
886    False
887    False
888    False
889    False
890    False
Name: Fare, Length: 891, dtype: bool

In [60]:
df[df['Fare'] == max(df['Fare'])]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,ineuron
258,259,1,1,"Ward, Miss. Anna",female,35.0,0,0,PC 17755,512.3292,NaN,C,sudh
679,680,1,1,"Cardeza, Mr. Thomas Drake Martinez",male,36.0,0,1,PC 17755,512.3292,B51 B53 B55,C,sudh
737,738,1,1,"Lesurer, Mr. Gustave J",male,35.0,0,0,PC 17755,512.3292,B101,C,sudh

In [61]:
df[df['Fare'] == max(df['Fare'])]['Name'] # it will shows name of that three persons whose paid fare is highest

258                      Ward, Miss. Anna
679    Cardeza, Mr. Thomas Drake Martinez
737                Lesurer, Mr. Gustave J
Name: Name, dtype: object

In [62]:
 df[df['Fare'] == max(df['Fare'])]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,ineuron
258,259,1,1,"Ward, Miss. Anna",female,35.0,0,0,PC 17755,512.3292,NaN,C,sudh
679,680,1,1,"Cardeza, Mr. Thomas Drake Martinez",male,36.0,0,1,PC 17755,512.3292,B51 B53 B55,C,sudh
737,738,1,1,"Lesurer, Mr. Gustave J",male,35.0,0,0,PC 17755,512.3292,B101,C,sudh

In [3]:
import pandas as pd

In [1]:
"""
1.findout how many male and female passenger was onboarded
2.how many survived we have
3.how many casualty we have
4. what is name of a person who is eldst one
5. how many passenger do we have in first secod and third class
6. how many persons we have whose name strating with 's'
7. try to create new column whic is summation of 'SibSp' and 'parch' 
8. how many person do we have bellow age of 25
9. how many persons have died whose age was less than 40
10.from a cabin column seprate text and numeric values"""

"\n1.findout how many male and female passenger was onboarded\n2.how many survived we have\n3.how many casualty we have\n4. what is name of a person who is eldst one\n5. how many passenger do we have in first secod and third class\n6. how many persons we have whose name strating with 's'\n7. try to create new column whic is summation of 'SibSp' and 'parch' \n8. how many person do we have bellow age of 25\n9. how many persons have died whose age was less than 40\n10.from a cabin column seprate text and numeric values"

In [4]:
pd.read_csv('D:\\INEURON\\h\\bank\\bank.csv')

FileNotFoundError: [Errno 2] No such file or directory: 'D:\\INEURON\\h\\bank\\bank.csv'

In [70]:
pd.read_csv('D:\\INEURON\\h\\bank\\bank.csv', sep = ";")

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
3,30,management,married,tertiary,no,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4516,33,services,married,secondary,no,-333,yes,no,cellular,30,jul,329,5,-1,0,unknown,no
4517,57,self-employed,married,tertiary,yes,-3313,yes,yes,unknown,9,may,153,1,-1,0,unknown,no
4518,57,technician,married,secondary,no,295,no,no,cellular,19,aug,151,11,-1,0,unknown,no
4519,28,blue-collar,married,secondary,no,1137,no,no,cellular,6,feb,129,4,211,3,other,no
4520,44,entrepreneur,single,tertiary,no,1136,yes,yes,cellular,3,apr,345,2,249,7,other,no

In [ ]:
1. how many campaign available in this dataset
2. how many users do we have with housing and personal loan
3. how many person do we have whhose age is 60+
4. in which month we have targeted most of the customer
5. which mode of call is giving you more result
6. how many enterpreners de we have in this list
7. how many customers do we have with negative balance
8. preapre a group of data based on education level
9.