In [1]:
import sqlite3

In [2]:
db = sqlite3.connect("ineuron.db")

In [3]:
ls

 Volume in drive C has no label.
 Volume Serial Number is DE5C-05B8

 Directory of C:\Users\Nplite\Favorites

04-03-2022  20:34    <DIR>          .
04-03-2022  21:40    <DIR>          ..
04-03-2022  00:05    <DIR>          .ipynb_checkpoints
19-02-2022  23:01    <DIR>          __pycache__
08-02-2022  06:47           144,486 1.Basic, List, Tuple, Dictionary  ===1.ipynb
21-02-2022  12:54            79,738 2.If Else, Range, For, While.ipynb
22-02-2022  00:08            75,849 3. Function, Lambda,Generator.ipynb
22-02-2022  17:53           105,786 4.Generator, Fibonacci no, Open,Write,Read file.ipynb
24-02-2022  20:36            79,714 5.Exception Handling, Logging.ipynb
28-02-2022  01:20           117,642 6.Class.ipynb
23-02-2022  23:20            19,704 ADVANCE TASK INEURON.ipynb
14-02-2022  22:31            11,903 glass.data
22-02-2022  16:37             3,014 google.txt
04-03-2022  00:44                 0 ineuorn.db
04-03-2022  19:25             8,192 ineuron.db
04-03-2022  20:09            20,480 jobdb.db
04-03-2022  20:14             8,720 jobdb.db-journal
30-01-2022  20:50    <DIR>          Links
02-03-2022  01:24            86,043 MONGODB DATA.ipynb
01-03-2022  17:23    <DIR>          OneDrive
04-03-2022  19:25             8,192 person.db
01-03-2022  17:27           237,581 SQL DATA2.ipynb
04-03-2022  20:34            75,975 SQLLITE.ipynb
22-02-2022  16:35                 0 test1
              18 File(s)      1,083,019 bytes
               6 Dir(s)  79,860,764,672 bytes free

In [4]:
c = db.cursor()

In [5]:
c.execute("create table fsds( name test, batchid int, marks real)") # create a table inside it

OperationalError: table fsds already exists

In [6]:
%ls # check the size of memory it will increase

 Volume in drive C has no label.

File Not Found

 Volume Serial Number is DE5C-05B8

 Directory of C:\Users\Nplite\Favorites


 Directory of C:\Users\Nplite\Favorites


 Directory of C:\Users\Nplite\Favorites


 Directory of C:\Users\Nplite\Favorites


 Directory of C:\Users\Nplite\Favorites


 Directory of C:\Users\Nplite\Favorites


 Directory of C:\Users\Nplite\Favorites


 Directory of C:\Users\Nplite\Favorites


 Directory of C:\Users\Nplite\Favorites

In [7]:
c.execute("insert into fsds values('sudh', 123456 , 4654.2)")

In [8]:
ls           # check the size and journal

 Volume in drive C has no label.
 Volume Serial Number is DE5C-05B8

 Directory of C:\Users\Nplite\Favorites


 Directory of C:\Users\Nplite\Favorites


 Directory of C:\Users\Nplite\Favorites


 Directory of C:\Users\Nplite\Favorites


 Directory of C:\Users\Nplite\Favorites


 Directory of C:\Users\Nplite\Favorites

File Not Found

In [9]:
c.execute("insert into fsds values('sudh', 123456 , 4654.2)")
c.execute("insert into fsds values('mudh', 1236 , 465.2)")
c.execute("insert into fsds values('budh', 13456 , 454.2)")
c.execute("insert into fsds values('vudh', 12345 , 654.2)")
c.execute("insert into fsds values('dudh', 126 , 44.2)")
c.execute("insert into fsds values('sudh', 123456 , 4654.2)")

In [10]:
ls

 Volume in drive C has no label.
 Volume Serial Number is DE5C-05B8

 Directory of C:\Users\Nplite\Favorites

04-03-2022  23:52    <DIR>          .
04-03-2022  21:40    <DIR>          ..
04-03-2022  00:05    <DIR>          .ipynb_checkpoints
19-02-2022  23:01    <DIR>          __pycache__
08-02-2022  06:47           144,486 1.Basic, List, Tuple, Dictionary  ===1.ipynb
21-02-2022  12:54            79,738 2.If Else, Range, For, While.ipynb
22-02-2022  00:08            75,849 3. Function, Lambda,Generator.ipynb
22-02-2022  17:53           105,786 4.Generator, Fibonacci no, Open,Write,Read file.ipynb
24-02-2022  20:36            79,714 5.Exception Handling, Logging.ipynb
28-02-2022  01:20           117,642 6.Class.ipynb
23-02-2022  23:20            19,704 ADVANCE TASK INEURON.ipynb
14-02-2022  22:31            11,903 glass.data
22-02-2022  16:37             3,014 google.txt
04-03-2022  00:44                 0 ineuorn.db
04-03-2022  19:25             8,192 ineuron.db
04-03-2022  23:52                 0 ineuron.db-journal
04-03-2022  20:09            20,480 jobdb.db
04-03-2022  20:14             8,720 jobdb.db-journal
30-01-2022  20:50    <DIR>          Links
02-03-2022  01:24            86,043 MONGODB DATA.ipynb
01-03-2022  17:23    <DIR>          OneDrive
04-03-2022  19:25             8,192 person.db
01-03-2022  17:27           237,581 SQL DATA2.ipynb
04-03-2022  20:34            75,975 SQLLITE.ipynb
22-02-2022  16:35                 0 test1
              19 File(s)      1,083,019 bytes
               6 Dir(s)  79,860,756,480 bytes free

In [11]:
data = c.execute("select * from fsds")

In [12]:
for i in data:
    print(i)

('sudh', 123456, 4654.2)
('sudh', 123456, 4654.2)
('mudh', 1236, 465.2)
('budh', 13456, 454.2)
('vudh', 12345, 654.2)
('dudh', 126, 44.2)
('sudh', 123456, 4654.2)
('sudh', 123456, 4654.2)
('sudh', 123456, 4654.2)
('mudh', 1236, 465.2)
('budh', 13456, 454.2)
('vudh', 12345, 654.2)
('dudh', 126, 44.2)
('sudh', 123456, 4654.2)
('sudh', 123456, 4654.2)
('sudh', 123456, 4654.2)
('mudh', 1236, 465.2)
('budh', 13456, 454.2)
('vudh', 12345, 654.2)
('dudh', 126, 44.2)
('sudh', 123456, 4654.2)
('sudh', 123456, 4654.2)
('sudh', 123456, 4654.2)
('mudh', 1236, 465.2)
('budh', 13456, 454.2)
('vudh', 12345, 654.2)
('dudh', 126, 44.2)
('sudh', 123456, 4654.2)
('sudh', 123456, 4654.2)
('sudh', 123456, 4654.2)
('mudh', 1236, 465.2)
('budh', 13456, 454.2)
('vudh', 12345, 654.2)
('dudh', 126, 44.2)
('sudh', 123456, 4654.2)

In [13]:
db.commit()

In [14]:
db.close()

In [15]:
ls # file available inside system so again fetch it

 Volume in drive C has no label.
 Volume Serial Number is DE5C-05B8

 Directory of C:\Users\Nplite\Favorites


 Directory of C:\Users\Nplite\Favorites


 Directory of C:\Users\Nplite\Favorites


 Directory of C:\Users\Nplite\Favorites


 Directory of C:\Users\Nplite\Favorites


 Directory of C:\Users\Nplite\Favorites


 Directory of C:\Users\Nplite\Favorites


 Directory of C:\Users\Nplite\Favorites


 Directory of C:\Users\Nplite\Favorites

File Not Found

In [16]:
db = sqlite3.connect("ineuron.db") #try to connectivity

In [17]:
c = db.cursor() # check marks is greater than 500

In [18]:
data = c.execute("select * from fsds where marks > 500")

In [19]:
for i in data:
    print(i)

('sudh', 123456, 4654.2)
('sudh', 123456, 4654.2)
('vudh', 12345, 654.2)
('sudh', 123456, 4654.2)
('sudh', 123456, 4654.2)
('sudh', 123456, 4654.2)
('vudh', 12345, 654.2)
('sudh', 123456, 4654.2)
('sudh', 123456, 4654.2)
('sudh', 123456, 4654.2)
('vudh', 12345, 654.2)
('sudh', 123456, 4654.2)
('sudh', 123456, 4654.2)
('sudh', 123456, 4654.2)
('vudh', 12345, 654.2)
('sudh', 123456, 4654.2)
('sudh', 123456, 4654.2)
('sudh', 123456, 4654.2)
('vudh', 12345, 654.2)
('sudh', 123456, 4654.2)

In [20]:
data = c.execute("select * from fsds where name = 'sudh'")

In [21]:
for i in data:
    print(i)

('sudh', 123456, 4654.2)
('sudh', 123456, 4654.2)
('sudh', 123456, 4654.2)
('sudh', 123456, 4654.2)
('sudh', 123456, 4654.2)
('sudh', 123456, 4654.2)
('sudh', 123456, 4654.2)
('sudh', 123456, 4654.2)
('sudh', 123456, 4654.2)
('sudh', 123456, 4654.2)
('sudh', 123456, 4654.2)
('sudh', 123456, 4654.2)
('sudh', 123456, 4654.2)
('sudh', 123456, 4654.2)
('sudh', 123456, 4654.2)

In [22]:
data = c.execute("select name, marks from fsds")

In [23]:
for i in data:
    print(i)

('sudh', 4654.2)
('sudh', 4654.2)
('mudh', 465.2)
('budh', 454.2)
('vudh', 654.2)
('dudh', 44.2)
('sudh', 4654.2)
('sudh', 4654.2)
('sudh', 4654.2)
('mudh', 465.2)
('budh', 454.2)
('vudh', 654.2)
('dudh', 44.2)
('sudh', 4654.2)
('sudh', 4654.2)
('sudh', 4654.2)
('mudh', 465.2)
('budh', 454.2)
('vudh', 654.2)
('dudh', 44.2)
('sudh', 4654.2)
('sudh', 4654.2)
('sudh', 4654.2)
('mudh', 465.2)
('budh', 454.2)
('vudh', 654.2)
('dudh', 44.2)
('sudh', 4654.2)
('sudh', 4654.2)
('sudh', 4654.2)
('mudh', 465.2)
('budh', 454.2)
('vudh', 654.2)
('dudh', 44.2)
('sudh', 4654.2)

In [24]:
data = c.execute("select name, marks from fsds order by marks")

In [25]:
for i in data:
    print(i)

('dudh', 44.2)
('dudh', 44.2)
('dudh', 44.2)
('dudh', 44.2)
('dudh', 44.2)
('budh', 454.2)
('budh', 454.2)
('budh', 454.2)
('budh', 454.2)
('budh', 454.2)
('mudh', 465.2)
('mudh', 465.2)
('mudh', 465.2)
('mudh', 465.2)
('mudh', 465.2)
('vudh', 654.2)
('vudh', 654.2)
('vudh', 654.2)
('vudh', 654.2)
('vudh', 654.2)
('sudh', 4654.2)
('sudh', 4654.2)
('sudh', 4654.2)
('sudh', 4654.2)
('sudh', 4654.2)
('sudh', 4654.2)
('sudh', 4654.2)
('sudh', 4654.2)
('sudh', 4654.2)
('sudh', 4654.2)
('sudh', 4654.2)
('sudh', 4654.2)
('sudh', 4654.2)
('sudh', 4654.2)
('sudh', 4654.2)

In [26]:
data = c.execute("select name, marks from fsds order by marks desc")

In [27]:
for i in data:
    print(i)

('sudh', 4654.2)
('sudh', 4654.2)
('sudh', 4654.2)
('sudh', 4654.2)
('sudh', 4654.2)
('sudh', 4654.2)
('sudh', 4654.2)
('sudh', 4654.2)
('sudh', 4654.2)
('sudh', 4654.2)
('sudh', 4654.2)
('sudh', 4654.2)
('sudh', 4654.2)
('sudh', 4654.2)
('sudh', 4654.2)
('vudh', 654.2)
('vudh', 654.2)
('vudh', 654.2)
('vudh', 654.2)
('vudh', 654.2)
('mudh', 465.2)
('mudh', 465.2)
('mudh', 465.2)
('mudh', 465.2)
('mudh', 465.2)
('budh', 454.2)
('budh', 454.2)
('budh', 454.2)
('budh', 454.2)
('budh', 454.2)
('dudh', 44.2)
('dudh', 44.2)
('dudh', 44.2)
('dudh', 44.2)
('dudh', 44.2)

In [28]:
db.close()

In [29]:
db = sqlite3.connect("person.db") # new table created

In [30]:
# cursor is imp which execute query

In [31]:
c = db.cursor()

In [32]:
c.execute("create table person_table (name text, emailid text, age int, salary real)")

OperationalError: table person_table already exists

In [33]:
ls

 Volume in drive C has no label.
 Volume Serial Number is DE5C-05B8

 Directory of C:\Users\Nplite\Favorites

04-03-2022  23:52    <DIR>          .
04-03-2022  21:40    <DIR>          ..
04-03-2022  00:05    <DIR>          .ipynb_checkpoints
19-02-2022  23:01    <DIR>          __pycache__
08-02-2022  06:47           144,486 1.Basic, List, Tuple, Dictionary  ===1.ipynb
21-02-2022  12:54            79,738 2.If Else, Range, For, While.ipynb
22-02-2022  00:08            75,849 3. Function, Lambda,Generator.ipynb
22-02-2022  17:53           105,786 4.Generator, Fibonacci no, Open,Write,Read file.ipynb
24-02-2022  20:36            79,714 5.Exception Handling, Logging.ipynb
28-02-2022  01:20           117,642 6.Class.ipynb
23-02-2022  23:20            19,704 ADVANCE TASK INEURON.ipynb
14-02-2022  22:31            11,903 glass.data
22-02-2022  16:37             3,014 google.txt
04-03-2022  00:44                 0 ineuorn.db
04-03-2022  23:52             8,192 ineuron.db
04-03-2022  20:09            20,480 jobdb.db
04-03-2022  20:14             8,720 jobdb.db-journal
30-01-2022  20:50    <DIR>          Links
02-03-2022  01:24            86,043 MONGODB DATA.ipynb
01-03-2022  17:23    <DIR>          OneDrive
04-03-2022  19:25             8,192 person.db
01-03-2022  17:27           237,581 SQL DATA2.ipynb
04-03-2022  20:34            75,975 SQLLITE.ipynb
22-02-2022  16:35                 0 test1
              18 File(s)      1,083,019 bytes
               6 Dir(s)  79,860,256,768 bytes free

In [34]:
c.execute("insert into person_table values('sudh', 'sudhanshu@ineuron.ai' , 23 ,123456)")
c.execute("insert into person_table values('prashant', 'prashant@ineuron.ai' , 34 ,125656)")
c.execute("insert into person_table values('sunny', 'sunny@ineuron.ai' , 28 ,184561)")
c.execute("insert into person_table values('krish', 'krish@ineuron.ai' , 29 ,1542661)")

In [35]:
ls

 Volume in drive C has no label.
 Volume Serial Number is DE5C-05B8

 Directory of C:\Users\Nplite\Favorites

04-03-2022  23:52    <DIR>          .
04-03-2022  21:40    <DIR>          ..
04-03-2022  00:05    <DIR>          .ipynb_checkpoints
19-02-2022  23:01    <DIR>          __pycache__
08-02-2022  06:47           144,486 1.Basic, List, Tuple, Dictionary  ===1.ipynb
21-02-2022  12:54            79,738 2.If Else, Range, For, While.ipynb
22-02-2022  00:08            75,849 3. Function, Lambda,Generator.ipynb
22-02-2022  17:53           105,786 4.Generator, Fibonacci no, Open,Write,Read file.ipynb
24-02-2022  20:36            79,714 5.Exception Handling, Logging.ipynb
28-02-2022  01:20           117,642 6.Class.ipynb
23-02-2022  23:20            19,704 ADVANCE TASK INEURON.ipynb
14-02-2022  22:31            11,903 glass.data
22-02-2022  16:37             3,014 google.txt
04-03-2022  00:44                 0 ineuorn.db
04-03-2022  23:52             8,192 ineuron.db
04-03-2022  20:09            20,480 jobdb.db
04-03-2022  20:14             8,720 jobdb.db-journal
30-01-2022  20:50    <DIR>          Links
02-03-2022  01:24            86,043 MONGODB DATA.ipynb
01-03-2022  17:23    <DIR>          OneDrive
04-03-2022  19:25             8,192 person.db
04-03-2022  23:52                 0 person.db-journal
01-03-2022  17:27           237,581 SQL DATA2.ipynb
04-03-2022  20:34            75,975 SQLLITE.ipynb
22-02-2022  16:35                 0 test1
              19 File(s)      1,083,019 bytes
               6 Dir(s)  79,860,236,288 bytes free

In [36]:
data = c.execute("select * from person_table")

In [37]:
for i in data:
    print(i)

('sudh', 'sudhanshu@ineuron.ai', 23, 123456.0)
('prashant', 'prashant@ineuron.ai', 34, 125656.0)
('sunny', 'sunny@ineuron.ai', 28, 184561.0)
('krish', 'krish@ineuron.ai', 29, 1542661.0)
('sudh', 'sudhanshu@ineuron.ai', 23, 123456.0)
('prashant', 'prashant@ineuron.ai', 34, 125656.0)
('sunny', 'sunny@ineuron.ai', 28, 184561.0)
('krish', 'krish@ineuron.ai', 29, 1542661.0)
('sudh', 'sudhanshu@ineuron.ai', 23, 123456.0)
('prashant', 'prashant@ineuron.ai', 34, 125656.0)
('sunny', 'sunny@ineuron.ai', 28, 184561.0)
('krish', 'krish@ineuron.ai', 29, 1542661.0)
('sudh', 'sudhanshu@ineuron.ai', 23, 123456.0)
('prashant', 'prashant@ineuron.ai', 34, 125656.0)
('sunny', 'sunny@ineuron.ai', 28, 184561.0)
('krish', 'krish@ineuron.ai', 29, 1542661.0)
('sudh', 'sudhanshu@ineuron.ai', 23, 123456.0)
('prashant', 'prashant@ineuron.ai', 34, 125656.0)
('sunny', 'sunny@ineuron.ai', 28, 184561.0)
('krish', 'krish@ineuron.ai', 29, 1542661.0)

In [38]:
# drop a perticular table

In [39]:
db.commit()

In [40]:
db.close()

In [41]:
db = sqlite3.connect("ineuorn.db")

In [42]:
# one database you will be able to store one table and at a time you will be fetch a one databases not a multiple one

In [43]:
c = db.cursor()

In [44]:
c.execute('drop table fsds') # IT ALREADY DROPED

OperationalError: no such table: fsds

In [45]:
c.execute('select *  from fsds')

OperationalError: no such table: fsds

In [46]:
ls

 Volume in drive C has no label.
 Volume Serial Number is DE5C-05B8

 Directory of C:\Users\Nplite\Favorites

04-03-2022  23:52    <DIR>          .
04-03-2022  21:40    <DIR>          ..
04-03-2022  00:05    <DIR>          .ipynb_checkpoints
19-02-2022  23:01    <DIR>          __pycache__
08-02-2022  06:47           144,486 1.Basic, List, Tuple, Dictionary  ===1.ipynb
21-02-2022  12:54            79,738 2.If Else, Range, For, While.ipynb
22-02-2022  00:08            75,849 3. Function, Lambda,Generator.ipynb
22-02-2022  17:53           105,786 4.Generator, Fibonacci no, Open,Write,Read file.ipynb
24-02-2022  20:36            79,714 5.Exception Handling, Logging.ipynb
28-02-2022  01:20           117,642 6.Class.ipynb
23-02-2022  23:20            19,704 ADVANCE TASK INEURON.ipynb
14-02-2022  22:31            11,903 glass.data
22-02-2022  16:37             3,014 google.txt
04-03-2022  00:44                 0 ineuorn.db
04-03-2022  23:52             8,192 ineuron.db
04-03-2022  20:09            20,480 jobdb.db
04-03-2022  20:14             8,720 jobdb.db-journal
30-01-2022  20:50    <DIR>          Links
02-03-2022  01:24            86,043 MONGODB DATA.ipynb
01-03-2022  17:23    <DIR>          OneDrive
04-03-2022  23:52             8,192 person.db
01-03-2022  17:27           237,581 SQL DATA2.ipynb
04-03-2022  20:34            75,975 SQLLITE.ipynb
22-02-2022  16:35                 0 test1
              18 File(s)      1,083,019 bytes
               6 Dir(s)  79,860,244,480 bytes free

In [47]:
db.close()

In [48]:
db = sqlite3.connect("person.db")

In [49]:
c = db.cursor()

In [50]:
data = c.execute("select * from person_table limit 2")

In [51]:
for i in data :
    print(i)

('sudh', 'sudhanshu@ineuron.ai', 23, 123456.0)
('prashant', 'prashant@ineuron.ai', 34, 125656.0)

In [52]:
#joint operation == two table can join and fetch a one record

In [53]:
 db.close()

In [54]:
db= sqlite3.connect('jobdb.db')

In [55]:
c = db.cursor()

In [56]:
c.execute("create table student22(student_id int, student_name text, student_mailid text, marks int)")

In [57]:
c.execute('drop table student22')

In [58]:
c.execute("create table stud(student_id int, student_name text, student_mailid text, marks int)")

OperationalError: table stud already exists

In [59]:
c.execute("create table adress(student_id int, pincode int, location text, nearby text, phoneno int)")

OperationalError: table adress already exists

In [60]:
c.execute("insert into stud values(234, 'sudhanshu','sudhanshu@ineuron.ai', 234)")
c.execute("insert into stud values(235, 'sudhanshu','sudhanshu@ineuron.ai', 234)")
c.execute("insert into stud values(237, 'sudhanshu','sudhanshu@ineuron.ai', 234)")
c.execute("insert into stud values(238, 'sudhanshu','sudhanshu@ineuron.ai', 234)")
c.execute("insert into stud values(239, 'sudhanshu','sudhanshu@ineuron.ai', 234)")
c.execute("insert into stud values(240, 'sudhanshu','sudhanshu@ineuron.ai', 234)")
c.execute("insert into stud values(241, 'sudhanshu','sudhanshu@ineuron.ai', 234)")
c.execute("insert into stud values(242, 'sudhanshu','sudhanshu@ineuron.ai', 234)")
c.execute("insert into stud values(243, 'sudhanshu','sudhanshu@ineuron.ai', 234)")
c.execute("insert into stud values(244, 'sudhanshu','sudhanshu@ineuron.ai', 234)")

In [61]:
c.execute("insert into adress values(234,425408,'whitefelid', 'balajinagar', 97254631852)")

In [62]:
c.execute("insert into adress values(234,425408,'whitefelid', 'balajinagar', 97254631852)")
c.execute("insert into adress values(2325,425401,'whitefelid', 'bajajinagar', 97254631852)")
c.execute("insert into adress values(231,425402,'whitefelid', 'balajnagar', 97254631852)")
c.execute("insert into adress values(244,425403,'whitefelid', 'bajalinagar', 972546315652)")
c.execute("insert into adress values(234,425404,'whitefelid', 'balajinagar', 972546315552)")
c.execute("insert into adress values(264,425405,'whitefelid', 'bajinagar', 97254631852)")
c.execute("insert into adress values(214,425406,'whitefelid', 'bainagar', 97254631852)")
c.execute("insert into adress values(2784,425407,'whitefelid', 'boyakaagar', 97254631852)")
c.execute("insert into adress values(534,425409,'whitefelid', 'balajinagar', 97254631852)")
c.execute("insert into adress values(334,425410,'whitefelid', 'balajinagar', 97254614852)")
c.execute("insert into adress values(254,425408,'whitefelid', 'balajinagar', 97254631852)")
c.execute("insert into adress values(284,425408,'whitefelid', 'vataninagar', 97254631852)")
c.execute("insert into adress values(2664,425408,'whitefelid', 'ratanjinagar', 972546121852)")
c.execute("insert into adress values(2347,425408,'whitefelid', 'bhavaniinagar', 97254631852)")
c.execute("insert into adress values(2365,425408,'whitefelid', 'bavajinagar', 97254631852)")
c.execute("insert into adress values(2321,425408,'whitefelid', 'bavaninagar', 97254631852)")
c.execute("insert into adress values(255,425408,'whitefelid', 'balajiagar', 97254631852)")
c.execute("insert into adress values(231,425408,'whitefelid', 'balajinaar', 97254631852)")

In [63]:
for i in c.execute("select * from adress"):
    print(i)

(234, 425408, 'whitefelid', 'balajinagar', 97254631852)
(234, 425408, 'whitefelid', 'balajinagar', 97254631852)
(2325, 425401, 'whitefelid', 'bajajinagar', 97254631852)
(231, 425402, 'whitefelid', 'balajnagar', 97254631852)
(244, 425403, 'whitefelid', 'bajalinagar', 972546315652)
(234, 425404, 'whitefelid', 'balajinagar', 972546315552)
(264, 425405, 'whitefelid', 'bajinagar', 97254631852)
(214, 425406, 'whitefelid', 'bainagar', 97254631852)
(2784, 425407, 'whitefelid', 'boyakaagar', 97254631852)
(534, 425409, 'whitefelid', 'balajinagar', 97254631852)
(334, 425410, 'whitefelid', 'balajinagar', 97254614852)
(254, 425408, 'whitefelid', 'balajinagar', 97254631852)
(284, 425408, 'whitefelid', 'vataninagar', 97254631852)
(2664, 425408, 'whitefelid', 'ratanjinagar', 972546121852)
(2347, 425408, 'whitefelid', 'bhavaniinagar', 97254631852)
(2365, 425408, 'whitefelid', 'bavajinagar', 97254631852)
(2321, 425408, 'whitefelid', 'bavaninagar', 97254631852)
(255, 425408, 'whitefelid', 'balajiagar', 97254631852)
(231, 425408, 'whitefelid', 'balajinaar', 97254631852)

In [64]:


for i in c.execute("select * from stud"):
    print(i)

(234, 'sudhanshu', 'sudhanshu@ineuron.ai', 234)
(235, 'sudhanshu', 'sudhanshu@ineuron.ai', 234)
(237, 'sudhanshu', 'sudhanshu@ineuron.ai', 234)
(238, 'sudhanshu', 'sudhanshu@ineuron.ai', 234)
(239, 'sudhanshu', 'sudhanshu@ineuron.ai', 234)
(240, 'sudhanshu', 'sudhanshu@ineuron.ai', 234)
(241, 'sudhanshu', 'sudhanshu@ineuron.ai', 234)
(242, 'sudhanshu', 'sudhanshu@ineuron.ai', 234)
(243, 'sudhanshu', 'sudhanshu@ineuron.ai', 234)
(244, 'sudhanshu', 'sudhanshu@ineuron.ai', 234)

In [65]:
#give me an adress for each an evry student_id

In [66]:
data = c.execute("select * from stud s left join adress a on s.student_id = a.student_id") # on is used for join operation and where is a filter condition

In [67]:
for i in data: # it is fetching everything inside left table
    print(i)

(234, 'sudhanshu', 'sudhanshu@ineuron.ai', 234, 234, 425404, 'whitefelid', 'balajinagar', 972546315552)
(234, 'sudhanshu', 'sudhanshu@ineuron.ai', 234, 234, 425408, 'whitefelid', 'balajinagar', 97254631852)
(234, 'sudhanshu', 'sudhanshu@ineuron.ai', 234, 234, 425408, 'whitefelid', 'balajinagar', 97254631852)
(235, 'sudhanshu', 'sudhanshu@ineuron.ai', 234, None, None, None, None, None)
(237, 'sudhanshu', 'sudhanshu@ineuron.ai', 234, None, None, None, None, None)
(238, 'sudhanshu', 'sudhanshu@ineuron.ai', 234, None, None, None, None, None)
(239, 'sudhanshu', 'sudhanshu@ineuron.ai', 234, None, None, None, None, None)
(240, 'sudhanshu', 'sudhanshu@ineuron.ai', 234, None, None, None, None, None)
(241, 'sudhanshu', 'sudhanshu@ineuron.ai', 234, None, None, None, None, None)
(242, 'sudhanshu', 'sudhanshu@ineuron.ai', 234, None, None, None, None, None)
(243, 'sudhanshu', 'sudhanshu@ineuron.ai', 234, None, None, None, None, None)
(244, 'sudhanshu', 'sudhanshu@ineuron.ai', 234, 244, 425403, 'whitefelid', 'bajalinagar', 972546315652)

In [69]:
data = c.execute("select * from stud s left join adress a on s.student_id = a.student_id where a.student_id is not null")

In [70]:
for i in data:
    print(i)

(234, 'sudhanshu', 'sudhanshu@ineuron.ai', 234, 234, 425408, 'whitefelid', 'balajinagar', 97254631852)
(234, 'sudhanshu', 'sudhanshu@ineuron.ai', 234, 234, 425408, 'whitefelid', 'balajinagar', 97254631852)
(244, 'sudhanshu', 'sudhanshu@ineuron.ai', 234, 244, 425403, 'whitefelid', 'bajalinagar', 972546315652)
(234, 'sudhanshu', 'sudhanshu@ineuron.ai', 234, 234, 425404, 'whitefelid', 'balajinagar', 972546315552)

In [71]:
data = c.execute("select * from stud s right join adress a on s.student_id = a.student_id")

OperationalError: RIGHT and FULL OUTER JOINs are not currently supported

In [73]:
# in sqllite it is not available at right and full outer joint is not possible ... so it is possible inside sql system only

In [74]:
# if i have to achive that so change stud and adress position

In [75]:
data = c.execute("select * from adress s left join stud a on s.student_id = a.student_id")

In [77]:
for i in data:
    print(i)

(234, 425408, 'whitefelid', 'balajinagar', 97254631852, 234, 'sudhanshu', 'sudhanshu@ineuron.ai', 234)
(234, 425408, 'whitefelid', 'balajinagar', 97254631852, 234, 'sudhanshu', 'sudhanshu@ineuron.ai', 234)
(2325, 425401, 'whitefelid', 'bajajinagar', 97254631852, None, None, None, None)
(231, 425402, 'whitefelid', 'balajnagar', 97254631852, None, None, None, None)
(244, 425403, 'whitefelid', 'bajalinagar', 972546315652, 244, 'sudhanshu', 'sudhanshu@ineuron.ai', 234)
(234, 425404, 'whitefelid', 'balajinagar', 972546315552, 234, 'sudhanshu', 'sudhanshu@ineuron.ai', 234)
(264, 425405, 'whitefelid', 'bajinagar', 97254631852, None, None, None, None)
(214, 425406, 'whitefelid', 'bainagar', 97254631852, None, None, None, None)
(2784, 425407, 'whitefelid', 'boyakaagar', 97254631852, None, None, None, None)
(534, 425409, 'whitefelid', 'balajinagar', 97254631852, None, None, None, None)
(334, 425410, 'whitefelid', 'balajinagar', 97254614852, None, None, None, None)
(254, 425408, 'whitefelid', 'balajinagar', 97254631852, None, None, None, None)
(284, 425408, 'whitefelid', 'vataninagar', 97254631852, None, None, None, None)
(2664, 425408, 'whitefelid', 'ratanjinagar', 972546121852, None, None, None, None)
(2347, 425408, 'whitefelid', 'bhavaniinagar', 97254631852, None, None, None, None)
(2365, 425408, 'whitefelid', 'bavajinagar', 97254631852, None, None, None, None)
(2321, 425408, 'whitefelid', 'bavaninagar', 97254631852, None, None, None, None)
(255, 425408, 'whitefelid', 'balajiagar', 97254631852, None, None, None, None)
(231, 425408, 'whitefelid', 'balajinaar', 97254631852, None, None, None, None)

In [78]:
#full outer join== access all data from left/right towords corrusponding location

In [79]:
for i in c.execute("select * from stud"):
    print(i) # delete record where id is greater that 240

(234, 'sudhanshu', 'sudhanshu@ineuron.ai', 234)
(235, 'sudhanshu', 'sudhanshu@ineuron.ai', 234)
(237, 'sudhanshu', 'sudhanshu@ineuron.ai', 234)
(238, 'sudhanshu', 'sudhanshu@ineuron.ai', 234)
(239, 'sudhanshu', 'sudhanshu@ineuron.ai', 234)
(240, 'sudhanshu', 'sudhanshu@ineuron.ai', 234)
(241, 'sudhanshu', 'sudhanshu@ineuron.ai', 234)
(242, 'sudhanshu', 'sudhanshu@ineuron.ai', 234)
(243, 'sudhanshu', 'sudhanshu@ineuron.ai', 234)
(244, 'sudhanshu', 'sudhanshu@ineuron.ai', 234)

In [80]:
c.execute("delete from stud where student_id > 240")

In [81]:
for i in c.execute("select * from stud"):
    print(i)

(234, 'sudhanshu', 'sudhanshu@ineuron.ai', 234)
(235, 'sudhanshu', 'sudhanshu@ineuron.ai', 234)
(237, 'sudhanshu', 'sudhanshu@ineuron.ai', 234)
(238, 'sudhanshu', 'sudhanshu@ineuron.ai', 234)
(239, 'sudhanshu', 'sudhanshu@ineuron.ai', 234)
(240, 'sudhanshu', 'sudhanshu@ineuron.ai', 234)

In [82]:
data = c.execute("select * from stud")

In [83]:
data.fetchall()  # it will show you all the tuple data

[(234, 'sudhanshu', 'sudhanshu@ineuron.ai', 234),
 (235, 'sudhanshu', 'sudhanshu@ineuron.ai', 234),
 (237, 'sudhanshu', 'sudhanshu@ineuron.ai', 234),
 (238, 'sudhanshu', 'sudhanshu@ineuron.ai', 234),
 (239, 'sudhanshu', 'sudhanshu@ineuron.ai', 234),
 (240, 'sudhanshu', 'sudhanshu@ineuron.ai', 234)]

In [84]:
c.execute("update stud set student_id = 1000 where student_id = 237")

In [85]:
data = c.execute("select * from stud")

In [86]:
data.fetchall()

[(234, 'sudhanshu', 'sudhanshu@ineuron.ai', 234),
 (235, 'sudhanshu', 'sudhanshu@ineuron.ai', 234),
 (1000, 'sudhanshu', 'sudhanshu@ineuron.ai', 234),
 (238, 'sudhanshu', 'sudhanshu@ineuron.ai', 234),
 (239, 'sudhanshu', 'sudhanshu@ineuron.ai', 234),
 (240, 'sudhanshu', 'sudhanshu@ineuron.ai', 234)]

In [87]:
c.execute("update stud set student_id = 500 where student_id = 239")

In [88]:
data = c.execute("select * from stud")

In [89]:
data.fetchall()

[(234, 'sudhanshu', 'sudhanshu@ineuron.ai', 234),
 (235, 'sudhanshu', 'sudhanshu@ineuron.ai', 234),
 (1000, 'sudhanshu', 'sudhanshu@ineuron.ai', 234),
 (238, 'sudhanshu', 'sudhanshu@ineuron.ai', 234),
 (500, 'sudhanshu', 'sudhanshu@ineuron.ai', 234),
 (240, 'sudhanshu', 'sudhanshu@ineuron.ai', 234)]

In [90]:
db.close()

In [100]:
MAP, REDUCE, FILTER OPERATION

SyntaxError: invalid syntax (<ipython-input-100-4171b7ac36cd>, line 1)

In [94]:
l = [1,2,3,4,5,6]

In [92]:
for i in l:
    print(i+5)

6
7
8
9
10
11

In [96]:
l1 = []
for i in l:
    l1.append(i+5)

In [97]:
l1

[6, 7, 8, 9, 10, 11]

In [98]:
[i+5 for i in l] # comprehensing operation

[6, 7, 8, 9, 10, 11]

In [101]:
# THERE IS INBUILT FUNCTION INSIDE A PYTHON

In [108]:
l = [1,2,3,4,5,6]

In [109]:
def test(a):
    return a+5

In [110]:
list(map(test,l))

[6, 7, 8, 9, 10, 11]

In [111]:
def test1(a):
    return a*35151216+5412

In [112]:
list(map(test1, l))

[35156628, 70307844, 105459060, 140610276, 175761492, 210912708]

In [113]:
l1 = ['12','13','14','15','16','17','18',19]# try to convert sr data into int formate

In [114]:
def test2(a):
    return int(a) # this is for only one variable

In [116]:
test2('123654') # we want total data int form

123654

In [118]:
list(map(test2,l1))

[12, 13, 14, 15, 16, 17, 18, 19]

In [119]:
#map always take/consider first orgument as a function and secong object as a iterable object

In [121]:
list(map(lambda x : int(x), l1))

[12, 13, 14, 15, 16, 17, 18, 19]

In [122]:
list(map(lambda x : x+5 ,l)) # map will be used for all the iterable

[6, 7, 8, 9, 10, 11]

In [124]:
# FILTER FUNCTION

In [131]:
l = [1,2,3,4,5,6,7,8,9]        # try to extract those int having even no

In [132]:
def test3(a):
    if a%2 == 0:
        return a

In [134]:
[i for i in l if i%2 ==0]

[2, 4, 6, 8]

In [136]:
 exact same opration done with the help of inbuilt filter function

In [140]:
list(filter(test3 ,l))

[2, 4, 6, 8]

In [142]:
""""map will take every element it will perform operation and take output
filter it will consider all input but take thats output whenever that is true"""

'map will take every element it will perform operation and take output\nfilter it will consider all input but take thats output whenever that is true\n exact same opration done with the help of inbuilt filter function'

In [144]:
list(filter(lambda x :x%2==0 , l))

[2, 4, 6, 8]

In [147]:
list(filter(lambda x : x+5 , l)) #not applieng any filter operation

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [148]:
list(filter(lambda x :x%3 ==0 , l))

[3, 6, 9]

In [149]:
#RECUDE FUNCTION --- IT IS NOT INBUILT FUNCTION

In [150]:
from functools import reduce

In [152]:
l = [1,2,3,4,5,6,7,8,9]  # try to summetion operation of all the element inside the list data

In [153]:
sum(l)

45

In [155]:
def test4(a,b):
    return a+b

In [156]:
reduce(test4 , l)

45

In [157]:
def test4(a,b):
    return a*b

In [158]:
reduce(test4 , l)

362880

In [159]:
def test4(a,b):
    return a/b

In [160]:
reduce(test4 , l)

2.7557319223985893e-06

In [163]:
def test4(a,b,c):      # it is not going to work
    return a+b+c       # we do not used 3 variables

In [164]:
reduce(test4 , l)

TypeError: test4() missing 1 required positional argument: 'c'

In [165]:
# reduce orgument take two orgument at a time not more than two

In [166]:
l = [3]

In [167]:
def test4(a,b):
    return a+b

In [168]:
reduce(test4, l) # logically it will consider first variable as a zero variable

3

In [169]:
l = []

In [170]:
def test4(a,b):
    return a+b

In [172]:
reduce(test4, l)

TypeError: reduce() of empty sequence with no initial value

In [175]:
l = [1,2,3,4,5,6]

In [176]:
reduce(test4, l)

21

In [177]:
reduce(lambda x, y :x+y , l)

21

In [178]:
reduce(lambda x, y :x*y , l)

720

In [179]:
reduce(lambda x, y :x/y , l)

0.001388888888888889

In [180]:
l = [1,2,3,4,5,6,7,8,9]
l1 = [9,8,7,6,5,4,3,2,1]

In [181]:
list(zip(l,l1))

[(1, 9), (2, 8), (3, 7), (4, 6), (5, 5), (6, 4), (7, 3), (8, 2), (9, 1)]

In [182]:
# zip does tuple of pair of element

In [183]:
l = [1,2,3,4,5,6,7,8,9]

In [184]:
list(zip(l))

[(1,), (2,), (3,), (4,), (5,), (6,), (7,), (8,), (9,)]

In [186]:
l = [1,2,3,4,5,6,7,8,9]
l1 = [9,8,7,6,5,4,3,2,1]
l2 = ["sudhanshu","kumar", "krish","sunny", "ineuron"]

In [187]:
list(zip(l,l1,l2))

[(1, 9, 'sudhanshu'),
 (2, 8, 'kumar'),
 (3, 7, 'krish'),
 (4, 6, 'sunny'),
 (5, 5, 'ineuron')]

In [ ]:
"""zip operation is imp in case of data preparation operation"""