In [113]:
import pandas as pd
import numpy as np
import seaborn as sns

In [114]:
df = pd.read_csv('depositsdata_a2.csv')

In [115]:
df.head()

,DOMAIN,AMOUNT,IDCURRENCY,PLAYER_ID,TIMESTAMP,TIMESTAMP_IU,WEB_MOBILE_CHANNEL
0,BETBOO_TR,100.0,TRY,14433780,01/01/22 17:18,01/01/22,MOB
1,BETBOO_TR,1000.0,TRY,14195107,01/01/22 17:50,01/01/22,MOB
2,BETBOO_TR,300.0,TRY,13712463,01/01/22 17:16,01/01/22,MOB
3,BETBOO_TR,100.0,TRY,14194337,01/01/22 17:53,01/01/22,MOB
4,BETBOO_TR,100.0,TRY,8367854,01/01/22 17:02,01/01/22,WEB

In [116]:
df.shape

(32669, 7)

In [28]:
df.IDCURRENCY.unique()

array(['TRY      ', 'USD      ', 'EUR      ', 'GBP      '], dtype=object)

In [29]:
df.WEB_MOBILE_CHANNEL.unique()

array(['MOB', 'WEB'], dtype=object)

In [30]:
df.DOMAIN.unique()

array(['BETBOO_TR'], dtype=object)

In [31]:
df.AMOUNT.unique()

array([ 100.  , 1000.  ,  300.  , ..., 1246.34,  603.63,  149.84])

In [32]:
df.TIMESTAMP_IU.unique()

array(['01/01/22', '02/01/22', '03/01/22', '04/01/22', '05/01/22',
       '06/01/22', '07/01/22', '08/01/22', '09/01/22', '10/01/22',
       '11/01/22', '12/01/22', '13/01/22', '14/01/22', '15/01/22',
       '16/01/22', '17/01/22', '18/01/22', '19/01/22', '20/01/22',
       '21/01/22', '22/01/22', '23/01/22', '24/01/22', '25/01/22',
       '26/01/22', '27/01/22', '28/01/22', '29/01/22', '30/01/22',
       '31/01/22'], dtype=object)

In [33]:
df.TIMESTAMP_IU.unique().shape

(31,)

In [34]:
df.TIMESTAMP.unique()

array(['01/01/22 17:18', '01/01/22 17:50', '01/01/22 17:16', ...,
       '31/01/22 10:33', '31/01/22 10:57', '31/01/22 10:10'], dtype=object)

In [35]:
df.TIMESTAMP.unique().shape

(20817,)

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32669 entries, 0 to 32668
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   DOMAIN              32669 non-null  object
 1   AMOUNT              32669 non-null  float64
 2   IDCURRENCY          32669 non-null  object
 3   PLAYER_ID           32669 non-null  int64
 4   TIMESTAMP           32669 non-null  object
 5   TIMESTAMP_IU        32669 non-null  object
 6   WEB_MOBILE_CHANNEL  32669 non-null  object
dtypes: float64(1), int64(1), object(5)
memory usage: 1.7+ MB

In [37]:
df.describe()

             AMOUNT     PLAYER_ID
count  32669.000000  3.266900e+04
mean     526.994300  4.030703e+07
std     1366.039451  5.461309e+07
min    -2222.000000  8.259951e+06
25%      100.000000  1.137429e+07
50%      200.000000  1.401293e+07
75%      500.000000  1.442268e+07
max    50000.000000  1.481758e+08

### Q1 - What is the weekly bet retention of customers? Week 1 is the week in which the customer has placed the first bet. For example, if a customer placed a bet on 01/01/2021, that week becomes his first week. We want to see if the customers in their week 1, carry forward and place a bet in week 2 and 3 and so on.

"""Note: The bet retention for each customer has to be calculated from the first bet date. Show the output as a heatmap with annotations and your heatmap should be triangular in the end. Refer to the image attached below to understand how a triangular dataset for retention looks like."""

In [92]:
df1 = df.copy()

In [144]:
df['TIMESTAMP_IU'] = pd.to_datetime(df["TIMESTAMP_IU"])

In [145]:
#df['time'] = df[['time']].apply(lambda x: x[0].timestamp(), axis=1).astype(int)

In [105]:
#df['TIMESTAMP_IU'] = pd.to_datetime(df['TIMESTAMP_IU']).dt.day_of_week

In [117]:
df['hire_day_name'] = pd.to_datetime(df['TIMESTAMP_IU']).dt.day_name()

In [119]:
df['hire_day_name'].unique()

array(['Saturday', 'Tuesday', 'Friday', 'Sunday', 'Wednesday', 'Monday',
       'Thursday'], dtype=object)

In [120]:
df

,DOMAIN,AMOUNT,IDCURRENCY,PLAYER_ID,TIMESTAMP,TIMESTAMP_IU,WEB_MOBILE_CHANNEL,hire_day_name
0,BETBOO_TR,100.0,TRY,14433780,01/01/22 17:18,01/01/22,MOB,Saturday
1,BETBOO_TR,1000.0,TRY,14195107,01/01/22 17:50,01/01/22,MOB,Saturday
2,BETBOO_TR,300.0,TRY,13712463,01/01/22 17:16,01/01/22,MOB,Saturday
3,BETBOO_TR,100.0,TRY,14194337,01/01/22 17:53,01/01/22,MOB,Saturday
4,BETBOO_TR,100.0,TRY,8367854,01/01/22 17:02,01/01/22,WEB,Saturday
...,...,...,...,...,...,...,...,...
32664,BETBOO_TR,5000.0,TRY,147050141,31/01/22 10:33,31/01/22,MOB,Monday
32665,BETBOO_TR,50.0,TRY,147956811,31/01/22 10:57,31/01/22,MOB,Monday
32666,BETBOO_TR,300.0,TRY,11620392,31/01/22 10:07,31/01/22,MOB,Monday
32667,BETBOO_TR,100.0,TRY,147982961,31/01/22 10:10,31/01/22,MOB,Monday
32668,BETBOO_TR,4200.0,TRY,148139041,31/01/22 10:29,31/01/22,MOB,Monday

In [121]:
df['hire_weekday']= (df['TIMESTAMP_IU']).astype('datetime64').dt.day_of_week

In [146]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32669 entries, 0 to 32668
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   DOMAIN              32669 non-null  object
 1   AMOUNT              32669 non-null  float64
 2   IDCURRENCY          32669 non-null  object
 3   PLAYER_ID           32669 non-null  int64
 4   TIMESTAMP           32669 non-null  object
 5   TIMESTAMP_IU        32669 non-null  datetime64[ns]
 6   WEB_MOBILE_CHANNEL  32669 non-null  object
 7   hire_day_name       32669 non-null  object
 8   hire_weekday        32669 non-null  int64
 9   wom                 31 non-null     float64
dtypes: datetime64[ns](1), float64(2), int64(2), object(5)
memory usage: 2.5+ MB

In [147]:
#data = pd.DataFrame(pd.date_range(df['TIMESTAMP_IU'][0], periods = 31, freq ='D'))
df['wom'] =df['TIMESTAMP_IU'].isocalendar()[1]

AttributeError: 'Series' object has no attribute 'isocalendar'

In [132]:
df['wom']

0        1.0
1        1.0
2        1.0
3        1.0
4        1.0
        ...
32664    NaN
32665    NaN
32666    NaN
32667    NaN
32668    NaN
Name: wom, Length: 32669, dtype: float64

### Q2 - What are the first & last touch points of all the customers in the system (eg: first channel, first deposit amount, last bet, last deposit, last channel etc.) Store the data for each customer at a customer level in a separate table and call it "first_touch_point" & "last_touch_point".

#### Note: We want you to extract the first entry in the system in the bets and deposits data for each customer (common) and put them in a separate table. So each customer has one unique entry with all their first touch points and similarly a second table with a unique entry for all their last touch points.

In [148]:
df

,DOMAIN,AMOUNT,IDCURRENCY,PLAYER_ID,TIMESTAMP,TIMESTAMP_IU,WEB_MOBILE_CHANNEL,hire_day_name,hire_weekday,wom
0,BETBOO_TR,100.0,TRY,14433780,01/01/22 17:18,2022-01-01,MOB,Saturday,5,1.0
1,BETBOO_TR,1000.0,TRY,14195107,01/01/22 17:50,2022-01-01,MOB,Saturday,5,1.0
2,BETBOO_TR,300.0,TRY,13712463,01/01/22 17:16,2022-01-01,MOB,Saturday,5,1.0
3,BETBOO_TR,100.0,TRY,14194337,01/01/22 17:53,2022-01-01,MOB,Saturday,5,1.0
4,BETBOO_TR,100.0,TRY,8367854,01/01/22 17:02,2022-01-01,WEB,Saturday,5,1.0
...,...,...,...,...,...,...,...,...,...,...
32664,BETBOO_TR,5000.0,TRY,147050141,31/01/22 10:33,2022-01-31,MOB,Monday,0,NaN
32665,BETBOO_TR,50.0,TRY,147956811,31/01/22 10:57,2022-01-31,MOB,Monday,0,NaN
32666,BETBOO_TR,300.0,TRY,11620392,31/01/22 10:07,2022-01-31,MOB,Monday,0,NaN
32667,BETBOO_TR,100.0,TRY,147982961,31/01/22 10:10,2022-01-31,MOB,Monday,0,NaN
32668,BETBOO_TR,4200.0,TRY,148139041,31/01/22 10:29,2022-01-31,MOB,Monday,0,NaN

### Q3 - Find out the Cash bet amount for each customer (i.e. at a customer level) and store the same in a separate table:

Day 1 to Day 3 i.e. Total Cash Bet amount in the first 3 days
Day 4 to Day 7 i.e. Total Cash Bet amount in the next 4 days and so on
Day 8 to Day 14
Day 15 to Day 28
Beyond Day 28 till date

In [58]:
df.loc[25:'IDCURRENCY']

,DOMAIN,AMOUNT,IDCURRENCY,PLAYER_ID,TIMESTAMP,TIMESTAMP_IU,WEB_MOBILE_CHANNEL
25,BETBOO_TR,80.0,TRY,14255174,01/01/22 17:44,01/01/22,MOB
26,BETBOO_TR,200.0,TRY,14045971,01/01/22 17:00,01/01/22,MOB
27,BETBOO_TR,25.0,TRY,14455673,01/01/22 17:24,01/01/22,MOB
28,BETBOO_TR,750.0,TRY,14414638,01/01/22 17:31,01/01/22,MOB
29,BETBOO_TR,1330.0,TRY,14267558,01/01/22 17:17,01/01/22,MOB
...,...,...,...,...,...,...,...
32664,BETBOO_TR,5000.0,TRY,147050141,31/01/22 10:33,31/01/22,MOB
32665,BETBOO_TR,50.0,TRY,147956811,31/01/22 10:57,31/01/22,MOB
32666,BETBOO_TR,300.0,TRY,11620392,31/01/22 10:07,31/01/22,MOB
32667,BETBOO_TR,100.0,TRY,147982961,31/01/22 10:10,31/01/22,MOB
32668,BETBOO_TR,4200.0,TRY,148139041,31/01/22 10:29,31/01/22,MOB

In [40]:
rslt_df = df[df['TIMESTAMP_IU'] == '01/01/22']
rslt_df1 = df[df['TIMESTAMP_IU'] == '02/01/22']
rslt_df2 = df[df['TIMESTAMP_IU'] == '03/01/22']
set1 = pd.concat([rslt_df,rslt_df1,rslt_df2])
mask = set1.groupby('PLAYER_ID')['AMOUNT'].count().sort_values()
mask

In [51]:
alpha_df = df[df['TIMESTAMP_IU'] == '04/01/22']
alpha_df1 = df[df['TIMESTAMP_IU'] == '05/01/22']
alpha_df2 = df[df['TIMESTAMP_IU'] == '06/01/22']
alpha_df3 = df[df['TIMESTAMP_IU'] == '07/01/22']
set2 = pd.concat([alpha_df,alpha_df1,alpha_df2])
mask1 = set2.groupby('PLAYER_ID')['AMOUNT'].count().sort_values()
mask1

PLAYER_ID
147885461     1
14410560      1
14413690      1
12650794      1
14413928      1
             ..
11453713     21
14048000     21
14169558     25
145219201    27
145143671    62
Name: AMOUNT, Length: 996, dtype: int64

In [80]:
alpha_df = df[df['TIMESTAMP_IU'] == '08/01/22']
alpha_df1 = df[df['TIMESTAMP_IU'] == '09/01/22']
alpha_df2 = df[df['TIMESTAMP_IU'] == '10/01/22']
alpha_df3 = df[df['TIMESTAMP_IU'] == '11/01/22']
alpha_df4 = df[df['TIMESTAMP_IU'] == '12/01/22']
alpha_df5 = df[df['TIMESTAMP_IU'] == '13/01/22']
alpha_df6 = df[df['TIMESTAMP_IU'] == '14/01/22']

set3 = pd.concat([alpha_df,alpha_df1,alpha_df2,alpha_df3,alpha_df4,alpha_df5,alpha_df6])
mask3 = set3.groupby('PLAYER_ID')['AMOUNT'].count().sort_values()
mask3

PLAYER_ID
148002191     1
13945870      1
147400591     1
13965683      1
13978644      1
             ..
14195107     36
14213053     36
14169558     47
11443966     51
145143671    89
Name: AMOUNT, Length: 1574, dtype: int64

In [84]:
alpha_df = df[df['TIMESTAMP_IU'] == '15/01/22']
alpha_df1 = df[df['TIMESTAMP_IU'] == '16/01/22']
alpha_df2 = df[df['TIMESTAMP_IU'] == '17/01/22']
alpha_df3 = df[df['TIMESTAMP_IU'] == '18/01/22']
alpha_df4 = df[df['TIMESTAMP_IU'] == '19/01/22']
alpha_df5 = df[df['TIMESTAMP_IU'] == '20/01/22']
alpha_df6 = df[df['TIMESTAMP_IU'] == '21/01/22']
alpha_df7 = df[df['TIMESTAMP_IU'] == '22/01/22']
alpha_df8 = df[df['TIMESTAMP_IU'] == '23/01/22']
alpha_df9 = df[df['TIMESTAMP_IU'] == '24/01/22']
alpha_df10 = df[df['TIMESTAMP_IU'] == '25/01/22']
alpha_df11 = df[df['TIMESTAMP_IU'] == '26/01/22']
alpha_df12 = df[df['TIMESTAMP_IU'] == '27/01/22']
alpha_df13 = df[df['TIMESTAMP_IU'] == '28/01/22']

set4 = pd.concat([alpha_df,alpha_df1,alpha_df2,alpha_df3,alpha_df4,alpha_df5,alpha_df6,alpha_df7,alpha_df8,alpha_df9,alpha_df10,alpha_df11,alpha_df12,alpha_df13])
set4

,DOMAIN,AMOUNT,IDCURRENCY,PLAYER_ID,TIMESTAMP,TIMESTAMP_IU,WEB_MOBILE_CHANNEL
14648,BETBOO_TR,463.08,TRY,8262306,15/01/22 17:55,15/01/22,MOB
14649,BETBOO_TR,50.00,TRY,8278004,15/01/22 17:26,15/01/22,MOB
14650,BETBOO_TR,70.00,TRY,13726343,15/01/22 17:31,15/01/22,MOB
14651,BETBOO_TR,400.00,TRY,13823625,15/01/22 17:28,15/01/22,MOB
14652,BETBOO_TR,100.00,TRY,8410527,15/01/22 17:53,15/01/22,MOB
...,...,...,...,...,...,...,...
29713,BETBOO_TR,50.00,TRY,9438089,28/01/22 10:58,28/01/22,MOB
29714,BETBOO_TR,170.00,TRY,14413928,28/01/22 10:02,28/01/22,MOB
29715,BETBOO_TR,50.00,TRY,8410527,28/01/22 10:08,28/01/22,MOB
29716,BETBOO_TR,105.00,TRY,14255174,28/01/22 10:39,28/01/22,MOB
29717,BETBOO_TR,200.00,TRY,14169558,28/01/22 10:23,28/01/22,MOB

In [85]:
mask4 = set4.groupby('PLAYER_ID')['AMOUNT'].count().sort_values()
mask4

PLAYER_ID
14211757       1
14357512       1
14353093       1
14352050       1
14351772       1
            ...
11472902      66
13937477      79
14255174      90
11443966     115
145143671    181
Name: AMOUNT, Length: 2179, dtype: int64

In [88]:
alpha_df = df[df['TIMESTAMP_IU'] == '28/01/22']
alpha_df1 = df[df['TIMESTAMP_IU'] == '29/01/22']
alpha_df2 = df[df['TIMESTAMP_IU'] == '30/01/22']
alpha_df3 = df[df['TIMESTAMP_IU'] == '31/01/22']
set5 = pd.concat([alpha_df,alpha_df1,alpha_df2,alpha_df3])
mask5 = set5.groupby('PLAYER_ID')['AMOUNT'].count().sort_values()
mask5

PLAYER_ID
148175761     1
13811306      1
13770008      1
13742317      1
13734151      1
             ..
14169558     24
11222063     26
14099249     28
14255174     33
11443966     36
Name: AMOUNT, Length: 1084, dtype: int64

In [90]:
set5

,DOMAIN,AMOUNT,IDCURRENCY,PLAYER_ID,TIMESTAMP,TIMESTAMP_IU,WEB_MOBILE_CHANNEL
28763,BETBOO_TR,97.0,TRY,14324535,28/01/22 17:32,28/01/22,WEB
28764,BETBOO_TR,100.0,TRY,9817793,28/01/22 17:55,28/01/22,WEB
28765,BETBOO_TR,100.0,TRY,10820313,28/01/22 17:13,28/01/22,MOB
28766,BETBOO_TR,300.0,TRY,11472902,28/01/22 17:55,28/01/22,MOB
28767,BETBOO_TR,100.0,TRY,12288839,28/01/22 17:26,28/01/22,MOB
...,...,...,...,...,...,...,...
32664,BETBOO_TR,5000.0,TRY,147050141,31/01/22 10:33,31/01/22,MOB
32665,BETBOO_TR,50.0,TRY,147956811,31/01/22 10:57,31/01/22,MOB
32666,BETBOO_TR,300.0,TRY,11620392,31/01/22 10:07,31/01/22,MOB
32667,BETBOO_TR,100.0,TRY,147982961,31/01/22 10:10,31/01/22,MOB
32668,BETBOO_TR,4200.0,TRY,148139041,31/01/22 10:29,31/01/22,MOB