In [5]:
total = int(input())
if total > 5000:
    discount = total*0.25
    print("discount will be", discount)
elif total >3000:
    discount = total *0.15
    print("discount will be ", discount)
else:
    print("you are not able to fetch a course")

2000
you are not able to fetch a course

In [12]:
coup = input()
if coup == "SUDHANSHU":
    print("you will able to get a discount of 5%")
    paid_amount = 7080-7080*0.25
    print("you are getting a discount of" , discount)
    print("you are getting a discount of", paid_amount)
else:
    print("plz enter a valid coup id")

GGJYRFYTH
plz enter a valid coup id

In [1]:
l = [1,2,3,4,5,6,7,8,9, 3+2j,"sudh",[9,8,7,"kumar",12]]

In [2]:
l

[1, 2, 3, 4, 5, 6, 7, 8, 9, (3+2j), 'sudh', [9, 8, 7, 'kumar', 12]]

In [4]:
l.index("sudh")

10

In [7]:
l.index(9)

8

In [12]:
for i in l:
    if type(i)== str:
        print(i)
    elif type(i)== list:
            for j in i:
                if type(j)== str:
                    print(j)

sudh
kumar

In [17]:
for i in l:
    if type(i)==int:
        print(i*i)
    elif type(i)==list:
        for j in i:
            if type(j)==int:
                print(j*j)

1
4
9
16
25
36
49
64
81
81
64
49
144

In [18]:
len(l)

12

In [19]:
range(len(l))

range(0, 12)

In [21]:
for i in range(len(l)):
    print("index", i, "for an element", l[i])

index 0 for an element 1
index 1 for an element 2
index 2 for an element 3
index 3 for an element 4
index 4 for an element 5
index 5 for an element 6
index 6 for an element 7
index 7 for an element 8
index 8 for an element 9
index 9 for an element (3+2j)
index 10 for an element sudh
index 11 for an element [9, 8, 7, 'kumar', 12]

In [23]:
for i in enumerate(l):
    print(i)

(0, 1)
(1, 2)
(2, 3)
(3, 4)
(4, 5)
(5, 6)
(6, 7)
(7, 8)
(8, 9)
(9, (3+2j))
(10, 'sudh')
(11, [9, 8, 7, 'kumar', 12])

In [35]:
for i in l:
    if type(i)== str:
        l1 = []
        for j in i:
            l1.append(j)
            print(i)

sudh
sudh
sudh
sudh

In [38]:
l1= []
for i in l:
    if type(i)==int:
        l1.append(i)
        print(i**2)

1
4
9
16
25
36
49
64
81

In [40]:
for i in l:
    if type(i)== int or type(i)== float:
        print(i)

1
2
3
4
5
6
7
8
9

In [42]:
s = "ineuron"
for i in s:
    print(i)

i
n
e
u
r
o
n

In [45]:
s = "sudhanshu"
for i in s:
    if i == "n":
        break
    print(i)
else:
    print("this is a wrong statement")

s
u
d
h
a

In [46]:
a =2
while a <5:
    print(a)
    a = a+1

2
3
4

In [47]:
a  = 2
if a < 6:
    print(a)
    a= a+1

2

In [49]:
n = 10
for i in range(0,n):
    for j in range(0,i+1):
        print('*', end = " ")
    print("\n")

*

* *

* * *

* * * *

* * * * *

* * * * * *

* * * * * * *

* * * * * * * *

* * * * * * * * *

* * * * * * * * * *

In [51]:
t = (0,1,2,3,4,5,6,7,8,9)

In [56]:
for i in range(len(t)):
    t[::-1]
    print(i)

0
1
2
3
4
5
6
7
8
9

In [1]:
l = [1, 2, 3, 4, 5, 6, 'sudh', [9, 8, 7, 6, 5, 4]]

In [5]:
def test6(a):
    n = []
    if type(a)==list:
        for i in a:
            if type(i)==int:
                n.append(i)
            elif type(i)==list:
                    for j in i:
                        if type(j)==int:
                            n.append(j)
    return n

In [6]:
test6(l)

[1, 2, 3, 4, 5, 6, 9, 8, 7, 6, 5, 4]

In [16]:
def test1(c):
    if type(c)==dict:
        return [c.keys(),c.values()]
       
    else:
        print("plz eter right dict")

In [17]:
test1({1:25})

[dict_keys([1]), dict_values([25])]

In [42]:
def test2(a,b):
    if type(a)==list and type(b)==list:
        return a.extend(b)
    else:
        print("plz check the statement")

In [43]:
a = [11,12,13]
b = [11,22,33]

In [44]:
test2(a,b)

In [45]:
a

[11, 12, 13, 11, 22, 33]

In [5]:
def gencube(n):
    l = []
    for i in range(n):
        l.append(i**2)
    return l

In [6]:
gencube(8)

[0, 1, 4, 9, 16, 25, 36, 49]

In [7]:
def test(n):
    for i in range(n):
        return n**3

In [8]:
test(6)

216

In [9]:
def gencub(n):
    for i in range(n):
        return n**3

In [12]:
gencube(3)

[0, 1, 4]

In [11]:
gencube(5)

[0, 1, 4, 9, 16]

In [20]:
def fib(n):
    a = 1
    b = 2
    p = []
    for i in range(n):
        p.append(i)
        a,b = b, a+b
    return p

In [21]:
fib(12)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [19]:
for i in fib(10):
    print(i)

(1, 0)
(2, 1)
(3, 2)
(5, 3)
(8, 4)
(13, 5)
(21, 6)
(34, 7)
(55, 8)
(89, 9)

In [22]:
f = open("test.txt","w")

In [23]:
dir()

['In',
 'Out',
 '_',
 '_10',
 '_11',
 '_12',
 '_14',
 '_16',
 '_18',
 '_21',
 '_6',
 '_8',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_dh',
 '_i',
 '_i1',
 '_i10',
 '_i11',
 '_i12',
 '_i13',
 '_i14',
 '_i15',
 '_i16',
 '_i17',
 '_i18',
 '_i19',
 '_i2',
 '_i20',
 '_i21',
 '_i22',
 '_i23',
 '_i3',
 '_i4',
 '_i5',
 '_i6',
 '_i7',
 '_i8',
 '_i9',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 'exit',
 'f',
 'fib',
 'gencub',
 'gencube',
 'get_ipython',
 'i',
 'quit',
 'test']

In [24]:
!ls

'ls' is not recognized as an internal or external command,
operable program or batch file.

In [25]:
pwd()

'C:\\Users\\Nplite\\Favorites\\OneDrive'

In [26]:
%ls

 Volume in drive C has no label.
 Volume Serial Number is DE5C-05B8

 Directory of C:\Users\Nplite\Favorites\OneDrive

18-02-2022  19:58    <DIR>          .
18-02-2022  19:39    <DIR>          ..
17-02-2022  11:04    <DIR>          .ipynb_checkpoints
15-02-2022  20:09            51,867 car.data
14-02-2022  22:31            11,903 glass.data
16-02-2022  19:00            57,341 mongodb class 1.ipynb
17-02-2022  01:24           117,114 MONGODB.ipynb
13-02-2022  15:42            40,918 Oops  29,30 jan 2022.ipynb
18-02-2022  19:58            16,506 PRACTICE.ipynb
15-02-2022  22:27           115,289 SQL 1 05022020.ipynb
15-02-2022  23:37           156,406 SQL task .ipynb
16-02-2022  00:12           280,096 SQL2  06022022.ipynb
18-02-2022  19:58                 0 test.txt
              10 File(s)        847,440 bytes
               3 Dir(s)  88,227,885,056 bytes free

In [ ]:
f = open("test1.txt","w")

In [27]:
f.write("this is my first program of file open")

37

In [29]:
f = open('test.txt')

In [30]:
f.read()

'this is my first program of file open'

In [31]:
f.close()

In [32]:
f  = open("test1.txt","w")

In [33]:
f.write("this is my second program of file open")

38

In [35]:
f = open("test1.txt")

In [36]:
f.read()

'this is my second program of file open'

In [37]:
f.close()

In [38]:
f = open("test2.txt","w")

In [39]:
f.write("im a data scientist")

19

In [40]:
f = open("test2.txt","r")

In [41]:
f.read()

'im a data scientist'

In [42]:
f.close()

In [43]:
a = open("test4.txt","w")

In [44]:
a.write("im an electrical engineer")

25

In [45]:
a.write("and i will become a dta scientist")

33

In [47]:
a = open('test4.txt')

In [48]:
a.read()

'im an electrical engineerand i will become a dta scientist'

In [49]:
a.close()

In [50]:
%%writefile test5.txt
this is a data i would like to store of memorised in my file

Writing test5.txt

In [51]:
x = open('test5.txt')

In [52]:
x.read()

'this is a data i would like to store of memorised in my file\n'

In [54]:
d = open("tes7.txt","w")

In [55]:
d.write("my name is namdeo")

17

In [60]:
d=open("tes7.txt")

In [61]:
d.read()

'my name is namdeo'

In [62]:
d.read()

''

In [63]:
d.seek(0)

0

In [64]:
d.read()

'my name is namdeo'

In [65]:
d.seek(9)

9

In [66]:
d.read()

's namdeo'

In [67]:
d.tell()

17

In [68]:
d.seek(0)

0

In [69]:
d.close()

In [1]:
g = open("test1.txt","w")

In [2]:
g.write("my self namdeo nanabhau patil and im from dhavade tal shindkhea dist dhule")

74

In [3]:
g = open("test1.txt")

In [4]:
g.read()

'my self namdeo nanabhau patil and im from dhavade tal shindkhea dist dhule'

In [5]:
g.seek(0)

0

In [6]:
g.readline()

'my self namdeo nanabhau patil and im from dhavade tal shindkhea dist dhule'

In [7]:
g.close()

In [34]:
g = open("test2.txt","w")

In [35]:
g.write(""""Data science is an interdisciplinary field that uses scientific methods, processes, algorithms and systems to extract knowledge and insights from noisy, structured and unstructured data,[1][2] and apply knowledge and actionable insights from data across a broad range of application domains. Data science is related to data mining, machine learning and big data.

Data science is a "concept to unify statistics, data analysis, informatics, and their related methods" in order to "understand and analyze actual phenomena" with data.[3] It uses techniques and theories drawn from many fields within the context of mathematics, statistics, computer science, information science, and domain knowledge. However, data science is different from computer science and information science. Turing Award winner Jim Gray imagined data science as a "fourth paradigm" of science (empirical, theoretical, computational, and now data-driven) and asserted that "everything about science is changing because of the impact of information technology" and the data deluge""")

1051

In [29]:
g = open('test2.txt')

In [30]:
g.read()

'"Data science is an interdisciplinary field that uses scientific methods, processes, algorithms and systems to extract knowledge and insights from noisy, structured and unstructured data,[1][2] and apply knowledge and actionable insights from data across a broad range of application domains. Data science is related to data mining, machine learning and big data.\n\nData science is a "concept to unify statistics, data analysis, informatics, and their related methods" in order to "understand and analyze actual phenomena" with data.[3] It uses techniques and theories drawn from many fields within the context of mathematics, statistics, computer science, information science, and domain knowledge. However, data science is different from computer science and information science. Turing Award winner Jim Gray imagined data science as a "fourth paradigm" of science (empirical, theoretical, computational, and now data-driven) and asserted that "everything about science is changing because of the impact of information technology" and the data deluge'

In [13]:
g.seek(0)

0

In [14]:
g.readline()

'"Data science is an interdisciplinary field that uses scientific methods, processes, algorithms and systems to extract knowledge and insights from noisy, structured and unstructured data,[1][2] and apply knowledge and actionable insights from data across a broad range of application domains. Data science is related to data mining, machine learning and big data.\n'

In [15]:
g.readline()

'\n'

In [16]:
g.readline()

'Data science is a "concept to unify statistics, data analysis, informatics, and their related methods" in order to "understand and analyze actual phenomena" with data.[3] It uses techniques and theories drawn from many fields within the context of mathematics, statistics, computer science, information science, and domain knowledge. However, data science is different from computer science and information science. Turing Award winner Jim Gray imagined data science as a "fourth paradigm" of science (empirical, theoretical, computational, and now data-driven) and asserted that "everything about science is changing because of the impact of information technology" and the data deluge'

In [18]:
g.seek(0)

0

In [23]:
g.read()

'"Data science is an interdisciplinary field that uses scientific methods, processes, algorithms and systems to extract knowledge and insights from noisy, structured and unstructured data,[1][2] and apply knowledge and actionable insights from data across a broad range of application domains. Data science is related to data mining, machine learning and big data.\n\nData science is a "concept to unify statistics, data analysis, informatics, and their related methods" in order to "understand and analyze actual phenomena" with data.[3] It uses techniques and theories drawn from many fields within the context of mathematics, statistics, computer science, information science, and domain knowledge. However, data science is different from computer science and information science. Turing Award winner Jim Gray imagined data science as a "fourth paradigm" of science (empirical, theoretical, computational, and now data-driven) and asserted that "everything about science is changing because of the impact of information technology" and the data deluge'

In [40]:
g.seek(0)

0

In [41]:
g.write("standing in tha hall of fame and the wolrds gonna be your name bcoz you will be the once you too mate i know you will be my one of my friend ")

141

In [43]:
g.readlines()

UnsupportedOperation: not readable

In [44]:
s = open("test1","w")
s.name

'test1'

In [46]:
l = [" this is my line1 ", " this is my line2 "," this is my line3"]

In [47]:
s = open("test1", "r+")
s.name

'test1'

In [48]:
s.write("i can write lines at current cursor ")

36

In [50]:
s.writelines(l)