In [43]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [44]:
df = pd.read_csv('D:\\INEURON\\time series\\PH-Sales.csv')

In [45]:
df

    Month-Year  Number of Tractor Sold
0       Jan-03                     141
1       Feb-03                     157
2       Mar-03                     185
3       Apr-03                     199
4       May-03                     203
..         ...                     ...
139     Aug-14                     848
140     Sep-14                     640
141     Oct-14                     581
142     Nov-14                     519
143     Dec-14                     605

[144 rows x 2 columns]

In [46]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 144 entries, 0 to 143
Data columns (total 2 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Month-Year              144 non-null    object
 1   Number of Tractor Sold  144 non-null    int64
dtypes: int64(1), object(1)
memory usage: 2.4+ KB

In [47]:
len(df['Month-Year'])

144

In [48]:
dates = pd.date_range(start = '2003/01/01',periods= len(df), freq= 'MS')

In [49]:
len(dates)

144

In [50]:
dates

DatetimeIndex(['2003-01-01', '2003-02-01', '2003-03-01', '2003-04-01',
               '2003-05-01', '2003-06-01', '2003-07-01', '2003-08-01',
               '2003-09-01', '2003-10-01',
               ...
               '2014-03-01', '2014-04-01', '2014-05-01', '2014-06-01',
               '2014-07-01', '2014-08-01', '2014-09-01', '2014-10-01',
               '2014-11-01', '2014-12-01'],
              dtype='datetime64[ns]', length=144, freq='MS')

In [51]:
dates.month

Int64Index([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10,
            ...
             3,  4,  5,  6,  7,  8,  9, 10, 11, 12],
           dtype='int64', length=144)

In [52]:
df['month'] = dates.month

In [53]:
df['year'] = dates.year

In [54]:
df

    Month-Year  Number of Tractor Sold  month  year
0       Jan-03                     141      1  2003
1       Feb-03                     157      2  2003
2       Mar-03                     185      3  2003
3       Apr-03                     199      4  2003
4       May-03                     203      5  2003
..         ...                     ...    ...   ...
139     Aug-14                     848      8  2014
140     Sep-14                     640      9  2014
141     Oct-14                     581     10  2014
142     Nov-14                     519     11  2014
143     Dec-14                     605     12  2014

[144 rows x 4 columns]

In [55]:
#we want to convert month name
!pip install calendar
import calendar
calendar.month_abbr['month']

ERROR: Could not find a version that satisfies the requirement calendar
ERROR: No matching distribution found for calendar

TypeError: list indices must be integers or slices, not str

In [56]:
df['Month'] = df['month'].apply(lambda x:calendar.month_abbr[x])

In [58]:
df.head(12)       # FOR CHECKING ONE YEAR DATA

   Month-Year  Number of Tractor Sold  month  year Month
0      Jan-03                     141      1  2003   Jan
1      Feb-03                     157      2  2003   Feb
2      Mar-03                     185      3  2003   Mar
3      Apr-03                     199      4  2003   Apr
4      May-03                     203      5  2003   May
5      Jun-03                     189      6  2003   Jun
6      Jul-03                     207      7  2003   Jul
7      Aug-03                     207      8  2003   Aug
8      Sep-03                     171      9  2003   Sep
9      Oct-03                     150     10  2003   Oct
10     Nov-03                     138     11  2003   Nov
11     Dec-03                     165     12  2003   Dec

In [59]:
df.rename(columns={'Number of Tractor Sold':'Tractor sales'}, inplace= True)

In [61]:
df.head(12)

   Month-Year  Tractor sales  month  year Month
0      Jan-03            141      1  2003   Jan
1      Feb-03            157      2  2003   Feb
2      Mar-03            185      3  2003   Mar
3      Apr-03            199      4  2003   Apr
4      May-03            203      5  2003   May
5      Jun-03            189      6  2003   Jun
6      Jul-03            207      7  2003   Jul
7      Aug-03            207      8  2003   Aug
8      Sep-03            171      9  2003   Sep
9      Oct-03            150     10  2003   Oct
10     Nov-03            138     11  2003   Nov
11     Dec-03            165     12  2003   Dec