In [ ]:
a = 10

In [ ]:
type(a)

In [ ]:
if a < 15:
    print("ok")

In [ ]:
a < 15

In [ ]:
if a < 15:
    print("this statement is true")

In [ ]:
if a < 15:
    pass

In [ ]:
if a < 20:
    print('my name is sudh')

In [ ]:
if 21 < 15:
    print("my name is sudh")

In [ ]:
24 < 15

In [ ]:
if 10< 3:
    print("10 is lesser than 3")

In [ ]:
if 10 < 3:
    print("10 is lesser than 3")
else:
    print("this is wrong statement")

In [ ]:
if 5 < 30:
    print("my name is sudh")
else:
    print("this is wrong statement")

In [ ]:
if 10 < 5:
    print("this is correct statement")              #Always maintain the proper indentation
else:
print('this is wrong statemeent')

In [ ]:
income = 100
if income < 50:
    print("i will able to buy a phone")
elif income < 70:
    print("i will able to buy a car")
elif income < 90:
    print("i will able to buy a house")
else :
    print("i wont be buy anything")

In [ ]:
income = int(input())
if income < 10:
    print("do it")
elif income < 20:
    print("yes you can")
elif income < 50:
    print("go ahead")
else:
    print("give up")

In [ ]:
income = int(input())
if income < 10:
    print("do it")
elif income < 20:
    print("yes you can")
elif income < 50:
    print("go ahead")
else:
    print("give up")

In [ ]:
income = int(input())
if income < 10:
    print("do it")
elif income < 20:
    print("yes you can")
elif income < 50:
    print("go ahead")
else:
    print("give up")

In [ ]:
income = int(input())
if income < 10:
    print("do it")
elif income < 20:
    print("yes you can")
elif income < 50:
    print("go ahead")
else:
    print("give up")

In [ ]:
income = int(input())
if income < 10:
    print("do it")
elif income < 20:
    print("yes you can")
elif income < 50:
    print("go ahead")
else:
    print("give up")

In [ ]:
income = int(input())
if income < 50:
    print("i will able to buy a phone")
elif income < 70:
    print("i will able to buy a car")
elif income < 90:
    print("i will able to buy a house")
else :
    print("i wont be buy anything")

In [ ]:
income = int(input())
if income < 50:
    print("i will able to buy a phone")
elif income < 70:
    print("i will able to buy a car")
elif income < 90:
    print("i will able to buy a house")
else :
    print("i wont be buy anything")

In [ ]:
income = int(input())
if income < 50:
    print("i will able to buy a phone")
elif income < 70:
    print("i will able to buy a car")
elif income < 90:
    print("i will able to buy a house")
else :
    print("i wont be buy anything")

In [ ]:
income = int(input())
if income < 50:
    print("i will able to buy a phone")
elif income < 70:
    print("i will able to buy a car")
elif income < 90:
    print("i will able to buy a house")
else :
    print("i wont be buy anything")

In [ ]:
income = int(input())
if income < 50:
    print("i will able to buy a phone")
elif income < 70:
    print("i will able to buy a car")
elif income < 90:
    print("i will able to buy a house")
else :
    print("i wont be buy anything")

In [ ]:
income = int(input())
if income < 50:
    print("i will able to buy a phone")
elif income < 70:
    print("i will able to buy a car")
elif income < 90:
    print("i will able to buy a house")
else :
    print("i wont be buy anything")

In [ ]:
total_price = int(input())
if total_price > 50000:
    discount = total_price*.20
    print("discount will be" , discount)
elif total_price > 20000:
    discount = total_price*.05
    print("discount will be" , discount)
else:
    print("you would not able to get any discount")

In [ ]:
total_price = int(input())
if total_price > 50000:
    discount = total_price*.20
    print("discount will be" , discount)
elif total_price > 20000:
    discount = total_price*.05
    print("discount will be" , discount)
else:
    print("you would not able to get any discount")

In [ ]:
total_price = int(input())
if total_price >= 50000:
    discount = total_price*.20
    print("discount will be" , discount)
elif total_price >= 20000:
    discount = total_price*.05
    print("discount will be" , discount)
else:
    print("you would not able to get any discount")

In [ ]:
total_price = int(input())
if total_price >= 50000:
    discount = total_price*.20
    print("discount will be" , discount)
elif total_price >= 20000:
    discount = total_price*.05
    print("discount will be" , discount)
else:
    print("you would not able to get any discount")

In [ ]:
total_price = float(input())
if total_price >= 50000:
    discount = total_price*.20
    print("discount will be" , discount)
elif total_price >= 20000:
    discount = total_price*.05
    print("discount will be" , discount)
else:
    print("you would not able to get any discount")

In [ ]:
total_price = int(input())
if total_price < 50000:
    discount = total_price*.20
    print("discount will be" , discount)
elif total_price < 20000:
    discount = total_price*.05
    print("discount will be" , discount)
else:
    print("you would not able to get any discount")

In [ ]:
total_price = int(input())
if total_price < 50000:             #inside this program it will always consider as a 20% discount for any amount
    discount = total_price*.20
    print("discount will be" , discount)
elif total_price < 20000:
    discount = total_price*.05
    print("discount will be" , discount)
else:
    print("you would not able to get any discount")

In [ ]:
total_price = int(input())
if total_price > 20000:
    discount = total_price*.20
    print("discount will be" , discount)
elif total_price < 20000:
    discount = total_price*.05
    print("discount will be" , discount)
else:
    print("you would not able to get any discount")

In [ ]:
total_price = int(input())
if total_price > 20000:
    discount = total_price*.50
    print("discount will be", discount)
elif total_price > 7000:
    discount = total_price*.10
    print("discount will be", discount)

In [ ]:
total_price = int(input())
if total_price > 20000:
    discount = total_price*.50
    print("discount will be", discount)
elif total_price > 7000:
    discount = total_price*.10
    print("discount will be", discount)

In [ ]:
total_price = int(input())
if total_price > 20000:
    discount = total_price*.50
    print("discount will be", discount)
elif total_price > 7000:
    discount = total_price*.10
    print("discount will be", discount)

In [ ]:
total_price = int(input())
if total_price > 20000:
    discount = total_price*.50
    print("discount will be", discount)
elif total_price > 7000:
    discount = total_price*.10
    print("no discount")

In [ ]:
total_price = int(input())
if total_price > 20000:
    discount = total_price*.50
    print("discount will be", discount)
elif total_price > 7000:
    discount = total_price*.10
    print("no discount")

In [ ]:
"sudh"=="sudh"

In [ ]:
coup = input()
if coup == "SUDHANSHU5":
    print("you will be able to get a discount of 5%")
    paid_amount = 7080 - 7080*.05
    print("you will access the one neuron course with", paid_amount)
else:
    print("kindly used a valid coupen code")

In [ ]:
coup = input()
if coup == "SUDHANSHU5":
    print("you will be able to get a discount of 5%")
    paid_amount = 7080 - 7080*.05
    print("you will access the one neuron course with", paid_amount)
else:
    print("kindly used a valid coupen code")

In [ ]:
l = [1,2,3,4,5,6,2.5,4.2,"sudh", "KUMAR", 6+5j,[56,45,78, "ffsd"]]

In [ ]:
l

In [ ]:
l.index("sudh")

In [ ]:
l.index(6+5j)

In [ ]:
l[6]

In [ ]:
l[6][2]

In [ ]:
l[9][1]

In [ ]:
 # remove all str from the list
for i in l:
    if type(i) == str:
        print(i)
    elif type(i) == list:
        for j in i:
            if type(j)== str:
                print(j)

In [ ]:
for i in l:
    print(i)

In [ ]:
for i in l:
    if type(i) == int:
        print(i*i)

In [ ]:
#to extract square of all integer
for i in l:
    if type(i)== int:
        print(i*i)
    elif type(i) == list:
        for j in i:
            if type(j)== int:
                print(j*j)

In [ ]:
len(l)

In [ ]:
range(len(l))

In [ ]:
# to extract index of all variables in list
for i in range(len(l)):
    print("index", i, "for an element", l[i])

In [ ]:
for i in enumerate(l):
    print(i)

In [ ]:
for i,j in enumerate(l):
    print(i,j)

In [ ]:
for i in l:
    if type(i)== str:
        l1 = []
        for j in i:
            l1.append(j)
            print(j)

In [ ]:
for i in l:
    if type(i)== str:
        l1 = []
        for j in i:
            l1.append(j)
            print(l1)

In [ ]:
###try to extract char in the list l

for i in l:
    if type(i) == str:
        l1 = []
        for j in i:
            l1.append(j)
        print(l1)              #properly looks the indentation how it will affect the result

In [ ]:
for i in l:
    if type(i)== str:
        l1 = []
        for j in i:
            l1.append(j)
            print(l1)

In [ ]:
for i in l:
    if type(i)== str:
        l1 = []
        for j in i:
            l1.append(j)
            print(i)

In [ ]:
#try to extract list of all the element , square them and make a list
l2 = []
for i in l:
    if type(i)==int:
        l2.append(i**2)

In [ ]:
l2

In [ ]:
for i in l:
    if type(i)==float or type(i)==int:
        print(i)

In [ ]:
l = ["name","emai_id", "mob_no","address"]
for i in l:
    print(i)

In [ ]:
l = ["name","emai_id", "mob_no","address"]
for i in l:
    print(i+ "  sudh")

In [ ]:
s = 'ineuron'
for i in s:
    print(i)

In [ ]:
l

In [ ]:
for i in l:
    print(i)
else:
    print("if for loop is not complet itself then it will shown else statement")

In [ ]:
l

In [ ]:
for i in l:
    if i == "mob_no":
        break
    print(i)
else:
    print("check this statement")

In [ ]:
for i in l:
    if i == "email_id":
        break
    print(i)
else:
    print("this is wrong statement")

In [ ]:
s = "sudhanshu"
for i in s:
    if i == "n":
        break
    print(i)
else:
    print("dont excuse is unless and untillit is not available")

In [ ]:
s = "sudhanshu"
for i in s:
    if i == "n":
        break
else:
    print("dont excuse is unless and untill it is not available")

In [ ]:
a = 1
while a < 6:
    print(a)           
    a = a+1            #suppose im gonna remove this line, it will shows 1 upto infinite digit

In [ ]:
a = 1
if a < 6:
    print(a)
    a = a+1

In [ ]:
a = 1
while a < 10:
    print(a)
    if a == 6:
        break
    a = a+1

In [ ]:
a = 1
while a < 10:
    print(a)
    a = a+1
    if a ==3:
        continue

In [ ]:
a = 1
while a < 10:
    print(a)
    a = a+1
    if a ==5:
        break

In [ ]:
while a <5:
    pass

In [ ]:
for i in l:
    pass

In [ ]:
while a < 4:
    break

In [ ]:
a = 1

In [ ]:
while a < 5:        # do not performed such type of operation
    continue

In [ ]:
range(6)

In [ ]:
list(range(1,9))

In [ ]:
list(range(0,20))

In [ ]:
list(range(0,20,2))

In [ ]:
list(range(3,12))

In [ ]:
list(range(3,10,1))

In [ ]:
list(range(3,15,-1))

In [ ]:
list(range(10,4,-1))

In [ ]:
list(range(10,-4,-1))

In [ ]:
 list(range(-10,-6,1))

In [ ]:
 list(range(10,-6,1))

In [ ]:
for i in range(7):
    print(i)

In [ ]:
n =5
for i in range(0,n) :
    for j in range(0,i+1):
        print("*", end = " ")
    print("\r")

In [ ]:
n =5
for i in range(0,n) :           #indentation change the result
    for j in range(0,i+1):
        print("*", end = " ")
        print("\r")

In [ ]:
n = 10
for i in range(0,n):
    for j in range(0,i+1):
        print("*",end = " ")
    print("\r")

In [ ]:
n = 9
for i in range(0,n):
    for j in range(0,i+1):
        print("Np", end = " ")
    print("\r")

In [ ]:
n = 5
for i in range(0,n):
    for j in range(0,i+1):
        print("Np", end = " ")

In [ ]:
n = 9
for i in range(0,n):
    for j in range(0,i+1):
        print("Np", end = " ")
    print("\\r")

In [ ]:
n = 9
for i in range(0,n):
    for j in range(0,i+1):
        print("Np", end = " ")
    print("\n")

In [ ]:
n = 5
for i in range(0,n):
    for j in range(0,i+1):
        print("Np")
    print("\r\r\r")

In [ ]:
n = 9
for i in range(0,n):
    for j in range(0,i+1):
        print("Np", end = " ")
    print("\r\r\r")

In [ ]:
n = 9
for i in range(0,n):
    for j in range(0,i+1):             #\r &\r\r\r work as same opertion
        print("Np", end = " ")
    print("\r")

In [ ]:
n = 9
for i in range(0,n):
    for j in range(0,i+1):
        print("Np", end = " ")
    print("\n\n\n")

In [ ]:
n = 9
for i in range(0,n):
    for j in range(0,i+1):
        print("Np", end = " ")
    print("\n\n\r")

In [ ]:
t = (1,2,3,4,5,6,7,8,9)

In [ ]:
t[::1]

In [ ]:
t[::-1]

In [ ]:
for i in t:
    t[::-1]
    print(i)

In [ ]:
list(range(t))

In [ ]:
list(range(t), 0 -1)

In [ ]:
list(range(len(t), 0 -1))

In [ ]:
for i in range(len(t)):
    t[::-1]
    print(i)

In [ ]:
for i in range(len(t)):
    t[::1]
    print(i)

In [ ]:
for i in range(len(t)):
    t[::-1]
    print(t)

In [ ]:
list(range(len(t),0 -1))

In [ ]:
for i in list(range(len(t), 0, -1)):
    print(t[i])

In [ ]:
#it work like that function t[::-1]  
for i in list(range(len(t)-1, 0, -1)):
    print(t[i])

In [ ]:
for i in list(range(len(t)-1, -1, -1)):
    print(t[i])

In [ ]:
d = {"a":1, "b":2,"c":3,"d":4,"e":5}

In [ ]:
d

In [ ]:
for i in d:
    print(i)

In [ ]:
for i in d:
    print(d[i])

In [ ]:
for i in d:
    print(i, d[i])

In [ ]:
d["c"]

In [ ]:
d['a']

In [ ]:
d["d"]

In [ ]:
d.items()

In [ ]:
d.keys()

In [ ]:
d.values()

In [ ]:
for i in d.items():
    
    print(i)

In [ ]:
s = "this is a basic pythan class"

In [ ]:
len(s)

In [ ]:
count = 0
for i in s:
    count = count + 1
    print(i)

In [ ]:
count = 0
for i in s:
    count = count + 1
    print(count)

In [ ]:
count = 0
for i in s:
    count = count + 1
print(count)

In [ ]:
count = 0
for i in s:
    count = count + 1
    print(count,i)

In [ ]:
count = 0
for i in s:
    count+= 1
print(count)

In [ ]:
s[::-1]

In [ ]:
for i in range(len(s)-1,-1,-1):
    print(s[i])

In [ ]:
for i in range(len(s)-1,-1,-1):
    print(s[i], end = " ")
    print("\n")

In [ ]:
s

In [ ]:
i = len(s)-1
while (i >= 0):
    print(s[i],  end =" ")
    i = i-1

In [ ]:
i = len(s)-1
while (i >= 0):
    print(s[i], end = "")
    i = i-1

In [ ]:
for i in s:
    print(i,end = "")

In [ ]:
s

In [ ]:
s = "ineuron"
v ="AaEeIiOoUu"
for i in s:
    if i in v:
        print('vowel',i)
    else:
        print("not vowel",i)

In [ ]:
s = "tnent"
for i in s:
    if s[::-1]=="s":
        print("this is a pelendrom")
    else:
        print("this is not pelendrom")

In [ ]:
s= "tnent"

In [ ]:
s[::-1]

In [ ]:
s = "tnent"
s1= s[::-1]
if s==s1:
    print("this is a pelendrom")
else:
    print("this is not pelendrom")

In [ ]:
s = (input())
s1= s[::-1]
if s==s1:
    print("this is a pelendrom")
else:
    print("this is not pelendrom")

In [ ]:
s = (input())
s1= s[::-1]
if s==s1:
    print("this is a pelendrom")
else:
    print("this is not pelendrom")

In [ ]:
s = (input())
s1= s[::-1]
if s==s1:
    print("this is a pelendrom")
else:
    print("this is not pelendrom")

In [ ]:
s = "malayalam"
if s == s[::-1]:
    print("the word is pelendrom")
else:
    print("the word is not pelendrom")

In [ ]:
s = input()
v =  s[::-1]
if s==v:
    print('this is pelendrom',s)
else:
    print("this is not pelendrom")

In [ ]:
s = input()
v =  s[::-1]
if s==v:
    print('this is pelendrom',s)
else:
    print("this is not pelendrom")

In [ ]:
x = "malayalam"
w = ""
for i in x:
    w = i+w
if (x==w):
        print("pelendrom")
else:
        print("not pelendrom")

In [ ]:
x = "chetan"
w = ""
for i in x:
    w = i+w
if (x==w):
        print("pelendrom")
else:
        print("not pelendrom")

In [10]:
d = {"india": "IN","canada":"CA","china":"CH","united_state":"US"}

In [11]:
d

{'india': 'IN', 'canada': 'CA', 'china': 'CH', 'united_state': 'US'}

In [ ]:
'india' in d

In [ ]:
"china" in d

In [ ]:
d.keys()

In [ ]:
d.values()

In [3]:
for i in d.keys():
    if len(i)<=5:
        print(i)

india
china

In [6]:

for i in d.keys():
    if len(i)>5:
        print(i)

canada
united_state

In [9]:
s = input()
for i in s.keys():
    if len(i)>5:
        print(i)

'arunachal':1

AttributeError: 'str' object has no attribute 'keys'

In [12]:
for i in d:
    print(i)

india
canada
china
united_state

In [14]:
l_smaller = []
l_greater = []
for i in d:
    if len(i) <= 5:
        l_smaller.append(i)
    else:
        l_greater.append(i)