In [ ]:
Q-19. Write an SQL query to determine the 5th highest salary without using TOP or limit method.
ANS:
    select * from Worker order by salary desc where rownumber = 5
    OR
    select * from(select NAME) over ( order by salary desc) as from Worker) where r = &5

In [ ]:
Q-20. Write an SQL query to fetch the list of employees with the same salary.
ANS:
    select * from EMPLOYEE A, EMPLOYEE B where  A.salary = B.salary AND A.DEPT_ID <> B.DEPT_ID.
    
    OR
    Select * From Employee Where Salary in(Select Salary From Employee Group by Salary Having Count(Salary ) > 1)