In [ ]:
Q-1. Write an SQL query to print the FIRST_NAME from Worker table after removing white spaces from the right side.
ANS:
    Select RTRIM(FIRST_NAME) from Worker;

In [ ]:
Q-2. Write an SQL query that fetches the unique values of DEPARTMENT from Worker table and prints its length.
ANS:
    select  distinct length(department) from worker;
    OR
    Select distinct Length(DEPARTMENT) from Worker group by Length(DEPARTMENT);

In [ ]:
Q-3. Write an SQL query to fetch nth max salaries from a table.
ANS:
    Select Emp_name from Worker where Salary =( Select Salary from Worker order by Salary DESC limit n-1,1)
    OR
    selectT MAX(SALARY) from Worker;