Q-1. Write an SQL query to print details of the Workers who have joined in Febâ€™2014.
ANS:
    select * from Worker where NAME(hire_month, 'year')= 'Feb 2014'

Q-2. Write an SQL query to fetch duplicate records having matching data in some fields of a table.
anS:
    select username, email, COUNT(*) from Worker group by username,email having COUNT(*)<>1

Q-3. How to remove duplicate rows from Employees table.
ANS:
    WITH CTE as(select *,ROW_NUMBER() over (PARTITION BY col1,col2,col3 ORDER BY col1,col2,col3) as RN from MyTable)
    DELETE from CTE where RN<>1