In [ ]:
Q-15. Write an SQL query to fetch intersecting records of two tables.
ANS:
    select col1, col2  from Worker where data = FIRST_NAME  AND name = 'vijay'
    INTERSECT 
    select col1, col2  from Employees where data = FIRST_NAME AND name = 'sunny'

In [ ]:
Q-16. Write an SQL query to show records from one table that another table does not have.
ANS:
    select DEPT_ID from Worker WHERE DEPT_ID = 23546 NOT IN (select DEPT_ID from employees)