In [ ]:
Q-17.  Write an SQL query to show the top n (say 10) records of a table.
ANS:
    select * from Worker order by DEPT_ID  LIMIT 10

In [ ]:
Q-18. Write an SQL query to determine the nth (say n=5) highest salary from a table.
ANS:
    Select DEPT_ID from Worker where Salary =( Select Salary from Worker order by Salary DESC limit n-1,1)