In [ ]:
l = input("enter the string")

for i in list(range(l)):
    print(i[0::2])

In [ ]:
word = input('Enter word ')
print("Original String:", word)
size = len(word)
for i in range(0, size - 1, 2):
    print("index[", i, "]", word[i])

In [ ]:
l = input("enter the string")
word = len(l)
for i in range(0, word - 1, 2):
    print("index [", i, "] is ", word[i])

In [ ]:
l = input("enter the string")
a = list(l)
for i in a[0::2]:
  
    
    print(i)

In [ ]:
def list(x):
    
    if x[0]==x[-1]:
        return True
        
    else:
        return False
        
a = [75, 65, 35, 75, 30]
list(a)

In [ ]:
x = [10, 20, 30, 40, 10]

In [ ]:
x[0]

In [ ]:
x[-1]

In [ ]:
def list(x,b):
    a = []
    p = [10, 20, 33, 46, 55]
    for i in p:
        if (p % 5 == 0):
            a.extend(i)
p = [10, 20, 33, 46, 55]
list(p,i)

In [ ]:
    def smallest_num_in_list( list ):
        min = list[0]
        for a in list:
            if a < min:
                min = a
        return min
    print(smallest_num_in_list([1, 2, -8, 0]))

In [2]:
    a = [18, 52, 23, 41, 32]
    a.set()
    smallest = a[-2]
    print("Smallest number is: ",smallest)

AttributeError: 'list' object has no attribute 'set'

In [3]:
    l = [20, 30, 40, 25, 10]  
    r = set(l)   
    r.remove(max(r))    
    print(max(r))

30

In [4]:

    l = [10, 20, 33, 46, 55]
    for i in l:
        if (i % 5 == 0):
            print(i)

10
20
55

In [6]:
a = []
str = input("enter the input str")
for i in str:
    print(count(i), {i})

enter the input strnbgh

NameError: name 'count' is not defined

In [8]:
str = "Emma is good developer. Emma is a writer"
a = str.count('Emma')
print("emma appear ", a, "times")

emma appear  2 times

In [9]:
for i in range(0,6):
    for j in range(1, i+1):
        print(i, end = " ")
    print("\r")

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [10]:
for num in range(10):
    for i in range(num):
        print (num, end=" ") 
   
    print("\n")

1

2 2

3 3 3

4 4 4 4

5 5 5 5 5

6 6 6 6 6 6

7 7 7 7 7 7 7

8 8 8 8 8 8 8 8

9 9 9 9 9 9 9 9 9

In [ ]:
a = input("enter the number")
w = ""
for i in a:
    w = w+i
    if a == w:
        print("pelendrom")
    else:
        print("not pelendrom")

In [ ]:
s = int(input("enter the input"))
a = list(s)
v = a[::-1]
if a==v:
    print("pelendrom")
else:
    print("not pelendrom")

In [ ]:
import sys

list1 = ['Scott', 'Eric', 'Kly']
print("size of list = ",sys.getsizeof(list1))

name = 'pynative.com'
print("size of name = ",sys.getsizeof(name))

In [ ]:
def num(list1, list2):
    
    l = []
    
    
    for i in list1:
        if (i % 2 != 0):
            l.append(i)
            
    for j in list2:
        if (j % 2 == 0 ):
            l.append(j)
            
    return l  

l1 = [10, 20, 25, 30, 35]
l2 = [40, 45, 60, 75, 90]
print("the result list is", num(l1,l2))

In [ ]:
number = 7536
while number > 0:
    digit = number % 10
    number = number // 10
    print(digit, end = " ")

In [ ]:
income = 45000
tax_payable = 0
print("Given income", income)

if income <= 10000:
    tax_payable = 0
elif income <= 20000:
    x = income - 10000
    tax_payable = x * 10 / 100
else:
    tax_payable = 0
    tax_payable = 10000 * 10 / 100
    x   =   (income - 20000) 
    tax_payable =  tax_payable + x * 20 / 100

print("Total tax to pay is", tax_payable)

In [ ]:
income = int(input("enter the income"))
tax = 0
if income <= 10000:
    tax = 0
elif income <= 20000:
    x = (income - 10000)
    tax = x * 10/100
    
else: 
    tax = 0
    tax = 10000 * 10/100
    tax += (income -20000)  * 20/100
    
print("the amount of tax deducted is", tax)

In [ ]:
for i in list(range(1,11)):
    for j in range(1,11):
        print(j*i, end = "  ")
    print("\t\t")

In [ ]:
for i in list(range(1,11)):
    for j in range(1,i+1):
        print(j*i, end = "  ")
    print("\t")

In [ ]:
for i in range(6, 0, -1):
    for j in range(0, i - 1):
        print("*", end = " ")
    print(" ")

In [ ]:
"""Write a function called exponent(base, exp)that returns 
an int value of base raises to the power of exp."""

def first(a) :
    
    a = int(input("enter the number of base"))
    b = int(input("enter the value power of exponent"))
    p = a**b
    return   a, "raised to the power of ", p 
    
first(2)

In [ ]:
def exponent(base, exp):
    num = exp
    result = 1
    while num > 0:
        result = result * base
        num = num - 1
    print(base, "raises to the power of", exp, "is: ", result)

exponent(5, 4)

In [ ]:
""" Print First 10 natural numbers using while loop"""
    
i = 1
while i < 10:
    print(i)
    i += 1

In [ ]:
for i in range(0, 11):
    for j in range(1, i+1):
        print(j, end = " ")
    print("\t")

In [ ]:
"""Calculate the sum of all numbers from 1 to a given number"""
count = 0
l = [1,2,3,4,5,6,7,8,9,10]   
for i in l:
    count = count + i
    
print("sum of all number inside list is", count)

In [ ]:
for i in range(0,10):
    for j in range(1,i*2):
        print(j, end = " ")

In [ ]:
"""Write a program to print multiplication table of a given number"""
n = 2
for i in range(1,11):        
    print(n*i)

In [ ]:
"""The number must be divisible by five
If the number is greater than 150, then skip it and move to the next number
If the number is greater than 500, then stop the loop"""
l = [12, 75, 150, 180, 145, 525, 50]
a = []
for i in l:
    if (i % 5 == 0) and  i <= 150:
        a.append(i)
    elif (i >= 500):
        break 
        
print("the list of a is:", a)

In [ ]:
l =  [12, 75, 150, 180, 145, 525, 50]
for i in l:
    while (i % 5 == 0):
        print(i)
        i+=1

    while (i >= 500):
        break
        i+=1
        
    while (i>= 150):
        continue
        i+=1

In [ ]:
"""Count the total number of digits in a respective any number"""
num = int(input("enter the value : "))
count = 0
while (num != 0):
    num = num//10
    count += 1
    
print("the total digit in a number is : ", count)

In [ ]:
for i in range(6, 0, -1):
    for j in range(-i,0):
        print(j, end = " ")
    print("\r")

In [1]:
for i in range(6, 0, -1):
    for j in range(1,i+1):
        print(j, end = " ")
    print("\r")

1 2 3 4 5 6
1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [ ]:
for i in range(6, 0, -1):
    for j in range(0-i,0):
        print(j, end = " ")
    print("\r")

In [ ]:
n = 6
k = 6
for i in range(0,n+1):    
    for j in range(k-i, 0, -1):    
        print(j, end = " ")
    print("\r")

In [ ]:
"""Print list in reverse order using a loop"""

list1 = [10, 20, 30, 40, 50]
v= list1[::-1]
for i in v:
    print(i)

In [2]:
list1 = [10, 20, 30, 40, 50]
v= list1[::-1]
print(v)

[50, 40, 30, 20, 10]

In [3]:
list1 = [10, 20, 30, 40, 50]
for i in list1:
    print(i)

10
20
30
40
50

In [4]:
list1 = [10, 20, 30, 40, 50]
a = reversed(list1)
for i in a:
    print(i)

50
40
30
20
10

In [5]:
list1 = [10, 20, 30, 40, 50]
size = len(list1) - 1
for i in range(size, -1, -1):
    print(list1[i])

50
40
30
20
10

In [6]:
for i in range(-10,0):    # reverse range function
    print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

In [7]:
for i in range(6): # python will allow such kind of operation like for loop and else
    print(i)
else:
    print("Done")       # we need such type of output

0
1
2
3
4
5
Done

In [ ]:
"""Write a program to display all prime numbers within a range"""
start = 25
end = 50
for num in range(start, end +1):
    if num > 1:
        for i in range(2, num):
            if (num % i) == 0:
                break
        else:
                print(num)

In [ ]:
#FIBONACCI SEQUENCE
a = 1
b = 1
i = 1
n = int(input('enter the number'))
while i<n :
    a,b = b,b+a
    i += 1
    print(a)

In [ ]:
def fib(n):
   
    a = 1
    b = 0
    for i in range(n):
        yield a,i
        a,b = b,b+a
for i in fib(10):
    print(i)

In [ ]:
n = 15
a = 1
b = 1
l = []
for i in range(10):
    a,b = b,b+a
    l.append(a)
    print(i,a)

In [ ]:
#Write a program to display the number is prime number or not
number = int(input("Enter any number: "))
if number > 1:
    for i in range(2, number):
        if (number % i) == 0:
            print(number, "is not a prime number")
            break
    else:
        print(number, "is a prime number")
else:
    print(number, "is not a prime number")

In [ ]:
rows = 5
for i in range(0, rows):
    for j in range(0, i + 1):
        print("*", end=' ')
    print("\r")

for i in range(rows, 0, -1):
    for j in range(0, i - 1):
        print("*", end=' ')
    print("\r")

In [ ]:
def fib(n):
    a = 1
    b = 1
    l = []
    for i in range(n):
        l.append(a)
        a,b = b, b+a
    return l
fib(10)

In [ ]:
def fib(p):
    a = 0
    b = 1
    for i in range(p):
        a,b = b, b+a
        print(a) 
fib(10)

In [ ]:
print("Fibonacci sequence:")
b=[0,1]
for i in range(8):
    b.append(b[i]+b[i+1])
print(b)

In [ ]:
n = int(input("enter an input number :"))
fact = 1
if (n < 0):
    print("factorial is not possible for negative numbers")
elif (n == 0):
    print("factorial of 0 is always 1")
else:
    for i in range(1, n+1):
        fact = fact*i
        print("factorial of", i , "is", fact)

In [ ]:
n = int(input("enter an input number"))
fact = 1
if (n < 0):
    print("factorial is not possible for negative numbers")
elif (n == 0):
    print("factorial of 0 is always 1")       #check how indentation affects on result output
else:
    for i in range(1, n+1):
        fact = fact*i
    print(fact)

In [ ]:
a = "76542"
s = a[::-1]
s

In [ ]:
a = 25
p = a % 10
print(p)
s = a//10
print(s)
j = a/10
print(j)

In [ ]:
l = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
p = []
for i in l:
    if (l.index(i)) % 2 == 0:
        p.append(i)
print("The odd index of element present is", p)

In [ ]:
l = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

for i in l:
    if (l.index(i)) % 2 == 0:       
        print("The odd of element present is", i)

In [ ]:
l = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
for i in l[1::2]:    #THIS METHOD CALLED AS LIST SLICING METHOD
    print(i, end = " ")

In [ ]:
n = int(input("enter a required number"))
for i in range(0,n):
    s = i*i*i
    print("current number is ", i , " and the cube is ", s)

In [ ]:
"""Write a program to calculate the sum of series up to n term. For example,
if n =5 the series will become 2 + 22 + 222 + 2222 + 22222 = 24690"""

n = 5
s = 2
a = 0
for i in range(0, n):
    print(s, end="+")
    a += s
    s = s * 10 + 2
print("\nSum of above series is:", a)

In [ ]:
n = 5
s = 2
a = 0
for i in range(0, n):
    print(s, end="+")
    a += s
    s = s * 10 + 2
print("\nSum of above series is:", a)

In [ ]:
n = 5
s = 2
a = 0
for i in range(0, n):
    print(s, end="+")
    a += s
    s = s * 10 + 2
print("\nSum of above series is:", a)

In [ ]:
n = int(input("enter a number"))
for i in range(0,n):
    for j in range(1,i+1):
        print(j, end = " ")
    print("\r")
    
for i in range(n,0,-1):
    for j in range(1,i+1):
        print(j, end = " ")
    print("\r")

In [ ]:
num=int(input("Enter a number: "))
for i in range(0,num):
         print("* "*i)
for j in range(0,num):
         print("* "*(num-j))

In [ ]:
n = int(input("enter a number: "))
for i in range(0,n):
    print("* "  *i)
for j in range(0,n):
    print("* "  *(n-j))

In [ ]:
#SUM OF SERIES FROM 1 TO 10
a, b = 0, 1
for i in range(10):
    print(b, end=' ')
    a, b = b, a + b

In [ ]:
for i in range(0,5):
    for x in range(i +1):
        print("*", end= " ")
    print()
else:
    for j in range(5, 0, -1):
        for y in range(j-1, 0, -1):
            print("*", end=" ")
        print()

In [ ]:
for i in range(-4,5,1):    
    print(' '.join(['*' for j in range(5 - abs(i))]))

In [ ]:
FUNCTION PRACTICE

In [ ]:
def detail(name,age):
    print(name,age)
    
detail("namdeo",27)

In [ ]:
def fun(l):
    print(l)
    
l = [1,2,3,4,5,6,7,8,9]
fun(l)

In [ ]:
def fun(*args): # it will pass multiple data at a single time
    for i in args:
        print(i)
    
fun(1,2,3,4,5,6,7,8,9)

In [ ]:
def fun(*args): 
        print(*args)
    
fun(1,2,3,4,5,6,7,8,9)
fun(9,8,7,6,5,4)
fun(3,2,1)

In [ ]:
class add():
    def __init__(self,p,q):
        self.p = p
        self.q = q
    def add(p,q):
        return p+q
class mul():
    def sub(p,q):
        return p-q
    
class cal(add,mul):
    .__init__(self,*args,**kwargs)
    add.__init__(self,*args)
    mul.__init__(self,**kwargs)
    
    
 # to be continue

In [ ]:
"""Write a program to create function calculation()
such that it can accept two variables and calculate addition 
and subtraction. Also, it must return both addition and subtraction
in a single return call."""


def cal(a,b):
    add = a+b
    sub = a-b
    return add, sub


cal(14,9)

In [ ]:
def cal(a,b):
    return a+b,a-b
add, sub = cal(40,15)
print(add,sub)

In [ ]:
"""Write a program to create a function show_employee() using the following conditions.

It should accept the employee’s name and salary and display both.
If the salary is missing in the function call then assign default value 9000 to salary"""


def show_employee(name,salary = 9000):
    print("name", name, " salary", salary)
    
show_employee("namdeo",15500)
show_employee("vandana")

In [ ]:
"""Create an outer function that will accept two parameters, a and b
Create an inner function inside an outer function that will calculate the addition of a and b
At last, an outer function will add 5 into addition and return it"""


def fun(a,b):
    mul = a*b
    
    def add(a,b):
        return a+b
    
    v = add(a,b)
    
    return v + 5

rest = fun(5,4)
print(rest)

In [ ]:
"""Write a program to create a recursive function to calculate the sum of numbers from 0 to 10.

A recursive function is a function that calls itself, again and again."""

def add():
    n = int(input("enter number required to sum"))
    count = 0
    for i in range(0,n):
        count = count + i
        
    return "The addition of numbers from 0 to 10 is : ", count
add()

In [ ]:
def add():

    n = int(input("enter the input"))
    total = 0
    i  = 1
    while i < n:
        total = total + i
        i+=1
    return "The addition of numbers from 0 to 10 is : ", total

add()

In [ ]:
def add():
    n = int(input("enter number required to sum"))
    o = []
    count = 0
    for i in range(0,n):
        count = count + i
        o.append(count)
        
    return "The addition of numbers from 0 to 10 is : ", o
add()

In [ ]:
try:
    def add():
        n = int(input("enter number required to sum"))
        om = []
        count = 0
        for i in range(0,n):
            count = count + i
            o.append(count)

    print("The addition of numbers from 0 to 10 is : ", om )
    add()
    
except Exception as e:
    print(e)

In [ ]:
def addition(num):
    if num:
        return num + addition(num - 1)
    else:
        return 0

res = addition(10)
print(res)

In [ ]:
"""Below is the function display_student(name, age).
Assign a new name show_tudent(name, age) to it and call it using the new name."""

def student_name(name,age):
    
    print('name is', name, "and age is", age)
student_name('namdeo',27)

show_student = student_name

show_student('namdeo',27)

In [ ]:
"""Generate a Python list of all the even numbers between 4 to 30"""

def test():
    a = int(input("enter the starting number"))
    b = int(input("enter the end number"))
    l = []
    for i in range(a,b):
        if (i % 2 == 0):
            l.append(i)       
            
    return l
    
test()

In [ ]:
def test():
    a = int(input("enter the starting number"))
    b = int(input("enter the end number"))
    for i in range(a,b):
        if (i % 2 == 0):
            print(i)
       
test()

In [ ]:
def test(a,b):
    for i in range(a,b):      # this one is alsp correct way to code a even number of list
        if (i % 2 == 0):
            print(i)
       
test(4,30)

In [ ]:
def test():
    return list(range(4,32,2))
test()

In [ ]:
"""Find the largest item from a given list"""

def test(): 
    x = [4, 6, 8, 24, 12, 2]   
    print(max(x))
test()

In [ ]:
str = "james"
if

In [ ]:
str1 = 'James'
print("Original String is", str1)
res = str1[0]
l = len(str1)
mi = int(l / 2)
res = res + str1[mi]
res = res + str1[l - 1]
print("New String:", res)

In [ ]:
def get_middle_three_chars(str1):
    print("Original String is", str1)
    mi = int(len(str1) / 2)
    res = str1[mi - 1:mi + 2]
    print("Middle three chars are:", res)

get_middle_three_chars("JhonDipPeta")
get_middle_three_chars("JaSonAy")

In [ ]:
def midone(a):
    p = int(len(a)/2)
    m = a[p-1 : p+2]
    print("the middle number is",m)
    
midone("jhonDipPeta")
midone("jaSonAy")

In [ ]:
def append_middle(s1, s2):
    print("Original Strings are", s1, s2)
    mi = int(len(s1) / 2)
    x = s1[:mi:]
    x = x + s2
    x = x + s1[mi:]
    print("After appending new string in middle:", x)

append_middle("Ault", "Kelly")

In [ ]:
def mix_string(s1, s2):
    first_char = s1[0] + s2[0]
    middle_char = s1[int(len(s1) / 2):int(len(s1) / 2) + 1] + s2[int(len(s2) / 2):int(len(s2) / 2) + 1]
    last_char = s1[len(s1) - 1] + s2[len(s2) - 1]
    res = first_char + middle_char + last_char
    print("Mix String is ", res)

s1 = "America"
s2 = "Japan"
mix_string(s1, s2)

In [ ]:
l = "PyNaTiVe"
upper = []
lower = []
for i in l:
    if i.islower():
        lower.append(i)
    else:
        upper.append(i)
    
x = "".join(lower+upper)
print("the upper letter inside list is :" , upper)
print("the lower letter inside list is :", lower)
print('result is :', x)

In [ ]:
def sample(string):

    symbol = 0
    digit = 0
    char = 0
    for i in str1:
        if i.isalpha():
            char = char + 1
        elif i.isdigit():
            digit = digit + 1
        else:
            symbol = symbol + 1

sample = "P@#yn26at^&i5ve"   
print("character is :", char, "\ndigit is :",digit, "\nsymbol is :",symbol)

In [ ]:
"""Given two strings, s1 and s2. Write a program to create a 
new string s3 made of the first char of s1, then the last char of s2,
Next, the second char of s1 and second last char of s2, and so on.
Any leftover chars go at the end of the result.       
s1 = 'Abc'
s2 = 'Xyz' """


s1_length = len(s1)
s2_length = len(s2)
length = s1_length if s1_length > s2_length else s2_length
result = ""
s2 = s2[::-1]
for i in range(length):
    if i < s1_length:
        result = result + s1[i]
    if i < s2_length:
        result = result + s2[i]

print(result)

In [ ]:
"""Write a program to check if two strings are balanced.
For example, strings s1 and s2 are balanced if all the characters in 
the s1 are present in s2. The character’s position doesn’t matter
if correct it will show True othervise False"""


def string_balance_test(s1, s2):
    flag = True
    for char in s1:
        if char in s2:
            continue
        else:
            flag = False
    return flag


s1 = "Yn"
s2 = "PYnative"
flag = string_balance_test(s1, s2)
print("s1 and s2 are balanced:", flag)

s1 = "Ynf"
s2 = "PYnative"
flag = string_balance_test(s1, s2)
print("s1 and s2 are balanced:", flag)

In [ ]:
"""Write a program to find all occurrences of “USA” in a given string ignoring the upper or lower case."""


str1 = "Welcome to USA. usa awesome, isn't it?"
sub_string = "USA"
temp = str1.lower()
count = temp.count(sub_string.lower())
print("The USA count is:", count)

In [ ]:
"""Given a string s1, write a program to return the sum and
average of the digits that appear in the string, ignoring all other characters."""

total = 0
count = 0
str1 = "PYnative29@#8496"
for i in str1:
    if i.isdigit():
        total += int(i)
        count +=1
        
avg = total /count
print("sum of digit is: ", total, "average is :", avg)

In [ ]:
#Write a program to count occurrences of all characters within a string
str1 = "Apple"
char = dict()
for i in str1:
    count = str1.count(i)
    char[i] = count
print('Result:', char)

In [ ]:
# Reverse a given string
str1 = "PYnative"
a  = str1[::-1]
print("Normal string is ", str1,"\nReverse is ",a )

In [ ]:
str1 = "PYnative"
print("Original String is:", str1)

str1 = ''.join(reversed(str1))
print("Reversed String is:", str1)

In [ ]:
#Find the last position of a given substring

str1 = "Emma is a data scientist who knows Python. Emma works at google."
index = str1.rfind("Emma")
print("last occurance of emma start at index :", index)

In [ ]:
#Write a program to split a given string on hyphens and display each substring.
str1 = 'Emma-is-a-data-scientist'
a = str1.split("-")
for i in a:
    print(i)

In [ ]:
#Remove empty strings from a list of strings

list = ["Emma", "Jon", "", "Kelly", None, "Eric", ""]
for i in list:
    if (i == ""):
        continue
    else:
        print(i, end = " ")

In [ ]:
list = ["Emma", "Jon", "", "Kelly", None, "Eric", ""]

a = []
for i in list:
    if (i == ""):
        continue
    else:
        a.append(i)
print(a)

In [ ]:
list = ["Emma", "Jon", "", "Kelly", None, "Eric", ""]
str = []
for i in list:
    if i:
        str.append(i)
print(str)

In [ ]:
#Remove special symbols / punctuation from a string

import string

str1 = "/*Jon is @developer & musician"
new = str1.translate(str.maketrans('', '', string.punctuation))
print("New string is : ", new)

In [ ]:
#Removal all characters from a string except integers

str1 = 'I am 25 years and 10 months old'

for i in str1:
    if i.isalpha():
        continue
        
    else:
        print(i, end = " ")

In [ ]:
str1 = 'I am 25 years and 10 months old'

for i in str1:
    if i.isdigit():
        print(i, end = "")

In [ ]:
str1 = 'I am 25 years and 10 months old'

r = "".join([i for i in str1 if i.isdigit()])

print(r)

In [ ]:
#Write a program to find words with both alphabets and numbers from an input string.

str1 = "Emma25 is Data scientist50 and AI Expert"
a =str1.split(".")
j = []
l = []
for i in a:
    if i.isalpha():
        j.append(i)
    else:
        l.append(i)
print(j)
print(l)

In [ ]:
str1  = "Emma25 is Data scientist50 and AI Expert"
a = "".join([i for i in str1 if i.isalpha()])
p = "".join([i for i in str1 if i.isdigit()])

print(a)
print(p)

In [ ]:
str1 = "Emma25 is Data scientist50 and AI Expert"
print("The original string is : " + str1)

r = []
temp = str1.split()
for item in temp:
    if any(char.isalpha() for char in item) and any(char.isdigit() for char in item):
        r.append(item)

print("Displaying words with alphabets and numbers")
for i in r:
    print(i)

In [ ]:
#Replace each special symbol with # in the following string

import string

l = '/*Jon is @developer & musician!!'
replace = '#'

for i in string.punctuation:
    l = l.replace(i, replace)

print( l)

In [ ]:
import string

a =  '/*Jon is @developer & musician!!'

rep = "#"
for i in string.punctuation:
    a = a.replace(i, rep)
    
print(a)

In [ ]:
list1 = [100, 200, 300, 400, 500]
a  = list1[::-1]
print(a)

In [ ]:
list1 = [100, 200, 300, 400, 500]
list1.reverse()
print(list1)

In [ ]:
list1 = ["M", "na", "i", "Ke"]
list2 = ["y", "me", "s", "lly"]
list3 = [ i+j for i,j in zip(list1,list2)]

print(list3)

In [ ]:
list1 = ["M", "na", "i", "Ke"]
list2 = ["y", "me", "s", "lly"]
for i in list1:
    for j in list2:
        print(i+j)       # this is substituting each and evry digit

In [ ]:
list1 = [1,2,3,4,5,6,7,8,9]
list2 = [9,8,7,6,5,4,3,2,1]
for i in list1:
    for i in list2:
        print(i+j)

In [ ]:
numbers = [1, 2, 3, 4, 5, 6, 7]
l = []
for i in numbers:
    l.append(i*i)
print(l)

In [ ]:
l = [1, 2, 3, 4, 5, 6, 7]
m = [ i*i for i in l]
print(m)

In [ ]:
# Concatenate two lists in the following order
#['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']

l1 = ["Hello ", "take "]
l2 = ["Dear", "Sir"]
for i in l1:
    for j in l2:
        print(i+j)

In [ ]:
l1 = ["Hello ", "take "]
l2 = ["Dear", "Sir"]
l3 = []
for i in l1:
    for j in l2:
        l3.append(i+j)
print(l3)

In [ ]:
l1 = ["Hello ", "take "]
l2 = ["Dear", "Sir"]
l = [i+j for i in l1 for j in l2]
print(l)

In [ ]:
l1 = [10, 20, 30, 40]
l = [100, 200, 300, 400]
l2= l[::-1]
l3 = []
for i in l1:
    for j in l2:
        l3.append(i+j)
        
print(l3)

In [ ]:
l1 = [10, 20, 30, 40]
l2 = [100, 200, 300, 400]
l3 = []
for i in l1:
    for j in l2:
        l3.append(i+j)
        
print(l3)

In [ ]:
l1 = [10, 20, 30, 40]
l = [100, 200, 300, 400]
l2 = l[::-1]
a = [i + j for i,j in zip(l1,l2)]
print(a)

In [ ]:
l1 = [10, 20, 30, 40]
l2 = [100, 200, 300, 400]

a = [i + j for i,j in zip(l1,l2)]
print(a)

In [ ]:
l1 = [10, 20, 30, 40]
l2 = [100, 200, 300, 400]

a = [i + j for i in l1 for j in l2]
print(a)

In [1]:
l1 = [10, 20, 30, 40]
l2 = [100, 200, 300, 400]
for i in l1:
    for j in l2:
        print(i," ",j)

10   100
10   200
10   300
10   400
20   100
20   200
20   300
20   400
30   100
30   200
30   300
30   400
40   100
40   200
40   300
40   400

In [ ]:
l1 = [10, 20, 30, 40]
l2 = [100, 200, 300, 400]
for i,j in zip(l1,l2[::-1]):
    print(i,j)

In [ ]:
l1 = [10, 20, 30, 40]
l2 = [100, 200, 300, 400]
for i,j in zip(l1,l2):
    print(i,j)

In [ ]:
#Remove empty strings from the list of strings
list1 = ["Mike", "", "Emma", "Kelly", "", "Brad"]
l = []
for i in list1:
    if (i == ""):
        continue
    else:
        l.append(i)
        
print(l)

In [ ]:
list1 = ["Mike", "",12 , 3+5j, 25.364, "Emma", "Kelly", "", "Brad"]
l = []
for i in list1:
    if (type(i) != str):
        continue
    else:
        l.append(i)
        
print(l)

In [ ]:
list1 = ["Mike", "", "Emma", "Kelly", "", "Brad"]
r = list(filter(None, list1))
print(r)

In [ ]:
list1 = ["Mike", "",12 , 3+5j, 25.364, "Emma", "Kelly", "", "Brad"]
s = list(filter(None,list1))
print(s)

In [ ]:
l = [[1,2,3],[4,5,6],[],[],[7,8,9],[],[9,8,7],[],[6,5,4],[3,2,1]]
t = list(filter(None,l))
print(t)

In [ ]:
l = [[1,2,3],[4,5,6],[],[],[7,8,9],[],[9,8,7],[],[6,5,4],[3,2,1]]
for i in l:
    if (i== []):
        continue
    else:
        print(i)

In [ ]:
l = [[1,2,3],[4,5,6],[],[],[7,8,9],[],[9,8,7],[],[6,5,4],[3,2,1]]
l1= []
for i in l:
    if (i== []):
        continue
    else:
        l1.append(i)
        
print(l1)

In [ ]:
l = [[1,2,3],[4,5,6],[],[],[7,8,9],[],[9,8,7],[],[6,5,4],[3,2,1]]
l1= []
for i in l:
    if (type(i) == None):
        continue
    else:
        l1.append(i)
        
print(l1)

In [ ]:
# Add new item to list after a specified item
#Write a program to add item 7000 after 6000 in the following Python List

list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
list1[2][2].append(7000)
print(list1)

In [ ]:
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
list1[2][2].extend(7000)
print(list1)

In [ ]:
#Extend nested list by adding the sublist
list1 = ["a", "b", ["c", ["d", "e", ["f", "g"], "k"], "l"], "m", "n"]
a = list1[2][1][2]
a.extend(("h","i","j"))
print(list1)

In [ ]:
list1 = ["a", "b", ["c", ["d", "e", ["f", "g"], "k"], "l"], "m", "n"]
a = list1[2][1][2]
a.extend(["h","i","j"])
print(list1)

In [ ]:
#Write a program to find value 20 in the list, and if it is present, replace it with 200. Only update the first occurrence of an item.

l = [5, 10, 15, 20, 25, 50, 20]
a = l.index(20)
l[a] = 200
print(l)

In [ ]:
# write a program to remove all occurrences of item 20.
list1 = [5, 20, 15, 20, 25, 50, 20, 40, 60, 35, 80]
l = []
for i in list1:
    if (i % 20 == 0):
        continue
        
    else:
        l.append(i)
        
print(l)

In [ ]:
list1 = [5, 20, 15, 20, 25, 50, 20, 40, 60, 35, 80]
l = []
for i in list1:
    if (i % 20 != 0):
        l.append(i)
        
print(l)

In [ ]:
list1 = [5, 20, 15, 20, 25, 50, 20]
while 20 in list1:
    list1.remove(20)
print(list1)

In [ ]:
t = (10, 20, 30, 40, 50)
a = t[::-1]
print(a)

In [ ]:
t1 = ("Orange", [10, 20, 30], (5, 15, 25))
a = t1[1][1]
print(a)

In [ ]:
t= (50,)
print(t)

In [ ]:
t = (10,20,30,40)
a,b,c,d = t

print(a)
print(b)
print(c)
print(d)

In [ ]:
#Swap two tuples in Python
t1 = (11, 22)
t2 = (99, 88)
t = t1
t1 = t2
t2 = t
print("the value of t1 is :" , t1)
print("the value of t2 is :" , t2)

In [ ]:
t1 = (11, 22, 33, 44, 55, 66)
l = []
w = t1[3]
v = t1[4]
l.append(w)
l.append(v)
print("the fetched new tuple is :", l)

In [ ]:
t1 = (11, 22, 33, 44, 55, 66)
w = t1[3]
v = t1[4] and t1[-1]

print("the value of tuple is :", (w, v))

In [ ]:
t1 = (11, 22, 33, 44, 55, 66)
w = t1[3:-1]
print("the value of tuple is :", w)

In [ ]:
#v.update(22)
print(v)
t1 = (11, [22, 33], 44, 55) 
t1[1][0] =222
print(t1)

In [ ]:
# Counts the number of occurrences of item 50 from a tuple
t1 = (50, 10, 60, 70, 50,50,50,50,50)
total = 0
for i in t1:
    if i == 50:
        total+=1
print(total)

In [ ]:
t1 = (50, 10, 60, 70, 50,50,50,50,50)
v = t1.count(50)
print("the 50 is appear", v,"times")

In [ ]:
#Check if all items in the tuple are the same
t1 = (45, 45, 45, 45)
if t1.count(45) ==len(t1):
    print(True)
else:
    print(False)

In [ ]:
def check(t):
    return all(i == t[0] for i in t)

t1 = (45, 45, 45, 45)
print(check(t1))

In [ ]:
condition = True 
tuple1 = (45, 45, 45, 45,) 
for i in tuple1:
    if i!= 45:
        condition=False
print (condition)

In [ ]:
#Convert two lists into a dictionary
keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30]
h = dict(zip(keys,values))
print(h)

In [ ]:
keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30]
d = dict()
for i in range(len(keys)):
    d.update({keys[i]:values[i]})
    
print(d)

In [ ]:
 #Merge two Python dictionaries into one
dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}
dict1.update(dict2)
print(dict1)

In [ ]:
dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}
dict3 = {**dict1,**dict2}
print(dict3)

In [ ]:
def update(a,b):
    a.update(b)
    return a
d1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
d2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}
update(dict1,dict2)

In [ ]:
dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

dict3 = dict1.copy()      #THIS WILL ADDING NEW LIST
dict3.update(dict2)
print(dict3)

In [ ]:
# Print the value of key ‘history’ from the below

sample = {
    "class": {
        "student": {
            "name": "Mike",
            "marks": {
                "physics": 70,
                "history": 80
            }
        }
    }
}

sample['class']['student']['marks']['history']

In [ ]:
#Initialize dictionary with default values
emp = ['Kelly', 'Emma']
de = {"designation": 'Developer', "salary": 8000}
a = dict.fromkeys(emp,de)
print(a["Kelly"])
print(a["Emma"])

In [ ]:
emp = ['Kelly', 'Emma']
de = {"designation": 'Developer', "salary": 8000}
for i in emp:
    for j in de:
        print(i+j)

In [ ]:
emp = ['Kelly', 'Emma']
de = {"designation": 'Developer', "salary": 8000}

a = dict(zip(emp,de))
print(a)

In [ ]:
emp = ['Kelly', 'Emma']
de = {"designation": 'Developer', "salary": 8000}
a = dict.fromkeys(emp,de)
print(a)

In [ ]:
#Create a dictionary by extracting the keys from a given dictionary
sample_dict = {
    "name": "Kelly",
    "age": 25,
    "salary": 8000,
    "city": "New york"}

# Keys to extract : - keys = ["name", "salary"]
keys = ["name", "salary"]
for i in keys:
    a = {i :sample_dict[i] }
    print(a)

In [ ]:
sample_dict = {
    "name": "Kelly",
    "age": 25,
    "salary": 8000,
    "city": "New york"}

keys = ["name", "salary"]

a = {i :sample_dict[i] for i in keys}
print(a)

In [ ]:
sample_dict = {
    "name": "Kelly",
    "age": 25,
    "salary": 8000,
    "city": "New york"}
keys = ["name", "salary"]
d = dict()
for i in keys:
    d.update({i:sample_dict[i]})
    
print(d)

In [ ]:
#Delete a list of keys from a dictionary
sample = {
    "name": "Kelly",
    "age": 25,
    "salary": 8000,
    "city": "New york"
}

# Keys to remove : - keys = ["name", "salary"]

keys = ["name", "salary"]
for i in keys:
    sample.pop(i)
print(sample)

In [ ]:
sample = {
    "name": "Kelly",
    "age": 25,
    "salary": 8000,
    "city": "New york"
}

# Keys to remove : - keys = ["name", "salary"]

keys = ["name", "salary"]
for i in keys:
    sample.remove(i)
print(sample)

In [ ]:
sample = {
    "name": "Kelly",
    "age": 25,
    "salary": 8000,
    "city": "New york"
}

# Keys to remove : - keys = ["name", "salary"]

keys = ["name", "salary"]
for i in sample.keys()-keys:
    a = {i:sample[i]}
    print(a)

In [ ]:
keys = ["name", "salary"]
a = {i:sample[i] for i in sample.keys()-keys}    
print(a)

In [ ]:
#Write a Python program to check if value 200 exists in the following dictionary.
sample = {'a': 100, 'b': 200, 'c': 300}
for i in sample:
    if sample[i] == 200:
        print("yes!, value of 200 present inside dictionary")

In [ ]:
sample = {'a': 100, 'b': 200, 'c': 300}
y = sample.values()
for i in y:
    if i == 200:
        print("200 present in dict")

In [ ]:
sample = {'a': 100, 'b': 200, 'c': 300}
y = sample.values()
if 200 in sample.values():
    print("200 present inside dictionary")

In [ ]:
#Rename key of a dictionary
samp = {
  "name": "Kelly",
  "age":25,
  "salary": 8000,
  "city": "New york"
}

samp["location"] = samp.pop("city")
samp

In [ ]:
#Get the key of a minimum value from the following dictionary
sam = {
  'Physics': 82,
  'Math': 65,
  'history': 75
}

print(min(sam, key = sam.get))

In [ ]:
#Get the key of a maximum value from the following dictionary
sam = {
  'Physics': 82,
  'Math': 65,
  'history': 75
}

print(max(sam, key = sam.get))

In [ ]:
#Change value of a key in a nested dictionary

sample = {
    'emp1': {'name': 'Jhon', 'salary': 7500},
    'emp2': {'name': 'Emma', 'salary': 8000},
    'emp3': {'name': 'Brad', 'salary': 500}
}

sample["emp3"]['salary'] = 8500
print(sample)

In [ ]:
keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30]

d = dict.fromkeys(keys)
for i, k in enumerate(d.keys()):
    d[k] = values[i]
print(d)

In [ ]:
sampleDict = {"class": {"student": {"name": "Mike", "marks": {"physics": 70, "history": 80}}}}
for key, value in sampleDict['class']['student']['marks'].items():
    if key == 'history':
        print(value)

In [ ]:
keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30]

my_dict = {k:v for k,v in zip(keys, values)}
my_dict

In [ ]:
 sampleDict = {
  "name": "Kelly",
  "age":25,
  "salary": 8000,
  "city": "New york"}
keysToRemove = ["name", "salary"]
for i in keysToRemove:
    del sampleDict[i]
print(sampleDict)

In [ ]:
sampleDict = {
  "name": "Kelly",
  "age":25,
  "salary": 8000,
  "city": "New york"
}

keys=["name","salary"]
for k in keys:
    print(k,':',sampleDict[k])

In [ ]:
# Add a list of elements to a set
sam = {"Yellow", "Orange", "Black"}
list1 = ["Blue", "Green", "Red"]
sam.update(list1)
print(a)

In [ ]:
samp = {"Yellow", "Orange", "Black"}
sample = ["Blue", "Green", "Red"]

samp = set(list(samp) + sample)

print(samp)

In [ ]:
#Return a new set of identical items from two sets
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

print(set1.intersection(set2))

In [ ]:
# add list inside list and remove repetative numbers
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

set1.update(set2)
print(set1)

In [ ]:
# Get Only unique items from two sets
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
a = set1.union(set2)    # it will add set in the form of unordered data
print(a)
a

In [ ]:
# Update the first set with items that don’t exist in the second set
set1 = {10, 20, 30}
set2 = {20, 40, 50}
set1.difference_update(set2)
print(set1)

In [ ]:
set1 = {10, 20, 30}
set2 = {20, 40, 50}

for i in list(set1):
    if i in set2:
        set1.remove(i)
set(set1)
print(set1)

In [ ]:
#Write a Python program to remove items 10, 20, 30 from the following set at once
set1 = {10, 20, 30, 40, 50}
set1.difference_update({10,20,30})
print(set1)

In [ ]:
#Return a set of elements present in Set A or B, but not both
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
a = set1.symmetric_difference(set2)
print(a)

In [ ]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
set1.symmetric_difference_update(set2)
print(set1)

In [ ]:
# Check if two sets have any elements in common
#If yes,display the common elements
set1 = {10, 20, 30, 40, 50}
set2 = {60, 70, 80, 90, 10}
set1.isdisjoint(set2)
a  = set1.intersection(set2)
print("two set have common item is :",a)

In [ ]:
set1 = {10, 20, 30, 40, 50}
set2 = {60, 70, 80, 90, 10}
set1.isdisjoint(set2)
set1.intersection_update(set2)
print("two set have common item is :", set1)

In [ ]:
#Update set1 by adding items from set2, except common items
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
a = set1.symmetric_difference(set2)
print(a)

In [ ]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
a = set1.symmetric_difference_update(set2)
print(set1)

In [ ]:
#Remove items from set1 that are not common to both set1 and set2
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
set1.intersection_update(set2)
print(set1)

In [ ]:
sampleSet = {"Yellow", "Orange", "Black"}
sampleList = ["Blue", "Green", "Red"]
sampleSet.update(sampleList)
print(sampleSet)

#2 COMMON NUMBERS
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
set3=set1&set2
print(set3)

#3 ONE COMPLETE LIST
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
set3=set1|set2
print(set3)

#4 REMOVE NUMBER OF LIST2
set1 = {10, 20, 30}
set2 = {20, 40, 50}
set3=set1-set2
print(set3)

#5 NOT COMMAN NUMBER 
set1 = {10, 20, 30, 40, 50}
set2={10,20,30}
print(set1-set2)

#6 ONE LIST HAVING NOT COMMAN VARIBALES
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
print(set1^set2)

#7 COMMAN NUMBER
set1 = {10, 20, 30, 40, 50}
set2 = {60, 70, 80, 90, 10}
print(set1&set2)

#8  ONE LIST HAVING NOT COMMAN VARIBALES
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
print(set1^set2)

#9 COMMAN NUMBERS
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
print(set1&set2)

In [ ]:
# Print current date and time in Python
import datetime

print(datetime.datetime.now())
print(datetime.datetime.now().time())

In [ ]:
from time import gmtime, strftime

print(strftime("%Y-%m-%d %H:%M:%S", gmtime()))

In [ ]:
#Convert string into a datetime object
date_string = "Feb 25 2020 4:20PM"
from datetime import datetime

date_string = "Feb 25 2020  4:20PM"
datetime_object = datetime.strptime(date_string, '%b %d %Y %I:%M%p')
print(datetime_object)

In [ ]:
#Subtract a week (7 days)  from a given date in Python
given_date = datetime(2020, 2, 25)
from datetime import datetime, timedelta

given_date = datetime(2020, 2, 25)
print("Given date")
print(given_date)

days_to_subtract = 7
res_date = given_date - timedelta(days=days_to_subtract)
print("New Date")
print(res_date)

In [ ]:
#Print a date in a the following format
from datetime import datetime, timedelta

given_date = datetime(2020, 2, 25)
print("Given date")
print(given_date)

days_to_subtract = 7
res_date = given_date - timedelta(days=days_to_subtract)
print("New Date")
print(res_date)

In [ ]:
#Print a date in a the following format
given_date = datetime(2020, 2, 25)
from datetime import datetime

given_date = datetime(2020, 2, 25)
print("Given date is")
print(given_date.strftime('%A %d %B %Y'))

In [ ]:
#Find the day of the week of a given date
given_date = datetime(2020, 7, 26)
from datetime import datetime

given_date = datetime(2020, 7, 26)

# to get weekday as integer
print(given_date.today().weekday())

# To get the english name of the weekday
print(given_date.strftime('%A'))

In [ ]:
import calendar
from datetime import datetime

given_date = datetime(2020, 7, 26)
weekday = calendar.day_name[given_date.weekday()]
print(weekday)

In [ ]:
# Add a week (7 days) and 12 hours to a given date
# 2020-03-22 10:00:00
given_date = datetime(2020, 3, 22, 10, 0, 0)

from datetime import datetime, timedelta

given_date = datetime(2020, 3, 22, 10, 00, 00)
print("Given date")
print(given_date)

days_to_add = 7
res_date = given_date + timedelta(days=days_to_add, hours=12)
print("New Date")
print(res_date)

In [ ]:
# Print current time in milliseconds
import time

milliseconds = int(round(time.time() * 1000))
print(milliseconds)

In [ ]:
# Convert the following datetime into a string
given_date = datetime(2020, 2, 25)
from datetime import datetime

given_date = datetime(2020, 2, 25)
string_date = given_date.strftime("%Y-%m-%d %H:%M:%S")
print(string_date)

In [ ]:
#Calculate the date 4 months from the current date
# 2020-02-25
given_date = datetime(2020, 2, 25).date()
from datetime import datetime

from dateutil.relativedelta import relativedelta

# 2020-02-25
given_date = datetime(2020, 2, 25).date()

months_to_add = 4
new_date = given_date + relativedelta(months=+ months_to_add)
print(new_date)

In [ ]:
# Calculate number of days between two given dates
# 2020-02-25
date_1 = datetime(2020, 2, 25)

# 2020-09-17
date_2 = datetime(2020, 9, 17)
from datetime import datetime

# 2020-02-25
date_1 = datetime(2020, 2, 25).date()
# 2020-09-17
date_2 = datetime(2020, 9, 17).date()

delta = None
if date_1 > date_2:
    print("date_1 is greater")
    delta = date_1 - date_2
else:
    print("date_2 is greater")
    delta = date_2 - date_1
print("Difference is", delta.days, "days")

In [ ]:
#OBJECT ORIENTED PROGRAMMING

In [ ]:
"""Write a Python program to create a Vehicle class with max_speed 
and mileage instance attributes."""

class vehical():
    def __init__(self,max_speed,mileage):
        self.max_speed = max_speed
        self.mileage = mileage

    #def desc(self):
        #print(max_speed,mileage)
        

a = vehical(250,60) 
print(a.max_speed,a.mileage)

In [ ]:
#Create a Vehicle class without any variables and methods

class vehical():
    pass

In [ ]:
#Create a child class Bus that will inherit all of the variables and methods of the Vehicle class

class vehical():
    def __init__(self,name,mileage,mspeed):
        self.name = name
        self.mspeed = mspeed
        self.mileage = mileage
        
class bus(vehical):
    #def car(self):
       # print("the car class is ")
    
    a = bus('toyota', 250,  60)
    print("name is:",a.name,"\nmax speed is:", a.mspeed,"\nmileage is:", a.mileage)

In [ ]:
class vehical():
    def __init__(self,name,mileage,mspeed):
        self.name = name
        self.mspeed = mspeed
        self.mileage = mileage
        
class bus(vehical):
    pass


a = bus('toyota', 250,  60)
print("name is:",a.name,"\nmax speed is:", a.mspeed,"\nmileage is:", a.mileage)

In [ ]:
#Create a Bus class that inherits from the Vehicle class.
#Give the capacity argument of Bus.seating_capacity() a default value of 50.
class Vehicle:
    def __init__(self, name, max_speed, mileage):
        self.name = name
        self.max_speed = max_speed
        self.mileage = mileage

    def seating_capacity(self, capacity):
        return f"The seating capacity of a {self.name} is {capacity} passengers"

class Bus(Vehicle):
    # assign default value to capacity
    def seating_capacity(self, capacity=50):
        return super().seating_capacity(capacity=50)

School_bus = Bus("School Volvo", 180, 12)
print(School_bus.seating_capacity())

In [ ]:
class Vehicle:
    # Class attribute
    color = "White"

    def __init__(self, name, max_speed, mileage):
        self.name = name
        self.max_speed = max_speed
        self.mileage = mileage
class bus(Vehicle):
    pass

class car(Vehicle):
    pass

a = bus("ashok layland",300,35)
print(a.color, ",", a.name,"speed:", a.max_speed,"mileage:", a.mileage)
b = car("Nexon", 350, 65)
print(b.color, ",", b.name, "speed:", b.max_speed,"mileage :",b.mileage)

In [ ]:
#Write a program to determine which class a given Bus object belongs to.

class Vehicle:
    def __init__(self, name, mileage, capacity):
        self.name = name
        self.mileage = mileage
        self.capacity = capacity

class Bus(Vehicle):
    pass

School_bus = Bus("School Volvo", 12, 50)
print(type(School_bus))

In [ ]:
class Vehicle:
    def __init__(self, name, mileage, capacity):
        self.name = name
        self.mileage = mileage
        self.capacity = capacity

class Bus(Vehicle):
    pass

School_bus = Bus("School Volvo", 12, 50)

# Python's built-in type()
print(type(School_bus))

In [ ]:
#Determine if School_bus is also an instance of the Vehicle class

class Vehicle:
    def __init__(self, name, mileage, capacity):
        self.name = name
        self.mileage = mileage
        self.capacity = capacity

class Bus(Vehicle):
    pass

School_bus = Bus("School Volvo", 12, 50)
print(isinstance(School_bus,Vehicle))

In [ ]:
#Generate 3 random integers between 100 and 999 which is divisible by 5

import random

print("Generating 3 random integer number between 100 and 999 divisible by 5")
for num in range(3):
    print(random.randrange(100, 999, 5), end=', ')

In [ ]:
#Random Lottery Pick. Generate 100 random lottery tickets and pick two lucky tickets from it as a winner

import random

list1 = []
print("creating 100 random lottery tickets")
for i in range(100):
    
    list1.append(random.randrange(1000000000, 9999999999))

winners = random.sample(list1, 2)
print("Lucky 2 lottery tickets are", winners)

In [ ]:
#Generate 6 digit random secure OTP
import random

name = 'pynativ'
char = random.choice(name)
print("random char is ", char)

In [ ]:
#Generate random String of length 5

import random
import string

def randomString(stringLength):
    """Generate a random string of 5 charcters"""
    letters = string.ascii_letters
    return ''.join(random.choice(letters) for i in range(stringLength))

print ("Random String is ", randomString(5) )

In [ ]:
#Generate a random Password which meets the following conditions

import random
import string

def randomPassword():
    randomSource = string.ascii_letters + string.digits + string.punctuation
    password = random.sample(randomSource, 6)
    password += random.sample(string.ascii_uppercase, 2)
    password += random.choice(string.digits)
    password += random.choice(string.punctuation)

    passwordList = list(password)
    random.SystemRandom().shuffle(passwordList)
    password = ''.join(passwordList)
    return password

print ("Password is ", randomPassword())